<%= h1 t(".title") do %>
  <span class="nhsuk-caption-l"><%= @team.name %></span>
  <%= t(".title") %>
<% end %>

<%= render AppCardComponent.new do |card| %>
  <% card.with_heading { "Contact details" } %>

  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Email address" }
          row.with_value { @team.email }
        end
      
        summary_list.with_row do |row|
          row.with_key { "Phone number" }
          row.with_value { @team.phone }
        end
      end %>
<% end %>

<%= render AppCardComponent.new do |card| %>
  <% card.with_heading { "Session defaults" } %>

  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Send consent requests" }
          row.with_value { "#{pluralize(@team.weeks_between_first_session_and_consent_requests, "week")} before first session" }
        end
      
        summary_list.with_row do |row|
          row.with_key { "Days before first reminder" }
          row.with_value { "#{pluralize(@team.days_between_consent_requests_and_first_reminders, "day")} after first consent request" }
        end
      
        summary_list.with_row do |row|
          row.with_key { "Days between each reminder" }
          row.with_value { pluralize(@team.days_between_subsequent_consent_reminders, "day") }
        end
      
        summary_list.with_row do |row|
          row.with_key { "Maximum number of reminders" }
          row.with_value { @team.maximum_number_of_consent_reminders.to_s }
        end
      
        summary_list.with_row do |row|
          row.with_key { "Prefer text messages for reminders" }
          row.with_value { @team.send_updates_by_text ? "Yes" : "No" }
        end
      end %>
<% end %>
