<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("sessions.index.title"), href: sessions_path },
                                          { text: session_location(@session), href: session_path(@session) },
                                        ]) %>
<% end %>

<%= h1 "Class report (uploaded #{@class_import.created_at.to_fs(:long)})" %>

<% unless @class_import.recorded? %>
  <p>
    This import is still processing. Please check back later.
  </p>
<% else %>
  <%= render AppCardComponent.new do |card| %>
    <% card.with_heading { "Class report" } %>

    <%= govuk_summary_list(
          classes: %w[app-summary-list--no-bottom-border
                      nhsuk-u-margin-bottom-0],
        ) do |summary_list| %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key { "Uploaded on" } %>
        <%= row.with_value { @class_import.created_at.to_fs(:long) } %>
      <% end %>

      <%= summary_list.with_row do |row| %>
        <%= row.with_key { "Uploaded by" } %>
        <%= row.with_value { @class_import.uploaded_by.full_name } %>
      <% end %>

      <%= summary_list.with_row do |row| %>
        <%= row.with_key { "Session" } %>
        <%= row.with_value { session_location(@session) } %>
      <% end %>
    <% end %>
  <% end %>

  <%= render AppPatientTableComponent.new(@patients, count: @pagy.count) %>

  <%= govuk_pagination(pagy: @pagy) %>
<% end %>
