<%= h1 "#{@service_name} (Mavis)", size: "xl" %>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: programmes_path) do |c| %>
      <% c.with_heading { t("programmes.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>import child records</li>
        <li>organise school sessions</li>
        <li>report vaccinations</li>
      </ul>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: sessions_path) do |c| %>
      <% c.with_heading { t("sessions.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>review consent responses</li>
        <li>triage health records</li>
        <li>record vaccinations</li>
        <li>review session outcomes</li>
      </ul>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: vaccines_path) do |c| %>
      <% c.with_heading { t("vaccines.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>add new vaccine batches</li>
        <li>edit details for existing batches</li>
      </ul>
    <% end %>
  </li>
</ul>

<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
  <%= link_to "Add a new session", sessions_path,
              class: "nhsuk-link--no-visited-state" %>
</h2>
<p>Create a new session or clinic for a programme.</p>

<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
  <%= link_to "Your account", users_account_path(current_user),
              class: "nhsuk-link--no-visited-state" %>
</h2>
<p>Change your email address, name, or registration number.</p>
