<%= h1 "#{@service_name} (Mavis)", size: "xl" %>

<% if (count = @notices_count) %>
  <%= render AppWarningCalloutComponent.new(heading: "Important notices") do %>
    <p><%= link_to t(".notices.description", count:), imports_notices_path %></p>
  <% end %>
<% end %>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: programmes_path) do |card| %>
      <% card.with_heading(level: 2) { t("programmes.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>import child records</li>
        <li>organise vaccination sessions</li>
        <li>report vaccinations</li>
      </ul>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: sessions_path) do |card| %>
      <% card.with_heading(level: 2) { t("sessions.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>review consent responses</li>
        <li>triage health records</li>
        <li>record vaccinations</li>
        <li>review session outcomes</li>
      </ul>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: patients_path) do |card| %>
      <% card.with_heading(level: 2) { t("patients.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>find child records</li>
        <li>view child vaccinations</li>
      </ul>
    <% end %>
  </li>
</ul>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: consent_forms_path, secondary: true) do |card| %>
      <% card.with_heading(level: 2, size: "s") { t("consent_forms.index.title") } %>
      <% card.with_description { "Review incoming consent responses that can’t be automatically matched" } %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: school_moves_path, secondary: true) do |card| %>
      <% card.with_heading(level: 2, size: "s") { t("school_moves.index.title") } %>
      <% card.with_description { "Review children who have moved schools" } %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: imports_path, secondary: true) do |card| %>
      <% card.with_heading(level: 2, size: "s") { t("imports.index.title") } %>
      <% card.with_description { "Import child, cohort and vaccination records and see important notices" } %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: vaccines_path, secondary: true) do |card| %>
      <% card.with_heading(level: 2, size: "s") { t("vaccines.index.title") } %>
      <% card.with_description { "Add and edit vaccine batches" } %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: team_path, secondary: true) do |card| %>
      <% card.with_heading(level: 2, size: "s") { t("teams.show.title") } %>
      <% card.with_description { "Manage your team’s settings" } %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: @service_guide_url, secondary: true) do |card| %>
      <% card.with_heading(level: 2, size: "s") { t("service.guide.title") } %>
      <% card.with_description { "How to use this service" } %>
    <% end %>
  </li>
</ul>
