<%= h1 "#{@service_name} (Mavis)", size: "xl" %>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: programmes_path) do |card| %>
      <% card.with_heading { t("programmes.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>import child records</li>
        <li>organise vaccination sessions</li>
        <li>report vaccinations</li>
      </ul>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: sessions_path) do |card| %>
      <% card.with_heading { t("sessions.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>review consent responses</li>
        <li>triage health records</li>
        <li>record vaccinations</li>
        <li>review session outcomes</li>
      </ul>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: patients_path) do |card| %>
      <% card.with_heading { t("patients.index.title") } %>
      <p class="nhsuk-body">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>find child records</li>
        <li>view child vaccinations</li>
      </ul>
    <% end %>
  </li>
</ul>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <% if Flipper.enabled?(:release_1b) %>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <%= render AppCardComponent.new(link_to: vaccines_path, secondary: true) do |card| %>
        <% card.with_heading { t("vaccines.index.title") } %>
        <% card.with_description { "Add and edit vaccine batches" } %>
      <% end %>
    </li>
  <% end %>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: consent_forms_path, secondary: true) do |card| %>
      <% card.with_heading { t("consent_forms.index.title") } %>
      <% card.with_description { "Review incoming consent responses that can’t be automatically matched" } %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: notices_path, secondary: true) do |card| %>
      <% card.with_heading { t("notices.index.title") } %>
      <% card.with_description { "View notices about important updates to patient records" } %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: organisation_path, secondary: true) do |card| %>
      <% card.with_heading { t("organisations.show.title") } %>
      <% card.with_description { "Manage your organisation’s settings" } %>
    <% end %>
  </li>
</ul>
