<%= h1 "#{@service_name} (Mavis)", size: "xl" %>

<% if (count = @notices_count) %>
  <%= render AppWarningCalloutComponent.new(heading: "Important notices") do %>
    <p><%= link_to t(".notices.description", count:), imports_notices_path %></p>
  <% end %>
<% end %>

<% if Flipper.enabled?(:statuses_changed_banner) %>
  <%= render AppWarningCalloutComponent.new(heading: "New updates for programme statuses – 28 November 2025") do %>
    <p>We’ve made further updates to the programme statuses shown in Mavis, to make them clearer.</p>
    <p>We’ve also <b>removed</b> the <b>Consent</b> and <b>Triage</b> tabs from sessions because the information they held is now shown on the <b>Children</b> tab.</p>
    <p><%= link_to "Read about the latest changes in the user guide ",
                   "https://guide.manage-vaccinations-in-schools.nhs.uk/changes-to-programme-statuses/" %></p>
  <% end %>
<% end %>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <% @primary_items.each do |item| %>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <%= render AppCardComponent.new(link_to: item[:path], disabled: item[:path].nil?) do |card| %>
        <% card.with_heading(level: 2) { item.fetch(:title) } %>
        <p class="nhsuk-body">Use this area to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <% item.fetch(:description).each do |description| %>
            <li><%= description %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <% @secondary_items.each do |item| %>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <%= render AppCardComponent.new(link_to: item.fetch(:path), secondary: true) do |card| %>
        <% card.with_heading(level: 2, size: "s") { item.fetch(:title) } %>
        <% card.with_description { item.fetch(:description) } %>
      <% end %>
    </li>
  <% end %>
</ul>
