<%= h1 "#{@service_name} (Mavis)", size: "xl" %>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: sessions_path) do |c| %>
      <% c.with_heading { t("sessions.index.title") } %>
      <% c.with_description do %>
        View all sessions taking place today.
      <% end %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: campaigns_path) do |c| %>
      <% c.with_heading { t("campaigns.index.title") } %>
      <% c.with_description do %>
        Create and manage vaccination campaigns.
      <% end %>
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: vaccines_path) do |c| %>
      <% c.with_heading { t("vaccines.index.title") } %>
      <% c.with_description do %>
        Add or remove batches.
      <% end %>
    <% end %>
  </li>
</ul>

<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
  <%= link_to "Add a new session", sessions_path,
              class: "nhsuk-link--no-visited-state" %>
</h2>
<p>Create a new session or clinic for a campaign.</p>

<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
  <%= link_to "Your account", users_account_path(current_user),
              class: "nhsuk-link--no-visited-state" %>
</h2>
<p>Change your email address, name, or registration number.</p>
