<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: new_programme_cohort_import_path(@programme),
        name: @programme.name,
      ) %>
<% end %>

<% title = "Cohort records cannot be uploaded" %>

<%= h1 title, page_title: "#{@programme.name} – #{title}" %>

<p class="nhsuk-body">
  The records cannot be uploaded due to errors in the CSV file.
  When fixing these errors, note that the header does not count as a row.
</p>

<% @cohort_import.errors.each do |error| %>
  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
    <% if error.attribute == :csv %>
      CSV
    <% else %>
      <%= error.attribute.to_s.humanize %>
    <% end %>
  </h2>

  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-font-size-16">
    <% if error.type.is_a?(Array) %>
      <% error.type.each do |type| %>
        <li><%= sanitize type %></li>
      <% end %>
    <% else %>
      <li><%= sanitize error.type %></li>
    <% end %>
  </ul>
<% end %>
