<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: programme_cohorts_path(@programme),
        name: @programme.name,
      ) %>
<% end %>

<% title = "Import child records" %>
<% hint = "Make sure the CSV you import has the same format as your usual template for child records." %>

<% content_for :page_title, title %>

<%= form_with model: @cohort_import, url: programme_cohort_imports_path do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_file_field :csv,
                         caption: { text: @programme.name, size: "l" },
                         label: { text: title, tag: "h1", size: "l" },
                         hint: { text: hint } %>


  <%= govuk_details(summary_text: "How to format your cohort import") do %>
    <p class="nhsuk-body">Make sure the CSV you upload uses the following columns:</p>

    <%= govuk_table(classes: "app-table--small") do |table|
          table.with_head do |head|
            head.with_row do |row|
              row.with_cell(text: "Column name")
              row.with_cell(text: "Notes")
            end
          end
        
          table.with_body do |body|
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_FIRST_NAME")
              end
              row.with_cell do
                tag.strong("Required")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_LAST_NAME")
              end
              row.with_cell do
                tag.strong("Required")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_DATE_OF_BIRTH")
              end
              row.with_cell do
                tag.strong("Required")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_NHS_NUMBER")
              end
              row.with_cell(text: "Optional, must be 10 digits and numeric")
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_ADDRESS_LINE_1")
              end
              row.with_cell(text: "Optional")
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_ADDRESS_LINE_2")
              end
              row.with_cell(text: "Optional")
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_ADDRESS_TOWN")
              end
              row.with_cell(text: "Optional")
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_ADDRESS_POSTCODE")
              end
              row.with_cell do
                tag.strong("Required") + ", must be formatted as a valid postcode."
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("CHILD_SCHOOL_URN")
              end
              row.with_cell do
                tag.strong("Required") + ", must be 6 digits and numeric."
              end
            end
        
            %w(PARENT_1 PARENT_2).each do |prefix|
              body.with_row do |row|
                row.with_cell do
                  tag.code("#{prefix}_NAME")
                end
                row.with_cell(text: "Optional")
              end
        
              body.with_row do |row|
                row.with_cell do
                  tag.code("#{prefix}_RELATIONSHIP")
                end
                row.with_cell(text: "Optional, must be one of: Mother, Father, Guardian")
              end
        
              body.with_row do |row|
                row.with_cell do
                  tag.code("#{prefix}_EMAIL")
                end
                row.with_cell(text: "Optional, must be formatted as a valid email address.")
              end
        
              body.with_row do |row|
                row.with_cell do
                  tag.code("#{prefix}_PHONE")
                end
                row.with_cell(text: "Optional, must be formatted as a valid phone number.")
              end
            end
          end
        end %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
