<tr class="govuk-table__row"
    data-controller="vaccination"
    data-vaccination-id-value="<%= child.id %>">
    <td class="govuk-table__cell" id="<%= dom_id child %>">
        <%= link_to child.full_name, campaign_vaccination_path(@campaign, child) %>
    </td>
    <td class="govuk-table__cell" style="width: 150px">
        <%= child.dob.strftime("%d %b %Y") %>
    </td>
    <td class="govuk-table__cell">
        <%= child.screening %>
    </td>
    <td class="govuk-table__cell" data-vaccination-target="status">
    </td>
</tr>
