<tr class="govuk-table__row">
    <td class="govuk-table__cell" id="<%= dom_id child %>">
        <%= link_to child.full_name, campaign_vaccination_path(@campaign, child) %>
    </td>
    <td class="govuk-table__cell" style="width: 150px">
        <%= child.dob.strftime("%d %b %Y") %>
    </td>
    <td class="govuk-table__cell">
        <%= child.screening %>
    </td>
    <td class="govuk-table__cell">
      <% if child.seen == "Vaccinated" %>
        <strong class="nhsuk-tag">
          <%= child.seen %>
        </strong>
      <% else %>
        <strong class="nhsuk-tag nhsuk-tag--grey">
          <%= child.seen %>
        </strong>
      <% end %>
    </td>
</tr>
