<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="search-<%= id %>">
        By name
      </label>
      <input class="nhsuk-input" id="search-<%= id %>" name="search" type="text" aria-describedby="search-hint">
    </div>
    <script>
      function filterTable() {
        var inputValue = document.getElementById("search-<%= id %>").value.toLowerCase();
        var rows = document.getElementById("patients-<%= id %>").querySelectorAll("tbody tr");

        for (var i = 0; i < rows.length; i++) {
          var nameCell = rows[i].getElementsByTagName("td")[0];
          var name = nameCell.textContent || nameCell.innerText;
          if (name.toLowerCase().indexOf(inputValue) > -1) {
            rows[i].style.display = "";
          } else {
            rows[i].style.display = "none";
          }
        }
      }
      document.getElementById("search-<%= id %>").addEventListener("input", filterTable);
    </script>
  </div>
  <div class="nhsuk-grid-column-three-quarters" id="patients-<%= id %>">
    <% if patient_sessions.any? %>
      <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header">Name</th>
            <th class="nhsuk-table__header">Date of birth</th>
            <th class="nhsuk-table__header" style="width: 200px">Action needed</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <% patient_sessions.each do |patient_session| %>
            <%= render "patient_row", patient_session: %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render "layouts/empty_list", message: "We couldn’t find any children that matched your filters." %>
    <% end %>
  </div>
</div>
