<tr class="govuk-table__row">
  <td class="govuk-table__cell" id="<%= dom_id patient %>">
    <%= link_to patient.full_name, session_vaccination_path(@session, patient),
      "data-testid": "child-link" %>
  </td>
  <td class="govuk-table__cell" style="width: 150px">
    <%= patient.dob.strftime("%d %b %Y") %>
  </td>
  <td class="govuk-table__cell">
    <%= patient.consent %>
  </td>
  <td class="govuk-table__cell" data-testid="child-status">
    <%= render(AppStatusTagComponent.new(status: PatientSession.human_enum_name("outcome", outcome),
                                         colour: vaccination_status_colour(outcome),
                                         icon: vaccination_status_icon(outcome))) %>
  </td>
</tr>
