<h1 class="nhsuk-heading-l" id="<%= dom_id patient %>">
  <%= patient.full_name %>
</h1>

<% if @vaccination_record&.administered? %>
  <%= render AppBannerComponent.new(
                title: "Vaccinated",
                explanation: @consent_response.present? ? "Their #{@consent_response.who_responded.downcase} gave consent" : "",
                colour: "green"
              ) %>

<% end %>

<div data-controller="child-vaccination">
  <% if @consent_response.present? %>
    <% if @consent_response.consent_refused? %>
      <%= render AppBannerComponent.new(
              title: "Their #{@consent_response.who_responded.downcase} has refused to give consent",
              colour: "orange"
            ) %>
    <% end %>

    <div class="nhsuk-card" id="consent">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          Consent
        </h2>

        <%= render "triage/patient_triage_consent_response", consent_response: @consent_response %>
      </div>
    </div>
    <% else %>
      <%= render AppBannerComponent.new(
                  title: "No-one responded to our requests for consent",
                  colour: "yellow"
                ) %>
    <% end %>

  <%= render AppPatientCardComponent.new(patient: @patient, session: @session) %>

  <% if @consent_response&.health_questions.present? %>
    <div class="nhsuk-card" id="consent">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          Medical history
        </h2>

        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Show answers
            </span>
          </summary>

          <div class="nhsuk-details__text">
            <%= render AppHealthQuestionsComponent.new(consent_response: @consent_response) %>
          </div>
        </details>
      </div>
    </div>
  <% end %>


  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <%= form_with model: @draft_vaccination_record,
                    url: confirm_session_vaccination_path(
                      session_id: @session.id,
                      id: @patient.id,
                    ),
                    method: :post do |f| %>
        <% content_for(:before_content) { f.govuk_error_summary } %>

        <%= f.govuk_radio_buttons_fieldset(:administered,
          legend: { size: 'm', text: 'Did they get the vaccine?' }) do %>
          <p>They need their 1st dose.</p>

          <%= f.govuk_radio_button :administered, true,
            label: { text: 'Yes, they got the HPV vaccine' },
            link_errors: true do %>
            <%= f.govuk_collection_radio_buttons :site,
              vaccination_site_options,
              :id,
              :name,
              :description,
              inline: true,
              legend: {
                size: 'm',
                text: 'Where did they get it?',
                hidden: true
              } %>
          <% end %>
          <%= f.govuk_radio_button :administered, false,
            label: { text: 'No, they did not get it' } %>
        <% end %>

        <%= f.submit "Continue", class: "nhsuk-button" %>
      <% end %>
    </div>
  </div>
</div>
