<tr class="nhsuk-table__row">
  <td class="nhsuk-table__cell" id="<%= dom_id patient_session.patient %>">
    <%= link_to patient_session.patient.full_name,
                session_patient_vaccinations_path(patient_session.session, patient_session.patient),
      "data-testid": "child-link" %>
    <% if patient_session.patient.common_name.present? %>
      <br>
      <span class="nhsuk-u-font-size-16">Known as: <%= patient_session.patient.common_name %></span>
    <% end %>
  </td>
  <td class="nhsuk-table__cell" style="width: 150px" data-filter="<%= patient_session.patient.date_of_birth.strftime("%d/%m/%Y") %>" data-sort="<%= patient_session.patient.date_of_birth %>">
    <%= patient_session.patient.date_of_birth.to_fs(:nhsuk_date_short_month) %>
  </td>
  <td class="nhsuk-table__cell" data-testid="child-action">
    <%= govuk_tag(
      classes: "nhsuk-u-font-size-16 nhsuk-u-width-full",
      text: status_text_for_state(patient_session.state),
      colour: t("patient_session_statuses.#{patient_session.state}.colour")
    ) %>
  </td>
</tr>
