<tr class="govuk-table__row"
  data-controller="vaccination"
  data-vaccination-id-value="<%= patient.id %>"
  data-testid="children">
  <td class="govuk-table__cell" id="<%= dom_id patient %>">
    <%= link_to patient.full_name, session_vaccination_path(@session, patient),
      "data-testid": "child-link" %>
  </td>
  <td class="govuk-table__cell" style="width: 150px">
    <%= patient.dob.strftime("%d %b %Y") %>
  </td>
  <td class="govuk-table__cell">
    <%= patient.consent %>
  </td>
  <td class="govuk-table__cell" data-vaccination-target="status"
                                data-testid="child-status">

    <strong class="nhsuk-tag<%=
      patient.seen == "Not yet" ? " nhsuk-tag--grey" : "" %>">
      <%= patient.seen %>
    </strong>
  </td>
</tr>
