<h2 class="nhsuk-u-heading-s" id="<%= dom_id patient %>">
  <%= patient.full_name %>
</h2>

<div data-controller="child-vaccination">
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h1 class="nhsuk-card__heading nhsuk-heading-m">
        Child details
      </h1>

      <dl class="nhsuk-summary-list app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value" data-child-vaccination-target="fullName" data-testid="full-name">
            <%= patient.full_name %>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value" data-child-vaccination-target="dob">
            <%= patient.dob&.strftime("%d %B %Y") %> (aged <%= patient.dob ? patient.age : "" %>)
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            GP
          </dt>
          <dd class="nhsuk-summary-list__value" data-child-vaccination-target="gp">
            <%= patient.gp %>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS Number
          </dt>
          <dd class="nhsuk-summary-list__value" data-child-vaccination-target="nhsNumber">
            <%= patient.nhs_number %>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <% if Settings.features.fhir_server_integration %>
    <p>
      <%= link_to "View vaccination history",
                  history_session_vaccination_path(session_id: @session.id,
                                                  id: (@patient.id || ":id")) %>
    </p>
  <% end %>

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h1 class="nhsuk-card__heading nhsuk-heading-m">
        Medical history
      </h1>

      <p>No triage needed</p>

      <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Show answers
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            Does the child have any severe allergies that have led to an anaphylactic reaction?
          </h3>
          <p>No</p>

          <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            Does the child have any existing medical conditions?
          </h3>
          <p>No</p>

          <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            Does the child take any regular medication?
          </h3>
          <p>No</p>

          <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            Is there anything else we should know?
          </h3>
          <p>No</p>
        </div>
      </details>
    </div>
  </div>

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <%= form_with model: [@session, @patient],
                    url: record_session_vaccination_path(
                      session_id: @session.id,
                      id: (@patient.id || ":id"),
                    ),
                    method: :put,
                    data: { child_vaccination_target: "form" } do |f| %>
        <%= f.govuk_radio_buttons_fieldset(:vaccination,
          legend: { size: 'm', text: 'Did they get the vaccine?' }) do %>
          <p>They need their 1st dose.</p>

          <%= f.govuk_radio_button :vaccination, 1,
            label: { text: 'Yes, they got the HPV vaccine' },
            link_errors: true %>
          <%= f.govuk_radio_button :vaccination, 0,
            label: { text: 'No, they did not get it' } %>
        <% end %>

        <%= f.submit "Continue",
          class: "nhsuk-button",
          "data-testid": "confirm-button" %>
      <% end %>
    </div>
  </div>
</div>
