<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: session_vaccinations_path(@session.id),
        name: "vaccinations page",
      ) %>
<% end %>

<% page_title = "Select a default batch for this session" %>
<% content_for :page_title, page_title %>

<%= form_with model: @todays_batch, url: session_batch_path(@session) do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset(
        :batch_id,
        caption: { text: session_location(@session), size: "l" },
        legend: { size: "l", tag: "h1", text: page_title },
      ) do %>
    <% @batches.each_with_index do |batch, idx| %>
      <% label = proc do %>
        <span class="app-u-monospace"><%= batch.name %></span>
        (expires <%= batch.expiry.to_fs(:long) %>)
      <% end %>
      <%= f.govuk_radio_button(:id, batch.id, label:, link_errors: idx.zero?) %>
    <% end %>
  <% end %>

  <%= f.submit "Continue", class: "nhsuk-button" %>
<% end %>
