<% content_for :before_main do %>
  <%
  back_url = if @draft_vaccination_record.administered?
    edit_batch_session_patient_vaccinations_path(@session, @patient)
  else
    edit_reason_session_patient_vaccinations_path(@session, @patient)
  end
  %>
  <%= render AppBacklinkComponent.new(
               href: back_url,
               name: "vaccination page"
             ) %>
<% end %>

<h1 class="nhsuk-heading-l">Check and confirm</h1>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <%= govuk_summary_list(
      actions: false,
      classes: 'app-summary-list--no-bottom-border'
    ) do |summary_list|
      summary_list.with_row do |row|
        row.with_key { 'Child' }
        row.with_value { @patient.full_name }
      end

      summary_list.with_row do |row|
        row.with_key { 'Vaccine' }
        row.with_value { 'HPV' }
      end

      if @draft_vaccination_record.administered?
        summary_list.with_row do |row|
          row.with_key { 'Brand' }
          row.with_value { @draft_vaccination_record.vaccine.brand }
        end

        summary_list.with_row do |row|
          row.with_key { 'Batch' }
          row.with_value { @draft_vaccination_record.batch.name }
        end
      end

      summary_list.with_row do |row|
        row.with_key { 'Dose' }
        row.with_value { '1 of 2' }
      end

      if @draft_vaccination_record.administered?
        summary_list.with_row do |row|
          row.with_key { 'Site' }
          row.with_value { @draft_vaccination_record.site.humanize }
        end
      else
        summary_list.with_row do |row|
          row.with_key { 'Reason' }
          row.with_value {
            vaccination_not_given_reason(@draft_vaccination_record)
          }
        end
      end

      summary_list.with_row do |row|
        row.with_key { 'Date' }
        row.with_value { "Today (#{Time.zone.now.to_fs(:nhsuk_date)})" }
      end

      summary_list.with_row do |row|
        row.with_key { 'Time' }
        row.with_value { Time.zone.now.strftime("%l:%M%P") }
      end
    end %>
  </div>
</div>

<%= form_with model: @draft_vaccination_record,
              url: record_session_patient_vaccinations_path(
                session_id: @session.id,
                id: @patient.id,
              ),
              method: :put do |f| %>
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <%= f.govuk_text_area :notes,
          label: {
            text: 'Add notes',
            size: 'm',
            class: 'nhsuk-u-margin-bottom-3'
          },
          hint: {
            text: 'For example, if the child had a reaction to the vaccine'
          },
          rows: 5 %>
      </div>
    </div>
  <%= f.submit "Confirm", class: "nhsuk-button" %>
<% end %>
