<%= link_to "Back", session_vaccination_path(@session, @child) %>

<h1 class="nhsuk-u-heading-xl">
  Vaccination record
</h1>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <% @history.each do |entry| %>

    <h3 class="nhsuk-heading-m">
      <%= entry.occurrence_date_time.to_fs(:long_ordinal_uk) %>
    </h3>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          <%= entry.medium_display_name %>
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Vaccination
            </dt>
            <dd class="nhsuk-summary-list__value">
              <a href="#"><%= entry.short_display_name %></a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Brand
            </dt>
            <dd class="nhsuk-summary-list__value">
              <%= entry.brand %>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Batch
            </dt>
            <dd class="nhsuk-summary-list__value">
              <%= entry.batch %>
            </dd>
          </div>
        </dl>
      </div>
    </details>

    <% end %>
  </div>
</div>
