<%= link_to "Back", campaign_vaccination_path(@campaign, @child) %>

<h1 class="nhsuk-u-heading-xl">
  Vaccination record
</h1>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <% @history.each do |vaccination| %>

    <h3 class="nhsuk-heading-m">
      <%= Time.parse(vaccination.occurrenceDateTime).to_fs(:long_ordinal_uk) %>
    </h3>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Vaccination
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= vaccination.extension.first.valueCodeableConcept.coding.first.display %>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Brand
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= vaccination.vaccineCode.coding.first.display %>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Batch
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= vaccination.lotNumber %>
          </dd>
        </div>

      </dl>
  </div>
</div>
    <% end %>
  </div>
</div>
