<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(
        items: [
          { text: "Home", href: dashboard_path },
          { text: t("sessions.index.title"), href: sessions_path },
          { text: session_name(@session), href: session_path(@session) },
        ],
      ) %>
<% end %>

<%= h1 "Record vaccinations" %>

<% if @todays_batch.present? %>
  <%= govuk_inset_text html_attributes: { class: "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4" } do %>
    <span class="nhsuk-visually-hidden">Information: </span>

    <p>
      You are currently using <%= @todays_batch.vaccine.brand %> batch
      <span class="app-u-monospace"><%= @todays_batch.name %></span>.
      <%= link_to session_batch_path(@session) do %>
        Change<span class="nhsuk-u-visually-hidden"> the default batch</span>
      <% end %>
    </p>
  <% end %>
<% end %>

<%= render AppSecondaryNavigationComponent.new do |nav| %>
  <% TAB_PATHS[:vaccinations].each do |tab, state| %>
    <% nav.with_item(selected: @current_tab == state,
                     href: session_vaccinations_tab_path(@session, tab:)) do %>
      <%= t("patients_table.#{state}.label") %>
      <%= render AppCountComponent.new(count: @tab_counts[state]) %>
    <% end %>
  <% end %>
<% end %>

<%= render AppPatientTableComponent.new(
      patient_sessions: @patient_sessions,
      caption: t("patients_table.#{@current_tab}.caption",
                 children: pluralize_child(@patient_sessions.count)),
      columns: @current_tab == :vaccinate ?
        %i[name dob action] :
        %i[name dob outcome],
      section: :vaccinations,
      params:,
    ) %>
