<% if flash[:success].present? %>
  <%= render AppFlashSuccessComponent.new(flash[:success]) %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
               href: vaccinations_session_path(@session),
               name: "vaccinations page"
             ) %>
<% end %>

<h1 class="nhsuk-heading-l" id="<%= dom_id @patient %>">
  <%= @patient.full_name %>
</h1>

<%= render AppStatusBannerComponent.new(patient_session: @patient_session) %>

<%= render AppPatientCardComponent.new(patient: @patient, session: @session) %>

<% if @consent_response.present? %>
  <% if @consent_response.via_self_consent? %>
    <%= render AppGillickCardComponent.new(
      consent_response: @consent_response,
      patient_session: @patient_session) %>
  <% else %>
    <%= render AppConsentCardComponent.new(
      session: @session,
      patient: @patient,
      consent_response: @consent_response) %>
  <% end %>
<% end %>

<% if @consent_response&.consent_given? %>
  <%= render AppPatientMedicalHistoryCardComponent.new(
    patient: @patient,
    consent_response: @consent_response,
    triage: @triage
  ) %>
<% end %>

<% if @patient_session.able_to_vaccinate? %>
<% if @consent_response.nil? %>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <%= form_with model: @draft_consent_response,
        url: consent_session_patient_vaccinations_path(@session, @patient),
        method: :post do |f| %>
        <% content_for(:before_content) { f.govuk_error_summary } %>

        <%= f.govuk_radio_buttons_fieldset(:route,
          legend: { size: 'm', text: 'Are you attempting to get consent?' }) do %>
          <%= f.govuk_radio_button :route, "phone",
            label: { text: 'Yes, I am contacting a parent or guardian' },
            link_errors: true %>
          <%= f.govuk_radio_button :route, "self_consent",
            label: { text: 'Yes, I am assessing Gillick competence' } %>
          <%= f.govuk_radio_button :route, "not_vaccinating",
            label: { text: 'No, I am not vaccinating' } %>
        <% end %>

        <%= f.submit "Continue", class: "nhsuk-button" %>
      <% end %>
    </div>
  </div>
<% elsif @vaccination_record&.administered? %>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Vaccination details
      </h2>
      <dl class="nhsuk-summary-list app-u-frutiger app-summary-list--no-bottom-border  nhsuk-u-margin-bottom-0">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Vaccine
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= "#{@vaccination_record.vaccine_name} (#{@vaccination_record.vaccine.brand}, #{@vaccination_record.batch.name})" %>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Vaccine given?
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= @vaccination_record.administered? ? "Yes" : "No" %>
          </dd>
        </div>
        <% if @vaccination_record.delivery_method %>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Method
            </dt>
            <dd class="nhsuk-summary-list__value">
              <%= @vaccination_record.delivery_method.humanize %>
            </dd>
          </div>
        <% end %>
        <% if @vaccination_record.delivery_site %>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Site
            </dt>
            <dd class="nhsuk-summary-list__value">
              <%= @vaccination_record.delivery_site.humanize %>
            </dd>
          </div>
        <% end %>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= vaccination_date(@vaccination_record.recorded_at) %>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Time
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= @vaccination_record.recorded_at.strftime("%l:%M%P") %>
          </dd>
        </div>
        <% if @vaccination_record.location_name %>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Location
            </dt>
            <dd class="nhsuk-summary-list__value">
              <%= @vaccination_record.location_name %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
<% elsif @vaccination_record.nil? %>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <%= render "form", embedded: true %>
    </div>
  </div>
<% end %>
<% end %>
