<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
               href: vaccinations_session_path(@session),
               name: "vaccinations page"
             ) %>
<% end %>

<%= render AppPatientPageComponent.new(
      patient_session: @patient_session,
      consent: @consent,
      vaccination_record: @draft_vaccination_record,
      route: "vaccinations",
    ) %>


<% if @consent.present? && @patient_session.able_to_vaccinate? %>
<% if @vaccination_record&.administered? %>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Vaccination details
      </h2>
      <dl class="nhsuk-summary-list app-summary-list--no-bottom-border  nhsuk-u-margin-bottom-0">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Vaccine
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= "#{@vaccination_record.vaccine_name} (#{@vaccination_record.vaccine.brand}, #{@vaccination_record.batch.name})" %>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Vaccine given?
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= @vaccination_record.administered? ? "Yes" : "No" %>
          </dd>
        </div>
        <% if @vaccination_record.delivery_method %>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Method
            </dt>
            <dd class="nhsuk-summary-list__value">
              <%= @vaccination_record.delivery_method.humanize %>
            </dd>
          </div>
        <% end %>
        <% if @vaccination_record.delivery_site %>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Site
            </dt>
            <dd class="nhsuk-summary-list__value">
              <%= @vaccination_record.delivery_site.humanize %>
            </dd>
          </div>
        <% end %>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= vaccination_date(@vaccination_record.recorded_at) %>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Time
          </dt>
          <dd class="nhsuk-summary-list__value">
            <%= @vaccination_record.recorded_at.strftime("%l:%M%P") %>
          </dd>
        </div>
        <% if @vaccination_record.location_name %>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Location
            </dt>
            <dd class="nhsuk-summary-list__value">
              <%= @vaccination_record.location_name %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
<% end %>
