<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<% title = t("consent_forms.consent.title.#{@consent_form.programme.type}") %>
<% content_for :page_title, title %>

<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset(:response,
                                     legend: { size: "l", text: title, tag: "h1" },
                                     hint: { text: t("consent_forms.consent.hint.#{@consent_form.programme.type}") }) do %>
    <%= f.govuk_radio_button :response, "given",
                             label: { text: t("consent_forms.consent.i_agree.#{@consent_form.programme.type}") },
                             link_errors: true %>
    <%= f.govuk_radio_button :response, "refused",
                             label: { text: "No" } %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
