<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<% title = "Phone contact method" %>
<% content_for :page_title, title %>

<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset(:parent_contact_method_type,
                                     legend: { size: "l", text: title, tag: "h1" },
                                     hint: { text: "Tell us if you have specific needs" }) do %>
    <%= f.govuk_radio_button :parent_contact_method_type, "text",
                             label: { text: "I can only receive text messages" },
                             link_errors: true %>
    <%= f.govuk_radio_button :parent_contact_method_type, "voice",
                             label: { text: "I can only receive voice calls" } %>
    <%= f.govuk_radio_button :parent_contact_method_type, "other",
                             label: { text: "Other" } do %>
      <%= f.govuk_text_area :parent_contact_method_other_details,
                            label: { text: "Give details" } %>
    <% end %>
    <%= f.govuk_radio_divider %>
    <%= f.govuk_radio_button :parent_contact_method_type, "any",
                             label: { text: "I do not have specific needs" } %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
