<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<% title = "Phone contact method" %>
<% content_for :page_title, title %>

<%= form_for @consent_form.draft_parent, url: wizard_path, method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_radio_buttons_fieldset(:contact_method,
                                     legend: { size: "l", text: title, tag: "h1" },
                                     hint: { text: "Tell us if you have specific needs" }) do %>
    <%= f.govuk_radio_button :contact_method, "text",
                             label: { text: "I can only receive text messages" },
                             link_errors: true %>
    <%= f.govuk_radio_button :contact_method, "voice",
                             label: { text: "I can only receive voice calls" } %>
    <%= f.govuk_radio_button :contact_method, "other",
                             label: { text: "Other" } do %>
      <%= f.govuk_text_area :contact_method_other,
                            label: { text: "Give details" } %>
    <% end %>
    <%= f.govuk_radio_divider %>
    <%= f.govuk_radio_button :contact_method, "any",
                             label: { text: "I do not have specific needs" } %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
