<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<% title = "Is your child home-schooled?" %>
<% content_for :page_title, title %>

<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset :education_setting,
                                     legend: { size: "l", tag: "h1", text: title } do %>
    <%= f.govuk_radio_button :education_setting, "home",
                             link_errors: true,
                             label: { text: "Yes" } %>
    <%= f.govuk_radio_button :education_setting, "school",
                             label: { text: "No, they go to a school" } %>
    <%= f.govuk_radio_button :education_setting, "none",
                             label: { text: "No, they are not in education" } %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
