<% content_for :before_main do %>
  <%= govuk_back_link(href: backlink_path) %>
<% end %>

<% title = "Do you want to answer the ethnicity questions?" %>
<% content_for :page_title, title %>

<%= h1 "We have received your consent response" %>

<p class="nhsuk-body">
  Before you finish using the service, we’d like to ask some questions about your child’s ethnicity.
</p>

<p class="nhsuk-body">
  We ask about ethnicity so that when we look at the number of vaccinations received, we can better
  understand the challenges faced by specific groups. We can then target the support we offer.
</p>

<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset :ethnicity_question,
                                     legend: { size: "m", text: title, tag: "h2" } do %>
    <%= f.govuk_radio_button :ethnicity_question,
                             "yes",
                             label: { text: "Yes, answer the ethnicity questions (takes less than a minute)" },
                             link_errors: true %>
    <%= f.govuk_radio_button :ethnicity_question,
                             "no",
                             label: { text: "No, skip the ethnicity questions" } %>
  <% end %>

  <%= f.govuk_submit "Continue" %>
<% end %>
