<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: start_session_parent_interface_consent_forms_path(@session),
        name: "start consent page",
      ) %>
<% end %>

<%= h1 "What is your child’s name?" %>

<p>
  Give the official name that’s on their passport or birth certificate. If
  their name has changed, tell us their current name.
</p>

<%= form_for @consent_form, url: wizard_path, method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_text_field :first_name, label: { text: "First name" } %>
  <%= f.govuk_text_field :last_name, label: { text: "Last name" } %>
  <%= f.govuk_radio_buttons_fieldset(:use_common_name,
                                     bold_labels: false,
                                     legend: { size: "s",
                                               text: "Do they use a different name in school?" }) do %>
    <%= f.govuk_radio_button :use_common_name,
                             true,
                             label: { text: "Yes" },
                             link_errors: true do %>
      <%= f.govuk_text_field :common_name, label: { text: "Known as" } %>
    <% end %>
    <%= f.govuk_radio_button :use_common_name, false, label: { text: "No" } %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
