<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>


<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 "About you" %>

  <%= f.govuk_text_field :parent_name, label: { text: "Your name" } %>

  <%= f.govuk_radio_buttons_fieldset(:parent_relationship_type,
                                     legend: { size: "s",
                                               text: "Your relationship to the child" }) do %>
    <%= f.govuk_radio_button :parent_relationship_type, "mother",
                             label: { text: "Mum" }, link_errors: true %>
    <%= f.govuk_radio_button :parent_relationship_type, "father",
                             label: { text: "Dad" } %>
    <%= f.govuk_radio_button :parent_relationship_type, "guardian",
                             label: { text: "Guardian" } %>
    <%= f.govuk_radio_button :parent_relationship_type, "other",
                             label: { text: "Other" } do %>
      <%= f.govuk_text_field :parent_relationship_other_name,
                             label: { text: "Relationship to the child" },
                             hint: { text: "For example, carer" } %>
      <%= f.govuk_radio_buttons_fieldset(:parental_responsibility,
                                         legend: { size: "s",
                                                   text: "Do you have parental responsibility?" },
                                         hint: { text: "This means you have legal rights and duties relating to the child" }) do %>
        <%= f.govuk_radio_button :parental_responsibility, "yes",
                                 label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :parental_responsibility, "no",
                                 label: { text: "No" } %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.govuk_email_field :parent_email, label: { text: "Email address" } %>

  <%= f.govuk_phone_field :parent_phone,
                          label: { text: "Phone number (optional)" },
                          hint: { text: "Someone might call you about your child’s vaccination" } %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
