<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<% title = "Why are you refusing to give consent?" %>
<% content_for :page_title, title %>

<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset(:reason,
                                     legend: { size: "l", text: title, tag: "h1" }) do %>
    <% if @consent_form.gelatine_content_status_in_vaccines.in? [true, :maybe] %>
      <%= f.govuk_radio_button :reason, "contains_gelatine",
                               label: { text: "Vaccine contains gelatine from pigs" },
                               link_errors: true %>
    <% end %>
    <%= f.govuk_radio_button :reason, "already_vaccinated",
                             label: { text: "Vaccine already received" } %>
    <%= f.govuk_radio_button :reason, "will_be_vaccinated_elsewhere",
                             label: { text: "Vaccine will be given elsewhere" } %>
    <%= f.govuk_radio_button :reason, "medical_reasons",
                             label: { text: "Medical reasons" } %>
    <%= f.govuk_radio_button :reason, "personal_choice",
                             label: { text: "Personal choice" } %>
    <%= f.govuk_radio_divider %>
    <%= f.govuk_radio_button :reason, "other",
                             label: { text: "Other" } %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
