<% content_for :before_main do %>
  <%= govuk_back_link(href: backlink_path) %>
<% end %>

<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 t(@consent_form.reason_for_refusal, scope: %i[consent_forms notes title]) %>

  <% if @consent_form.refused_consent_form_programmes.any? { it.programme.mmr? } && @consent_form.reason_for_refusal == "already_vaccinated" %>
    <p class="nhsuk-hint">Children need 2 doses of the MMR vaccine to be fully protected. If your child has had more than 1 dose, give details about both doses.</p>
  <% end %>

  <% label = "Give details" + (@consent_form.reason_for_refusal_requires_notes? ? "" : " (optional)") %>

  <%= f.govuk_text_area :reason_for_refusal_notes, label: { text: label } %>

  <%= f.govuk_submit "Continue" %>
<% end %>
