<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<%= h1 "Confirm your child’s school" %>

<%= govuk_inset_text do %>
  <p>
    <span class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
      <%= @session.location.name %>
    </span>
    <%= format_address_single_line(@session.location) %>
  </p>
<% end %>

<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_radio_buttons_fieldset(:is_this_their_school,
                                     legend: { size: "s", text: "Is this their school?" }) do %>
    <%= f.govuk_radio_button :is_this_their_school, "yes",
                             link_errors: true,
                             label: { text: "Yes, they go to this school" } %>
    <%= f.govuk_radio_button :is_this_their_school, "no",
                             label: { text: "No, they go to a different school" } %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
