<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<%= form_with model: @consent_form, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 "What school does your child go to?" %>

  <p>
    You can only use this service if your child&apos;s school is listed here.
    If it&apos;s not, contact <%= mail_to @session.team.email %>.
    If you&apos;ve moved recently, it&apos;s important to mention this.
  </p>

  <%= f.govuk_select :location_id,
                     label: { text: "Select a school" },
                     data: { module: "autocomplete" } do %>
        <%= tag.option "", value: "" %>
        <% @consent_form.eligible_schools.each do |school| %>
          <%= tag.option(school.name,
                         value: school.id,
                         data: { hint: school.address_parts.join(", ") }) %>
        <% end %>
  <% end %>

  <%= f.govuk_submit "Continue" %>
<% end %>
