<tr class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Date</span>
    <%= session.date.to_fs(:nhsuk_date_short_month) %>
  </td>
  <td class="nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Time</span>
    <%= session.human_enum_name(:time_of_day) %>
  </td>
  <td class="nhsuk-table__cell" id="<%= dom_id session %>">
    <span class="nhsuk-table-responsive__heading">School</span>
    <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">
      <% if session.in_progress? %>
        <%= govuk_tag(
              classes: "nhsuk-u-margin-bottom-2",
              text: "Session in progress",
              colour: "blue",
            ) %><br>
      <% end %>
      <%= link_to session.location.name, edit_session_path(session), "data-testid": "session-link" %><br>
      <%= session.location.town %>, <%= session.location.postcode %>
    </p>
  </td>
</tr>
