<tr class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Date</span>
    <%= session.date.to_fs(:long) %>
  </td>
  <td class="nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Time</span>
    <%= session.human_enum_name(:time_of_day) %>
  </td>
  <td class="nhsuk-table__cell" id="<%= dom_id session %>">
    <span class="nhsuk-table-responsive__heading">School</span>
    <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">
      <% if session.in_progress? %>
        <%= govuk_tag(
              classes: "nhsuk-u-margin-bottom-2",
              text: "Session in progress",
              colour: "blue",
            ) %><br>
      <% end %>
      <%= link_to session_location(session), edit_session_path(session), "data-testid": "session-link" %>
      <% if (location = session.location).present? %>
        <br /><%= location.town %>, <%= location.postcode %>
      <% end %>
    </p>
  </td>
</tr>
