<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: session_path(@session),
        name: session_location(@session),
      ) %>
<% end %>

<%= h1 "Edit session" do %>
  <span class="nhsuk-caption-l"><%= session_location(@session) %></span>
  Edit session
<% end %>

<%= render AppSessionSummaryCardComponent.new(@session) %>

<%= govuk_button_link_to "Continue", session_path(@session) %>
