<% page_title = "School sessions" %>

<%= render(AppFlashMessageComponent.new(flash: flash)) %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: page_title },
  ]) %>
<% end %>

<%= h1 page_title, page_title: %>

<% @sessions_by_type.each do |campaign_type, sessions| %>
  <h2><%= campaign_type %></h2>

  <table class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header app-u-width-one-fifth" scope="col">Date</th>
        <th class="nhsuk-table__header app-u-width-one-fifth" scope="col">Time</th>
        <th class="nhsuk-table__header" scope="col">School</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <% sessions.each do |session| %>
        <%= render "session_row", session: %>
      <% end %>
    </tbody>
  </table>
<% end %>
