<% page_title = @session.name %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'School sessions', href: sessions_path },
    { text: page_title }
  ]) %>
<% end %>

<%= h1 page_title:, class: "nhsuk-heading-l" do %>
  <%= page_title %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @session.date.to_fs(:long_ordinal_uk) %> ·
    <%= pluralize(@patient_sessions.size, 'child') %> in cohort
  </span>
<% end %>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          <%= link_to "Check consent responses",
            consents_session_path(@session) %>
        </h2>
        <p>
          <%= pluralize(@counts[:with_consent_given], 'child') %> with consent given<br>
          <%= pluralize(@counts[:with_consent_refused], 'child') %> with consent refused<br>
          <%= pluralize(@counts[:without_a_response], 'child') %> without a response
        </p>

        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          <%= link_to "Triage health questions",
            triage_session_path(@session) %>
        </h2>
        <p>
          <%= pluralize(@counts[:needing_triage], 'child') %> needing triage
        </p>

        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          <%= link_to "Record vaccinations",
            vaccinations_session_path(@session) %>
        </h2>
        <p>
          <%= pluralize(@counts[:ready_to_vaccinate], 'child') %> ready to vaccinate
        </p>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div id="save-offline">
      <h2 class="nhsuk-heading-s">Save offline</h2>
      <p>Record vaccinations while not connected to the internet.</p>

      <a href="<%= setup_offline_session_path %>"
         class="nhsuk-button nhsuk-u-margin-bottom-3"
         data-testid="save-offline">
         Save offline
      </a>
    </div>
  </div>
</div>
