<% page_title = "#{@session.name}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: "Home", href: dashboard_path },
                                          { text: t("campaigns.index.title"), href: campaigns_path },
                                          { text: @session.campaign.name, href: campaign_path(@session.campaign) },
                                        ]) %>
<% end %>

<%= h1 page_title: do %>
  <%= page_title %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @session.date.to_fs(:nhsuk_date) %> (<%= @session.human_enum_name(:time_of_day) %>) ·
    <%= pluralize(@patient_sessions.size, "child") %> in cohort
  </span>
<% end %>

<p class="nhsuk-body nhsuk-u-margin-bottom-7">
  <%= govuk_tag(text: "In progress", colour: "blue", classes: "nhsuk-u-margin-right-3") %>
  <%= link_to "View session", edit_session_path %>
</p>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: "#") do |c| %>
      <% c.with_heading { "Register attendance" } %>
      <% c.with_description do %>
        <%= pluralize_child(@patient_sessions.size) %> still to register
      <% end %>
    <% end %>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: session_vaccinations_path(@session)) do |c| %>
      <% c.with_heading { "Record vaccinations" } %>
      <% c.with_description do %>
        <%= pluralize_child(@counts[:vaccinate]) %> to vaccinate<br>
        <%= pluralize_child(@counts[:vaccinated]) %> vaccinated<br>
        <%= pluralize_child(@counts[:could_not_vaccinate]) %> could not be vaccinated
      <% end %>
    <% end %>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: session_consents_path(@session)) do |c| %>
      <% c.with_heading { "Check consent responses" } %>
      <% c.with_description do %>
        <%= pluralize_child(@counts[:without_a_response]) %> without a response<br>
        <%= pluralize_child(@counts[:with_consent_given]) %> with consent given<br>
        <%= pluralize_child(@counts[:with_consent_refused]) %> with consent refused<br>
        <%= pluralize_child(@counts[:with_conflicting_consent]) %> with conflicting consent
      <% end %>
    <% end %>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: session_triage_path(@session)) do |c| %>
      <% c.with_heading { "Triage health questions" } %>
      <% c.with_description do %>
        <%= pluralize_child(@counts[:needing_triage]) %> needing triage
      <% end %>
    <% end %>
  </li>
</ul>

<% content_for :after_main do %>
  <% if Flipper.enabled? :make_session_in_progress_button %>
    <%= render(AppDevToolsComponent.new) do %>
      <p class="nhsuk-u-reading-width">
        Vaccinations can only be recorded if a session is in progress. If you want to test vaccination recording, you can set this session as in progress for today.
      </p>
      <%= govuk_button_to(
            "Set session in progress for today",
            make_in_progress_session_path,
            method: :put,
            secondary: true,
            prevent_double_click: true,
          ) %>
    <% end %>
  <% end %>
<% end %>
