<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: "Home", href: dashboard_path },
                                          { text: t("sessions.index.title"), href: sessions_path },
                                        ]) %>
<% end %>

<%= h1 @session.location.name %>

<% if (school = @session.location)&.school? %>
  <p class="nhsuk-caption-l nhsuk-u-margin-bottom-4">
    URN: <span class="app-u-monospace"><%= school.urn %></span>
  </p>
<% end %>

<ul class="app-action-list">
  <li class="app-action-list__item">
    <%= session_status_tag(@session) %>
  </li>

  <% if @session.open? %>
    <li class="app-action-list__item">
      <%= govuk_link_to "Download consent form (PDF)", consent_form_session_path(@session) %>
    </li>
  <% end %>

  <% if @session.open? && @session.location.school? %>
    <li class="app-action-list__item">
      <%= govuk_link_to "Import class list", new_session_class_import_path(@session) %>
    </li>
  <% end %>
</ul>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <ul class="nhsuk-grid-row nhsuk-card-group">
      <% if @session.has_movers? %>
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <%= render AppCardComponent.new(
                link_to: session_moves_path(@session) + "?in",
              ) do |c| %>
            <% c.with_heading { "Review children who have changed schools" } %>
            <% c.with_description do %>
              <%= t("children", count: @session.patient_sessions_moving_to_this_session.count) %>
              joined this school<br />
              <%= t("children", count: @session.patient_sessions_moving_from_this_session.count) %>
              left this school
            <% end %>
          <% end %>
        </li>
      <% end %>

      <% if @session.unscheduled? %>
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <%= render AppCardComponent.new(link_to: edit_session_path) do |c| %>
            <% c.with_heading { "Schedule sessions" } %>
            <% c.with_description { "Add dates for this school." } %>
          <% end %>
        </li>
      <% elsif Flipper.enabled?(:release_1b) %>
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <%= render AppCardComponent.new(link_to: session_consents_path(@session)) do |c| %>
            <% c.with_heading { "Check consent responses" } %>
            <% c.with_description do %>
              <%= t("children", count: @counts[:without_a_response]) %> without a response<br>
              <%= t("children", count: @counts[:with_consent_given]) %> with consent given<br>
              <%= t("children", count: @counts[:with_consent_refused]) %> with consent refused<br>
              <%= t("children", count: @counts[:with_conflicting_consent]) %> with conflicting consent
            <% end %>
          <% end %>
        </li>

        <% if Flipper.enabled?(:release_1b) %>
          <li class="nhsuk-grid-column-full nhsuk-card-group__item">
            <%= render AppCardComponent.new(link_to: session_triage_path(@session)) do |c| %>
              <% c.with_heading { "Triage health questions" } %>
              <% c.with_description do %>
                <%= t("children", count: @counts[:needing_triage]) %> needing triage
              <% end %>
            <% end %>
          </li>

          <li class="nhsuk-grid-column-full nhsuk-card-group__item">
            <%= render AppCardComponent.new(link_to: session_vaccinations_path(@session)) do |c| %>
              <% c.with_heading { "Record vaccinations" } %>
              <% c.with_description do %>
                <%= t("children", count: @counts[:vaccinate]) %> to vaccinate<br>
                <%= t("children", count: @counts[:vaccinated]) %> vaccinated<br>
                <%= t("children", count: @counts[:could_not_vaccinate]) %> could not be vaccinated
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <%= render AppSessionSummaryComponent.new(@session) %>

    <% unless @session.unscheduled? %>
      <%= govuk_button_link_to "Edit session", edit_session_path(@session), class: "app-button--secondary" %>
    <% end %>

    <% if @session.closable? %>
      <%= govuk_button_link_to "Close session", close_session_path(@session), class: "app-button--secondary" %>
    <% end %>
  </div>
</div>

<% content_for :after_main do %>
  <%= render(AppDevToolsComponent.new) do %>
    <p class="nhsuk-u-reading-width">
      Vaccinations can only be recorded if a session is in progress. If you want to test vaccination recording, you can set this session as in progress for today.
    </p>
    <%= govuk_button_to(
          "Set session in progress for today",
          make_in_progress_session_path,
          method: :put,
          secondary: true,
          prevent_double_click: true,
        ) %>
  <% end %>
<% end %>
