<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'School sessions', href: sessions_path },
  ]) %>
<% end %>

<h1 class="nhsuk-heading-l">
  <%= @session.name %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @session.date.to_fs(:long_ordinal_uk) %>
  </span>
</h1>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
          <%= link_to "Triage", triage_session_path(@session) %>
        </h2>
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
          <%= link_to "Record vaccinations", session_vaccinations_path(@session) %>
        </h2>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div id="save-offline">
      <h2 class="nhsuk-heading-s">Save offline</h2>
      <p>Record vaccinations while not connected to the internet.</p>

      <a href="<%= setup_offline_session_path %>"
         class="nhsuk-button nhsuk-u-margin-bottom-3"
         data-testid="save-offline">
         Save offline
      </a>
    </div>
  </div>
</div>
