<% page_title = "#{@session.campaign.name} session at #{@session.name}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'School sessions', href: sessions_path },
    { text: page_title }
  ]) %>
<% end %>

<%= h1 page_title: do %>
  <%= page_title %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @session.date.to_fs(:nhsuk_date) %> (<%= @session.human_enum_name(:time_of_day) %>) ·
    <%= pluralize(@patient_sessions.size, 'child') %> in cohort
  </span>
<% end %>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          <%= link_to(
            "Check consent responses",
            session_consents_path(@session)
          ) %>
        </h2>
        <p class="nhsuk-u-margin-bottom-2">
          <%= pluralize(@counts[:with_consent_given], 'child') %> with consent given<br>
          <%= pluralize(@counts[:with_consent_refused], 'child') %> with consent refused<br>
          <%= pluralize(@counts[:without_a_response], 'child') %> without a response<br>
          <%= pluralize(@counts[:unmatched_responses], 'response') %> need matching with records in the cohort
        </p>

        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          <%= link_to(
            "Triage health questions",
            session_triage_path(@session)
          ) %>
        </h2>
        <p>
          <%= pluralize(@counts[:needing_triage], 'child') %> needing triage
        </p>

        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          <%= link_to(
            "Record vaccinations",
            session_vaccinations_path(@session)
          ) %>
        </h2>
        <p>
          <%= pluralize(@counts[:ready_to_vaccinate], 'child') %> ready to vaccinate
        </p>

        <p class="nhsuk-body nhsuk-u-margin-top-6">
          <%= link_to "View session", edit_session_path %>
        </p>
      </div>
    </div>
  </div>

  <% if Flipper.enabled? :offline_working %>
    <div class="nhsuk-grid-column-one-third">
      <div id="save-offline">
        <h2 class="nhsuk-heading-s">Save offline</h2>
        <p>Record vaccinations while not connected to the internet.</p>

        <a href="<%= setup_offline_session_path %>"
           class="nhsuk-button nhsuk-u-margin-bottom-3"
           data-testid="save-offline">
           Save offline
        </a>
      </div>
    </div>
  <% end %>
</div>

<% content_for :after_main do %>
  <% if Flipper.enabled? :make_session_in_progress_button %>
    <%= render(AppDevToolsComponent.new) do %>
      <p class="nhsuk-u-reading-width">
        Vaccinations can only be recorded if a session is in progress. If you want to test vaccination recording, you can set this session as in progress for today.
      </p>
      <%= govuk_button_to(
        "Set session in progress for today",
        make_in_progress_session_path,
        method: :put,
        secondary: true,
        prevent_double_click: true
      ) %>
    <% end %>
  <% end %>
<% end %>
