<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: "Home", href: dashboard_path },
                                          { text: t("sessions.index.title"), href: sessions_path },
                                          { text: session_location(@session), href: session_path(@session) },
                                        ]) %>
<% end %>

<%= h1 session_location(@session) %>

<p class="nhsuk-body nhsuk-u-margin-bottom-7">
  <%= govuk_tag(text: "In progress", colour: "blue", classes: "nhsuk-u-margin-right-3") %>
  <%= link_to "View session", edit_session_path %>
</p>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: "#") do |c| %>
      <% c.with_heading { "Register attendance" } %>
      <% c.with_description do %>
        <%= t("children", count: @patient_sessions.size) %> still to register
      <% end %>
    <% end %>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: session_vaccinations_path(@session)) do |c| %>
      <% c.with_heading { "Record vaccinations" } %>
      <% c.with_description do %>
        <%= t("children", count: @counts[:vaccinate]) %> to vaccinate<br>
        <%= t("children", count: @counts[:vaccinated]) %> vaccinated<br>
        <%= t("children", count: @counts[:could_not_vaccinate]) %> could not be vaccinated
      <% end %>
    <% end %>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: session_consents_path(@session)) do |c| %>
      <% c.with_heading { "Check consent responses" } %>
      <% c.with_description do %>
        <%= t("children", count: @counts[:without_a_response]) %> without a response<br>
        <%= t("children", count: @counts[:with_consent_given]) %> with consent given<br>
        <%= t("children", count: @counts[:with_consent_refused]) %> with consent refused<br>
        <%= t("children", count: @counts[:with_conflicting_consent]) %> with conflicting consent
      <% end %>
    <% end %>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: session_triage_path(@session)) do |c| %>
      <% c.with_heading { "Triage health questions" } %>
      <% c.with_description do %>
        <%= t("children", count: @counts[:needing_triage]) %> needing triage
      <% end %>
    <% end %>
  </li>
</ul>

<% content_for :after_main do %>
  <%= render(AppDevToolsComponent.new) do %>
    <p class="nhsuk-u-reading-width">
      Vaccinations can only be recorded if a session is in progress. If you want to test vaccination recording, you can set this session as in progress for today.
    </p>
    <%= govuk_button_to(
          "Set session in progress for today",
          make_in_progress_session_path,
          method: :put,
          secondary: true,
          prevent_double_click: true,
        ) %>
  <% end %>
<% end %>
