<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("sessions.index.title"), href: sessions_path },
                                        ]) %>
<% end %>

<%= render "header" %>

<%= render AppSessionOverviewComponent.new(@session) %>

<% content_for :after_main do %>
  <%= render(AppDevToolsComponent.new) do %>
    <p class="nhsuk-u-reading-width">
      Vaccinations can only be recorded if a session is in progress. If you want to test vaccination recording, you can set this session as in progress for today.
    </p>
    <%= govuk_button_to(
          "Set session in progress for today",
          make_in_progress_session_path,
          method: :put,
          secondary: true,
          prevent_double_click: true,
        ) %>
  <% end %>
<% end %>
