<%= h1 t(".title"), size: "xl" %>

<div class="nhsuk-table__panel-with-heading-tab">
  <h3 class="nhsuk-table__heading-tab">Adolescent</h3>

  <%= govuk_table(html_attributes: { class: "nhsuk-table-responsive" }) do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Programme") %>
        <% row.with_cell(text: "Vaccines administered") %>
        <% row.with_cell(text: "Children") %>
        <% row.with_cell(text: "Vaccinations") %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% @programmes.each do |programme| %>
        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Programme</span>
            <%= link_to programme.name, programme_path(programme) %>
          <% end %>

          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Vaccines</span>
            <%= programme.active_vaccines.map(&:brand).join("<br>").html_safe %>
          <% end %>

          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Children</span>
            <%= policy_scope(Patient).where(cohort: policy_scope(Cohort).for_year_groups(programme.year_groups)).count %>
          <% end %>

          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Vaccinations</span>
            <%= policy_scope(VaccinationRecord).recorded.count %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
