<div class="app-heading-group">
  <%= h1 t(".title"), size: "xl" %>

  <%= govuk_button_to "Create a new vaccination programme", programmes_path, secondary: true %>
</div>

<div class="nhsuk-table__panel-with-heading-tab">
  <h3 class="nhsuk-table__heading-tab">Active programmes</h3>
  <%= govuk_table(html_attributes: { class: "nhsuk-table-responsive" }) do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Name") %>
        <% row.with_cell(text: "Academic year") %>
        <% row.with_cell(text: "Vaccines") %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% @programmes.each do |programme| %>
        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Name</span>
            <%= link_to programme.name, programme_path(programme) %>
          <% end %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Academic year</span>
            <%= programme_academic_year(programme) %>
          <% end %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Vaccines</span>
            <%= programme.vaccines.map(&:brand).join("<br>").html_safe %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
