<% content_for :page_title, "#{@programme.name} – Overview" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("programmes.index.title"), href: programmes_path },
                                        ]) %>
<% end %>

<h1 class="nhsuk-heading-l"><%= @programme.name %></h1>

<%= render AppProgrammeNavigationComponent.new(@programme, team: current_user.selected_team, active: :overview) %>

<div class="nhsuk-grid-row nhsuk-card-group">
  <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: programme_cohorts_path(@programme), colour: "reversed", data: true) do |card| %>
      <% card.with_heading { "Children" } %>
      <% card.with_description { @patients_count.to_s } %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: sessions_programme_path(@programme), colour: "reversed", data: true) do |card| %>
      <% card.with_heading { "Sessions" } %>
      <% card.with_description { @sessions_count.to_s } %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: programme_vaccination_records_path(@programme), colour: "reversed", data: true) do |card| %>
      <% card.with_heading { "Vaccinations" } %>
      <% card.with_description { @vaccination_records_count.to_s } %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(data: true) do |card| %>
      <% card.with_heading { "Consent requests and reminders sent" } %>
      <% card.with_description { @consent_notifications_count.to_s } %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(data: true) do |card| %>
      <% card.with_heading { "Consent given (versus refused or no response)" } %>
      <% card.with_description { number_to_percentage(@consent_given_percentage, precision: 0) } %>
    <% end %>
  </div>
</div>

<%= render AppConsentRefusedTableComponent.new(@consents) %>
