<%= content_for :page_title, "#{@programme.name} – #{t(".title")}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("programmes.index.title"), href: programmes_path },
                                          { text: @programme.name, href: programme_overview_path(@programme) },
                                        ]) %>
<% end %>

<h1 class="nhsuk-heading-l"><%= @programme.name %></h1>

<%= render AppProgrammeNavigationComponent.new(@programme, active: :cohorts) %>

<%= govuk_button_link_to "Import child records", new_cohort_import_path, secondary: true %>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <% @patient_count_by_birth_academic_year.sort_by { |year, _| -year }.each do |birth_academic_year, patient_count| %>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      <%= render AppCardComponent.new(link_to: patient_count > 0 ? programme_cohort_path(@programme, birth_academic_year) : nil) do |card| %>
        <% card.with_heading { format_year_group(birth_academic_year.to_year_group) } %>
        <% card.with_description { t("children", count: patient_count) } %>
      <% end %>
    </li>
  <% end %>
</ul>
