<%= content_for :page_title, "#{@programme.name} – #{t("cohorts.index.title")}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("programmes.index.title"), href: programmes_path },
                                          { text: @programme.name, href: programme_path(@programme) },
                                        ]) %>
<% end %>

<h1 class="nhsuk-heading-l"><%= @programme.name %></h1>

<%= render AppProgrammeNavigationComponent.new(@programme, active: :cohorts) %>

<%= govuk_button_link_to "Import child records", new_programme_cohort_import_path(@programme), class: "app-button--secondary" %>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <% @cohorts.each do |cohort| %>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      <%= render AppCardComponent.new(link_to: programme_cohort_path(@programme, cohort)) do |card| %>
        <% card.with_heading { format_year_group(cohort.year_group) } %>
        <% card.with_description { pluralize(cohort.recorded_patients.count, "child") } %>
      <% end %>
    </li>
  <% end %>
</ul>
