<% content_for :before_main do %>
  <%= govuk_back_link(href: session_path(@session)) %>
<% end %>

<% title = "Invite parents to book a clinic appointment" %>

<%= h1 title do %>
  <span class="nhsuk-caption-l"><%= @session.location.name %></span>
  <%= title %>
<% end %>

<% if @patients_to_invite.empty? %>
  <p>You do not need to send any clinic invitations. The parents of any children who were not vaccinated have already received clinic invitations.</p>
<% elsif @patients_to_invite.length == 1 %>
  <p>1 child was not vaccinated at this school and has not already been invited to a clinic.</p>
  <p>You can send invitations to their parents to book an appointment to have their children vaccinated at a clinic.</p>
<% else %>
  <p><%= @patients_to_invite.length %> children were not vaccinated at this school and have not already been invited to a clinic.</p>
  <p>You can send invitations to their parents to book an appointment to have their children vaccinated at a clinic.</p>
<% end %>

<% if @patients_to_invite.empty? %>
  <p><%= link_to "Return to session", session_path(@session) %></p>
<% else %>
  <%= form_with url: session_invite_to_clinic_path(@session), method: :put do |f| %>
    <%= f.govuk_submit "Send clinic invitations" %>
  <% end %>
<% end %>
