<% content_for :before_main do %>
  <%= govuk_back_link(href: edit_nhs_number_patient_path(@patient)) %>
<% end %>

<% page_title = "Do you want to merge this record?" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l"><%= @patient.full_name %></span>
  <%= page_title %>
<% end %>

<p class="nhsuk-body">
  Updating the NHS number for <%= @patient.full_name %> will merge their record with an existing record:
</p>

<%= render AppPatientCardComponent.new(@existing_patient, current_team:) %>

<%= form_with model: @form, url: edit_nhs_number_merge_patient_path(@patient), method: :put do |f| %>
  <%= f.hidden_field :nhs_number %>

  <div class="nhsuk-button-group">
    <%= f.govuk_submit "Merge records" %>
    <%= govuk_link_to "Edit NHS number", edit_nhs_number_patient_path(@patient) %>
  </div>
<% end %>
