<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: new_campaign_immunisation_import_path(@campaign),
        name: @campaign.name,
      ) %>
<% end %>

<% title = "Check and confirm" %>

<span class="nhsuk-caption-l"><%= @campaign.name %></span>
<%= h1 title, page_title: "#{@campaign.name} – #{title}" %>

<% if @immunisation_import.exact_duplicate_record_count > 1 ||
      @immunisation_import.not_administered_record_count > 1 %>
  <div class="nhsuk-warning-callout">
    <h3 class="nhsuk-warning-callout__label">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Uploaded records will differ from the file
    </h3>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <% if @immunisation_import.exact_duplicate_record_count > 1 %>
        <li>
          <%= @immunisation_import.exact_duplicate_record_count %> previously
          uploaded records were omitted
        </li>
      <% end %>

      <% if @immunisation_import.not_administered_record_count > 1 %>
        <li>
          <%= @immunisation_import.not_administered_record_count %> records for
          children who were not vaccinated were omitted
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= govuk_button_to "Upload records", campaign_immunisation_import_path(
      @campaign,
      @immunisation_import
    ), method: :put %>

<% if @patients.present? %>
  <div class="nhsuk-table__panel-with-heading-tab">
    <h3 class="nhsuk-table__heading-tab">
      <%= pluralize(@patients.count, "duplicate record") %>
      <%= @patients.count == 1 ? "needs" : "need" %> review
    </h3>
    <%= govuk_table(html_attributes: {
                      class: "nhsuk-table-responsive",
                    }) do |table| %>
      <% table.with_head do |head| %>
        <% head.with_row do |row| %>
          <% row.with_cell(text: "Child record") %>
          <% row.with_cell(text: "Issue to review") %>
          <% row.with_cell(text: "Actions") %>
        <% end %>
      <% end %>

      <% table.with_body do |body| %>
        <% @patients.each do |patient| %>
          <% body.with_row do |row| %>
            <% row.with_cell do %>
              <span class="nhsuk-table-responsive__heading">Child record</span>
              <%= patient.full_name %>
            <% end %>

            <% row.with_cell do %>
              <span class="nhsuk-table-responsive__heading">
                Issue to review
              </span>
              A field in a duplicate record does not match a previously uploaded
              record
            <% end %>

            <% row.with_cell do %>
              <span class="nhsuk-table-responsive__heading">Actions</span>
              <%= govuk_link_to campaign_immunisation_import_patient_path(
                    @campaign,
                    @immunisation_import,
                    patient
                  ) do %>
                Review
                <span class="nhsuk-u-visually-hidden">
                  <%= patient.full_name %>
                </span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render AppVaccinationRecordTableComponent.new(@vaccination_records,
                                                  new_records: true) %>
