<%= content_for :page_title, "#{@campaign.name} – #{t("immunisation_imports.index.title")}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("campaigns.index.title"), href: campaigns_path },
                                          { text: @campaign.name, href: campaign_path(@campaign) },
                                        ]) %>
<% end %>

<%= render "campaigns/name_and_academic_year" %>

<%= render AppSecondaryNavigationComponent.new do |nav|
      nav.with_item(
        text: "Overview",
        href: campaign_path(@campaign),
      )
      nav.with_item(
        text: t("campaigns.patients.title"),
        href: patients_campaign_path(@campaign),
      )
      nav.with_item(
        text: "School sessions",
        href: sessions_campaign_path(@campaign),
      )
      nav.with_item(
        text: t("vaccination_records.index.title"),
        href: campaign_vaccination_records_path(@campaign),
      )
      nav.with_item(
        text: t("immunisation_imports.index.title"),
        href: campaign_immunisation_imports_path(@campaign),
        selected: true,
      )
    end %>
<p class="app-action-list">
  <%= govuk_link_to "Upload new vaccination records", new_campaign_immunisation_import_path %>
</p>

<div class="nhsuk-table__panel-with-heading-tab">
  <h3 class="nhsuk-table__heading-tab">Uploads</h3>

  <%= govuk_table(html_attributes: { class: "nhsuk-table-responsive" }) do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Upload date") %>
        <% row.with_cell(text: "Uploaded by") %>
        <% row.with_cell(text: "Records", numeric: true) %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% @immunisation_imports.each do |immunisation_import| %>
        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Upload date</span>
            <%= govuk_link_to immunisation_import.created_at.to_fs(:long), campaign_immunisation_import_path(@campaign, immunisation_import) %>
          <% end %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Uploaded by</span>
            <%= immunisation_import.user.full_name %>
          <% end %>
          <% row.with_cell(numeric: true) do %>
            <span class="nhsuk-table-responsive__heading">Records</span>
            <%= immunisation_import.vaccination_records.count %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% content_for :after_main do %>
  <%= render(AppDevToolsComponent.new) do %>
    <%= govuk_button_to "Download DPS export", export_dps_campaign_vaccination_records_path(@campaign) %>
    <%= govuk_button_to "Reset DPS export for campaign", reset_dps_export_campaign_vaccination_records_path(@campaign) %>
  <% end %>
<% end %>
