<% content_for :before_main do %>
  <%= govuk_back_link(href: imports_path) %>
<% end %>

<% title = "Upload vaccination records" %>

<% content_for :page_title, title %>

<% if (cutoff_date = current_team.national_reporting_cut_off_date) && cutoff_date.today? %>
  <%= govuk_notification_banner(title_text: "#{cutoff_date.to_fs(:long)} - Check where to upload records") do |notification_banner| %>
    <% notification_banner.with_heading(text: "Vaccinations given:") %>
    <ul>
      <li>before <%= cutoff_date.to_fs(:long) %> must be uploaded to NIVS by the end of today</li>
      <li>on or after <%= cutoff_date.to_fs(:long) %> must be uploaded to Mavis national reporting only</li>
    </ul>
  <% end %>
<% end %>

<%= form_with model: @immunisation_import, url: immunisation_imports_path do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="nhsuk-heading-l"><%= title %></h1>

  <% if current_team.has_national_reporting_access? %>
    <p>You can upload vaccination records for flu or HPV. Mavis will detect which vaccination programme the records are for.</p>
  <% else %>
    <p>You can import vaccination records by uploading:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>a Mavis CSV file</li>
      <li>a SystmOne file</li>
    </ul>
  <% end %>

  <%= render AppImportFormatDetailsComponent.new(import: @immunisation_import) %>

  <%= f.govuk_file_field :csv,
                         label: { text: "Upload file", size: "m" },
                         javascript: true %>

  <%= f.govuk_submit %>
<% end %>
