<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: programme_vaccination_records_path(@programme),
        name: "vaccinations",
      ) %>
<% end %>

<% title = "Import vaccination records" %>
<% hint = if @programme.hpv?
       "These will go to NHS England. Make sure the CSV you upload has the same format as your usual reporting template."
     elsif @programme.flu?
       "These will go to NHS England and GPs. Make sure the CSV you upload has the same format as your usual reporting template."
     else
       "Make sure the CSV you upload has the same format as your usual reporting template."
     end %>

<% content_for :page_title, title %>

<%= form_with model: @immunisation_import, url: programme_immunisation_imports_path do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_file_field :csv,
                         caption: { text: @programme.name, size: "l" },
                         label: { text: title, tag: "h1", size: "l" },
                         hint: { text: hint } %>

  <%= govuk_details(summary_text: "How to format your CSV for vaccination records") do %>
    <p class="nhsuk-body">Make sure the CSV you upload uses the following columns:</p>

    <%= govuk_table(classes: "app-table--csv") do |table|
          table.with_head do |head|
            head.with_row do |row|
              row.with_cell(text: "Column name")
              row.with_cell(text: "Notes")
            end
          end
        
          table.with_body do |body|
            body.with_row do |row|
              row.with_cell do
                tag.code("ORGANISATION_CODE")
              end
              row.with_cell do
                tag.strong("Required") + ", must be a valid " + govuk_link_to("ODS code", "https://odsportal.digital.nhs.uk/")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("SCHOOL_URN")
              end
              row.with_cell do
                tag.strong("Required") + ", must be 6 digits and numeric. Use " + tag.i("888888") + " for school unknown and " + tag.i("999999") + " for homeschooled."
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("SCHOOL_NAME")
              end
              row.with_cell do
                ("Required if " + tag.i("SCHOOL_URN") + " is " + tag.i("888888")).html_safe
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("NHS_NUMBER")
              end
              row.with_cell(text: "Optional, must be 10 digits and numeric")
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("PERSON_FORENAME")
              end
              row.with_cell do
                tag.strong("Required")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("PERSON_SURNAME")
              end
              row.with_cell do
                tag.strong("Required")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("PERSON_DOB")
              end
              row.with_cell do
                tag.strong("Required")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("PERSON_GENDER_CODE")
              end
              row.with_cell do
                tag.strong("Required") + ", must be " + tag.i("Not known") + ", " + tag.i("Male") + ", " + tag.i("Female") + ", " + tag.i("Not specified")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("PERSON_POSTCODE")
              end
              row.with_cell do
                tag.strong("Required") + ", must be formatted as a valid postcode"
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("DATE_OF_VACCINATION")
              end
              row.with_cell do
                tag.strong("Required") + ", must use " + tag.i("YYYYMMDD") + " format"
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("VACCINE_GIVEN")
              end
              row.with_cell do
                tag.strong("Required") + ", must be " + @programme.vaccines.pluck(:nivs_name).map { tag.i(_1) }.to_sentence(last_word_connector: ", or ", two_words_connector: " or ").html_safe
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("BATCH_NUMBER")
              end
              row.with_cell do
                tag.strong("Required")
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("BATCH_EXPIRY_DATE")
              end
              row.with_cell do
                tag.strong("Required") + ", must use " + tag.i("YYYYMMDD") + " format"
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("ANATOMICAL_SITE")
              end
              row.with_cell do
                tag.strong("Required") + ", must be " + tag.i("Left Buttock") + ", " + tag.i("Right Buttock") + ", " + tag.i("Left Thigh") + ", " + tag.i("Right Thigh") + ", " + tag.i("Left Upper Arm") + ", " + tag.i("Right Upper Arm") + " or " + tag.i("Nasal")
              end
            end
        
            if @programme.hpv?
              body.with_row do |row|
                row.with_cell do
                  tag.code("DOSE_SEQUENCE")
                end
                row.with_cell do
                  tag.strong("Required") + ", must be " + tag.i("1") + ", " + tag.i("2") + " or " + tag.i("3")
                end
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("VACCINATED")
              end
              row.with_cell do
                ("Optional, must be " + tag.i("Y") + " or " + tag.i("N") + ". If omitted, " + tag.i("Y") + " is assumed.").html_safe
              end
            end
        
            if @programme.hpv?
              body.with_row do |row|
                row.with_cell do
                  tag.code("CARE_SETTING")
                end
                row.with_cell do
                  ("Required if " + tag.code("VACCINATED") + " is " + tag.i("Y") + ". Must be " + tag.i("1") + " (school) or " + tag.i("2") + " (care setting)").html_safe
                end
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("PERFORMING_PROFESSIONAL_FORENAME")
              end
              row.with_cell do
                ("Required if " + tag.code("VACCINATED") + " is " + tag.i("Y")).html_safe
              end
            end
        
            body.with_row do |row|
              row.with_cell do
                tag.code("PERFORMING_PROFESSIONAL_SURNAME")
              end
              row.with_cell do
                ("Required if " + tag.code("VACCINATED") + " is " + tag.i("Y")).html_safe
              end
            end
          end
        end %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
