<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
    href: if @draft_consent.response_given?
      edit_questions_session_patient_nurse_consents_path(@session, @patient)
    else
      edit_agree_session_patient_nurse_consents_path(@session, @patient)
    end,
    name: "health questions page",
  ) %>
<% end %>

<% page_title = "Check and confirm answers" %>

<%= h1 page_title:, class: "nhsuk-heading-l" do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<% if @draft_consent.via_self_consent? %>
  <%= render AppGillickCardComponent.new(
    consent: @draft_consent,
    patient_session: @patient_session) %>
<% else %>
  <%= render AppConsentCardComponent.new(
    consent: @draft_consent,
    current_user:) %>
<% end %>

<% if @draft_consent.response_given? %>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Health questions
      </h2>

      <%= render AppHealthQuestionsComponent.new(
        consents: [@draft_consent]) %>
    </div>
  </div>
<% end %>

<% if @draft_consent.response_given? && @draft_triage.status.present? %>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Triage
      </h2>

      <%= govuk_summary_list classes: 'app-summary-list--no-bottom-border' do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Status" }
          row.with_value { @draft_triage.status.humanize }
        end

        summary_list.with_row do |row|
          row.with_key { "Triage notes" }
          row.with_value { @draft_triage.notes.presence || "No notes" }
        end
      end %>
    </div>
  </div>
<% end %>

<%= govuk_button_to "Confirm",
  record_session_patient_nurse_consents_path(@session, @patient),
  method: :put %>
