<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
    href: if @draft_consent.response_given?
      edit_questions_session_patient_nurse_consents_path(@session, @patient)
    else
      edit_agree_session_patient_nurse_consents_path(@session, @patient)
    end,
    name: "health questions page",
  ) %>
<% end %>

<% page_title = "Check and confirm answers" %>

<%= h1 page_title:, class: "nhsuk-heading-l" do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<% if @draft_consent.via_self_consent? %>
  <%= render AppGillickCardComponent.new(
    consent: @draft_consent,
    patient_session: @patient_session) %>
<% else %>
<div class="nhsuk-card" data-testid="consent">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      <%= {
        given: "Consent given by",
        refused: "Refusal confirmed by",
        not_provided: "",
      }[@draft_consent.response.to_sym] %>
      <%= @draft_consent.parent_name.titleize %>
      (<%= @draft_consent.who_responded %>)
    </h2>

    <%= govuk_summary_list classes: 'app-summary-list--no-bottom-border' do |summary_list|
      summary_list.with_row do |row|
        row.with_key { "Name" }
        row.with_value { @draft_consent.parent_name.titleize }
      end

      summary_list.with_row do |row|
        row.with_key { "Relationship" }
        row.with_value { @draft_consent.who_responded }
      end

      summary_list.with_row do |row|
        row.with_key { "Contact" }
        row.with_value { @draft_consent.parent_phone }
      end

      summary_list.with_row do |row|
        row.with_key { "Response" }
        row.with_value do %>
          <p class="nhsuk-u-margin-bottom-0">
            <%= {
            given: "Consent updated to given (by phone)",
            refused: "Refusal confirmed (by phone)",
            not_provided: "No response when contacted",
            }[@draft_consent.response.to_sym] %>
          </p>
          <p class="nhsuk-u-margin-bottom-2 nhsuk-u-secondary-text-color nhsuk-u-font-size-16 nhsuk-u-margin-bottom-0">
            <%= govuk_link_to current_user.full_name, "mailto:#{current_user.email}" %>,
            <%= Time.zone.now.to_fs(:app_date_time) %>
          </p>
        <% end
      end

      if @draft_consent.response_refused?
        summary_list.with_row do |row|
          row.with_key { "Refusal reason" }
          row.with_value do %>
            <%= @draft_consent.human_enum_name(:reason_for_refusal) %>
            <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
              <%= @draft_consent.reason_for_refusal_other %>
            </div>
          <% end
        end
      end
    end %>
  </div>
</div>
<% end %>

<% if @draft_consent.response_given? %>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Health questions
      </h2>

      <%= render AppHealthQuestionsComponent.new(
        consents: [@draft_consent]) %>
    </div>
  </div>
<% end %>

<% if @draft_consent.response_given? && @draft_triage.status.present? %>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Triage
      </h2>

      <%= govuk_summary_list classes: 'app-summary-list--no-bottom-border' do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Status" }
          row.with_value { @draft_triage.status.humanize }
        end

        summary_list.with_row do |row|
          row.with_key { "Triage notes" }
          row.with_value { @draft_triage.notes.presence || "No notes" }
        end
      end %>
    </div>
  </div>
<% end %>

<%= govuk_button_to "Confirm",
  record_session_patient_nurse_consents_path(@session, @patient),
  method: :put %>
