<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: previous_wizard_path,
        name: "#{@previous_step} page of session creation",
      ) %>
<% end %>

<%= h1 "Check and confirm details" %>

<%= render AppSessionSummaryCardComponent.new(session: @session) %>

<% if @session.send_consent_requests_at.today? %>
  <%= govuk_inset_text do %>
    <span class="nhsuk-visually-hidden">Information: </span>

    <p>
      After clicking confirm, consent request emails will be sent immediately.
    </p>
  <% end %>
<% end %>

<%= govuk_button_to "Confirm",
                    wizard_path,
                    method: :put,
                    prevent_double_click: true %>
