<% content_for :before_main do %>
  <%= govuk_back_link(href: session_path(@session)) %>
<% end %>

<%= h1 "Edit session" do %>
  <span class="nhsuk-caption-l"><%= @session.location.name %></span>
  Edit session
<% end %>

<%= render AppCardComponent.new do |card| %>
  <% card.with_heading(level: 2) { "Session details" } %>

  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Programmes" }
          row.with_value { render AppProgrammeTagsComponent.new(@session.programmes) }
          row.with_action(text: "Change", href: programmes_session_edit_path(@session), visually_hidden_text: "programmes")
        end
      
        summary_list.with_row do |row|
          row.with_key { "Session dates" }
      
          if (dates = @session.dates).present?
            row.with_value do
              safe_join(dates.map { it.to_fs(:long_day_of_week) }, tag.br)
            end
            row.with_action(text: "Change", href: session_dates_path(@session), visually_hidden_text: "session dates")
          else
            row.with_value do
              link_to "Add session dates", session_dates_path(@session)
            end
          end
        end
      
        if (send_consent_requests_at = @session.send_consent_requests_at).present?
          summary_list.with_row do |row|
            row.with_key { "Consent requests" }
            row.with_value { "Send on #{send_consent_requests_at.to_fs(:long_day_of_week)}" }
            if @session.can_change_notification_dates?
              row.with_action(text: "Change", href: send_consent_requests_at_session_edit_path(@session), visually_hidden_text: "consent requests")
            end
          end
        end
      
        if @session.open_for_consent?
          summary_list.with_row do |row|
            row.with_key { "Consent reminders" }
            row.with_value do
              safe_join([
                "Send #{pluralize(@session.weeks_before_consent_reminders, "week")} before each session",
                if (next_date = @session.next_reminder_date).nil?
                  tag.span("No more reminders will be sent", class: "nhsuk-u-secondary-text-colour")
                else
                  tag.span("Next: #{next_date.to_fs(:long_day_of_week)}", class: "nhsuk-u-secondary-text-colour")
                end,
              ], tag.br)
            end
            if @session.can_change_notification_dates?
              row.with_action(text: "Change", href: weeks_before_consent_reminders_session_edit_path(@session), visually_hidden_text: "consent reminders")
            end
          end
        end
      
        if (send_invitations_at = @session.send_invitations_at).present?
          summary_list.with_row do |row|
            row.with_key { "Invitations" }
            row.with_value { "Send on #{send_invitations_at.to_fs(:long_day_of_week)}" }
            if @session.can_change_notification_dates?
              row.with_action(text: "Change", href: send_invitations_at_session_edit_path(@session), visually_hidden_text: "invitations")
            end
          end
        end
      
        summary_list.with_row do |row|
          row.with_key { "Register attendance" }
          row.with_value { @session.requires_registration? ? "Yes" : "No" }
          row.with_action(text: "Change", href: register_attendance_session_edit_path(@session), visually_hidden_text: "register attendance")
        end
      
        if @session.supports_delegation?
          summary_list.with_row do |row|
            row.with_key { "Use patient specific direction (PSD)" }
            row.with_value { @session.psd_enabled? ? "Yes" : "No" }
            row.with_action(text: "Change", href: delegation_session_edit_path(@session), visually_hidden_text: "use patient specific direction (PSD)")
          end
      
          summary_list.with_row do |row|
            row.with_key { "Use national protocol" }
            row.with_value { @session.national_protocol_enabled? ? "Yes" : "No" }
            row.with_action(text: "Change", href: delegation_session_edit_path(@session), visually_hidden_text: "use national protocol")
          end
        end
      end %>
<% end %>

<%= govuk_button_link_to "Continue", session_path(@session) %>
