<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: previous_wizard_path,
        name: "#{@previous_step} page of session creation",
      ) %>
<% end %>

<%= form_with model: @session, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 "What’s the timeline for consent requests?" %>

  <%= govuk_inset_text do %>
    <span class="nhsuk-visually-hidden">Information: </span>

    <p>
      Session scheduled for <%= @session.date.to_fs(:long_day_of_week) %> (<%= @session.human_enum_name(:time_of_day) %>)
    </p>
  <% end %>

  <%= f.govuk_date_field :send_consent_requests_at,
                         legend: { size: "m", text: "Consent requests" },
                         hint: { text: "When should parents get a request for consent?" } %>

  <%= f.govuk_radio_buttons_fieldset :reminder_days_after,
                                     legend: { size: "m", text: "Reminders" },
                                     hint: { text: "When should parents who haven’t responded get a reminder?" } do %>
    <%= f.govuk_radio_button :reminder_days_after, :default,
                             label: { text: "#{pluralize(Session::DEFAULT_DAYS_FOR_REMINDER, "day")} after the first consent request" },
                             link_errors: true %>
    <%= f.govuk_radio_button :reminder_days_after, :custom,
                             label: { text: "Choose your own date" } do %>
      <%= f.govuk_text_field :reminder_days_after_custom,
                             label: { text: "Days after the first consent request", size: "s" },
                             width: 2,
                             suffix_text: "days" %>
    <% end %>
  <% end %>

  <%= f.govuk_radio_buttons_fieldset :close_consent_on,
                                     legend: { size: "m", text: "Deadline for responses" } do %>
    <%= f.govuk_radio_button :close_consent_on, :default,
                             label: { text: "Allow responses until the day of the session" },
                             link_errors: true %>
    <%= f.govuk_radio_button :close_consent_on, :custom,
                             label: { text: "Choose your own deadline" } do %>
      <%= f.govuk_date_field :close_consent_at,
                             legend: { text: "Deadline for consent responses", size: "s" },
                             hint: { text: "For example, 27 3 2023" } %>
    <% end %>
  <% end %>

  <%= f.govuk_submit "Continue" %>
<% end %>
