<%= render AppConsentStatusComponent.new(patient_session:) %>

<% if patient_session.no_consent? %>
  <p class="app-status">
    No response yet
  </p>
<% end %>

<% if consents.present? %>
  <%= govuk_table(classes: "nhsuk-u-margin-bottom-4") do |table| %>
    <%= table.with_head do |head| %>
      <%= head.with_row do |row| %>
        <%= row.with_cell(text: "Name") %>
        <%= row.with_cell(text: "Response date") %>
        <%= row.with_cell(text: "Decision") %>
      <% end %>
    <% end %>

    <%= table.with_body do |body| %>
      <% consents.each do |consent| %>
        <%= body.with_row do |row| %>
          <%= row.with_cell do %>
            <%= govuk_link_to consent&.parent&.name || consent.patient.full_name, details_session_patient_manage_consents_path(consent, session_id: session.id, patient_id: patient.id, section:, tab:) %>
            <br>
            <span class="nhsuk-u-font-size-16"><%= consent.who_responded %></span>
          <% end %>
          <%= row.with_cell(text: consent.recorded_at.to_fs(:long)) %>
          <%= row.with_cell(text: consent.human_enum_name(:response).humanize) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<p>
  <%= form_for :consent,
               url: session_patient_manage_consents_path(session, patient_id: patient.id, section: @section, tab: @tab),
               method: :post,
               builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <%= f.govuk_submit "Get consent" %>
  <% end %>
</p>
