<div class="nhsuk-grid-column-full">
  <% programmes.each do |programme| %>
    <section>
      <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">
        <%= programme.name %>
      </h3>

      <p class="nhsuk-caption-m nhsuk-u-reading-width nhsuk-u-margin-bottom-4">
        <%= t(".eligibility_message", count: eligible_for_vaccination_count(programme)) %>
      </p>

      <% tally_cards = tally_cards_for_programme(programme) %>
      <% column_class = tally_cards.length == 4 ? "one-quarter" : "one-fifth" %>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <% tally_cards.each do |card_data| %>
          <li class="nhsuk-grid-column-<%= column_class %> nhsuk-card-group__item">
            <%= render AppCardComponent.new(compact: true,
                                            colour: card_data[:colour],
                                            link_to: card_data[:link_to]) do |card| %>
              <% card.with_heading(size: "xs") { card_data[:heading] } %>
              <% card.with_data { card_data[:count].to_s } %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <section>
    <%= render AppCardComponent.new do |card| %>
      <% if session.today? %>
        <%= govuk_inset_text classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4" do %>
          <%= link_to t(".still_to_vaccinate_message", count: still_to_vaccinate_count),
                      session_patients_path(session, still_to_vaccinate: 1) %>
        <% end %>
      <% end %>

      <% card.with_heading(level: 3) { heading } %>

      <% if session.started? %>
        <%= render AppSessionDatesTableComponent.new(session) %>
      <% else %>
        <% if session_dates.present? %>
          <%= tag.ul(class: "nhsuk-list") do %>
            <% session_dates.each do |date| %>
              <%= tag.li(date.to_fs(:long_day_of_week)) %>
            <% end %>
          <% end %>
          <p class="nhsuk-body">Consent period <%= session_consent_period(@session).downcase_first %></p>
        <% else %>
          <p class="nhsuk-hint"><%= no_sessions_message %></p>
        <% end %>
      <% end %>

      <div class="nhsuk-button-group">
        <% if policy(session).edit? %>
          <%= govuk_button_link_to edit_button_text, edit_session_path(session), secondary: true %>

          <%= link_to "Record offline", session_path(@session, format: :xlsx) %>

          <% if @session.clinic? && @session.can_send_clinic_invitations? %>
            <%= link_to "Send booking reminders", edit_session_invite_to_clinic_path(@session) %>
          <% elsif @session.school? && @session.can_send_clinic_invitations? %>
            <%= link_to "Send clinic invitations", edit_session_invite_to_clinic_path(@session) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
  <section>
    <%= render AppCardComponent.new do |card| %>
      <% card.with_heading(level: 3) { "Action required" } %>
      <%= render AppSessionActionsComponent.new(session, show_heading: false) %>
    <% end %>
  </section>
  <section>
    <%= render AppCardComponent.new do |card| %>
      <% card.with_heading(level: 3) { session.clinic? ? "About this clinic" : "About this school" } %>
      <%= render AppSessionLocationSummaryComponent.new(session) %>
    <% end %>
  </section>
</div>
