<%= form_with(
     model: vaccinate_form,
     url:,
     method: :post,
     class: "nhsuk-card",
     builder: GOVUKDesignSystemFormBuilder::FormBuilder,
   ) do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <div class="nhsuk-card__content">
    <section>
      <h3 class="nhsuk-card__heading nhsuk-heading-s">
        Pre-screening checks
      </h3>

      <%= f.govuk_radio_buttons_fieldset :identity_check_confirmed_by_patient,
                                         legend: { text: "Has #{patient.given_name} confirmed their identity?", size: nil } do %>

        <%= f.govuk_radio_button :identity_check_confirmed_by_patient, true, label: { text: "Yes" }, checked: true, link_errors: true %>

        <%= f.govuk_radio_button :identity_check_confirmed_by_patient, false,
                                 label: { text: "No, it was confirmed by somebody else" } do %>

          <%= f.govuk_text_field :identity_check_confirmed_by_other_name,
                                 label: { text: "What is the person’s name?" } %>

          <%= f.govuk_text_field :identity_check_confirmed_by_other_relationship,
                                 label: { text: "What is their relationship to the child?" },
                                 hint: { text: "For example, parent, teacher or teaching assistant" } %>
        <% end %>
      <% end %>

      <p>Have you checked that <%= patient.given_name %>:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>is not acutely unwell</li>
        <% if vaccinate_form.ask_not_pregnant? %>
          <li>is not pregnant</li>
        <% end %>
        <% if vaccinate_form.ask_not_taking_medication? %>
          <li>is not taking any medication which prevents vaccination</li>
        <% end %>
        <li>has no allergies which would prevent vaccination</li>
        <li>has not already had this vaccination</li>
        <li>knows what the vaccination is for, and is happy to have it</li>
      </ul>

      <%= f.govuk_check_boxes_fieldset :pre_screening_confirmed, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :pre_screening_confirmed, 1, 0, multiple: false, link_errors: true,
                                                              label: { text: "I have checked that the above statements are true" } %>
      <% end %>

      <%= f.govuk_text_area :pre_screening_notes, label: { text: "Pre-screening notes (optional)" }, rows: 3 %>
    </section>

    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

    <section>
      <h3 class="nhsuk-card__heading nhsuk-heading-s">
        Is <%= patient.given_name %> ready for their <%= vaccination_name %>?
      </h3>

      <% hint = "Pre-screening checks must be completed for vaccination to go ahead" %>

      <%= f.govuk_radio_buttons_fieldset :administered, legend: nil do %>
        <% if common_delivery_sites_options.length > 1 %>
          <%= f.govuk_radio_button :administered, true, label: { text: "Yes" }, hint: { text: hint }, link_errors: true do %>
            <%= f.govuk_collection_radio_buttons :delivery_site,
                                                 common_delivery_sites_options,
                                                 :value,
                                                 :label,
                                                 legend: {
                                                   text: "Where will the injection be given?",
                                                   size: "s",
                                                 } %>
          <% end %>
        <% else %>
          <%= f.govuk_radio_button :administered, true, label: { text: "Yes" }, hint: { text: hint }, link_errors: true %>
          <%= f.hidden_field :delivery_site, value: common_delivery_sites_options.first.value %>
        <% end %>
        <%= f.govuk_radio_button :administered, false, label: { text: "No" } %>
      <% end %>

      <%= f.hidden_field :delivery_method, value: delivery_method %>
      <%= f.hidden_field :dose_sequence, value: dose_sequence %>
      <%= f.hidden_field :programme_id, value: programme.id %>

      <%= f.govuk_submit "Continue", class: "nhsuk-u-margin-bottom-0" %>
    </section>
  </div>
<% end %>
