<%= form_with(
     model: vaccinate_form,
     url:,
     method: :post,
     class: "nhsuk-card",
     builder: GOVUKDesignSystemFormBuilder::FormBuilder,
   ) do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <div class="nhsuk-card__content">
    <%= f.govuk_collection_radio_buttons :administered, %w[true false], :itself,
                                         inline: true,
                                         legend: {
                                           text: "Is #{patient.given_name} ready to vaccinate in this session?",
                                         } %>

    <%= f.hidden_field :dose_sequence, value: dose_sequence %>
    <%= f.hidden_field :programme_id, value: programme.id %>
    <%= f.hidden_field :vaccine_id, value: vaccine.id %>

    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
