<nav class="nhsuk-breadcrumb<%= " #{@classes}" if @classes %>"
     aria-label="Breadcrumb"
     <%= @attributes.map { |name, value| "#{name}=\"#{value}\"" }.join(' ') %>>
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <% @items.each do |item| %>
        <li class="nhsuk-breadcrumb__item">
          <% if item[:href] %>
            <a class="nhsuk-breadcrumb__link"
               href="<%= item[:href] %>"
               <%= item[:attributes]
                 .map { |name, value| "#{name}=\"#{value}\"" }
                 .join(' ') if item[:attributes] %>><%= item[:text] %></a>
          <% else %>
            <%= item[:text] %>
          <% end %>
        </li>
      <% end %>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink"
         href="<%= @items.last[:href] %>">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        <%= @items.last[:text] %>
      </a>
    </p>
  </div>
</nav>
