<%= form_with url:, method: :get, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= render AppCardComponent.new(filters: true) do |card| %>
    <% card.with_heading(level: heading_level) { "Find children" } %>

    <div class="app-search-input" role="search">
      <%= f.govuk_text_field :q,
                             value: form.q,
                             label: { text: "Search", class: "nhsuk-u-visually-hidden" },
                             autocomplete: "off",
                             class: "app-search-input__input" %>

      <button class="nhsuk-button app-button--icon app-search-input__submit" data-module="nhsuk-button" type="submit">
        <svg class="nhsuk-icon nhsuk-icon--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" role="img" aria-label="Search">
          <title>Search</title>
          <path d="m20.7 19.3-4.1-4.1a7 7 0 1 0-1.4 1.4l4 4.1a1 1 0 0 0 1.5 0c.4-.4.4-1 0-1.4ZM6 11a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"/>
        </svg>
      </button>
    </div>

    <% if programmes.size > 1 %>
      <%= f.govuk_check_boxes_fieldset :programme_types,
                                       legend: { text: "Programme", size: "s" },
                                       small: true do %>
        <% programmes.each do |programme| %>
          <%= f.govuk_check_box :programme_types,
                                programme.type,
                                checked: form.programme_types&.include?(programme.type),
                                label: { text: programme.name } %>
        <% end %>
      <% end %>
    <% end %>

    <% if !Flipper.enabled?(:programme_status, current_team) && (show_still_to_vaccinate || show_eligible_children) %>
      <%= f.govuk_check_boxes_fieldset :show_only,
                                       multiple: true,
                                       legend: { text: "Show only", size: "s" },
                                       small: true do %>
        <% if show_still_to_vaccinate %>
          <%= f.govuk_check_box :still_to_vaccinate,
                                1, 0,
                                checked: form.still_to_vaccinate,
                                multiple: false,
                                link_errors: true,
                                label: { text: "Still to vaccinate" },
                                hint: { text: "With consent, not refused vaccine, not vaccinated yet" } %>
        <% end %>
        <% if show_eligible_children %>
          <%= f.govuk_check_box :eligible_children,
                                1, 0,
                                checked: form.eligible_children,
                                multiple: false,
                                link_errors: true,
                                label: { text: "Eligible this academic year and not vaccinated elsewhere" } %>
        <% end %>
      <% end %>
    <% end %>

    <% if show_vaccine_criteria && has_vaccine_criteria? %>
      <% programmes.each do |programme| %>
        <% if (programme_vaccine_criteria = vaccine_criteria_for(programme:)).present? %>
          <%= f.govuk_check_boxes_fieldset :vaccine_criteria,
                                           legend: {
                                             text: show_vaccine_criteria_headings? ? "#{programme.name} vaccine type" : "Vaccine type",
                                             size: "s",
                                           },
                                           small: true do %>
            <% programme_vaccine_criteria.each do |vaccine_criteria| %>
              <%= f.govuk_check_box :vaccine_criteria,
                                    vaccine_criteria,
                                    checked: form.vaccine_criteria&.include?(vaccine_criteria),
                                    label: { text: t(vaccine_criteria, scope: "vaccine_criteria") } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if registration_statuses.any? %>
      <%= f.govuk_radio_buttons_fieldset :registration_status,
                                         legend: { text: "Registration status", size: "s" },
                                         small: true do %>
        <%= f.govuk_radio_button :registration_status, "", checked: form.registration_status.blank?, label: { text: "Any" } %>
        <% registration_statuses.each do |status| %>
          <%= f.govuk_radio_button :registration_status,
                                   status,
                                   checked: form.registration_status == status,
                                   label: { text: t(status, scope: %i[status registration label]) } %>
        <% end %>
      <% end %>
    <% end %>

    <% if Flipper.enabled?(:programme_status, current_team) %>
      <% if programme_statuses.count > 1 %>
        <%= f.govuk_radio_buttons_fieldset :programme_status_group,
                                           legend: { text: "Programme status", size: "s" },
                                           small: true do %>
          <%= f.govuk_radio_button :programme_status_group, "", checked: form.programme_status_group.blank?, label: { text: "Any" } %>

          <% Patient::ProgrammeStatus::GROUPS.each do |status_group| %>
            <% if status_group == "due" %>
              <% if !show_vaccine_criteria && has_vaccine_criteria? %>
                <%= f.govuk_radio_button :programme_status_group,
                                         status_group,
                                         checked: form.programme_status_group == status_group,
                                         label: { text: t(status_group, scope: %i[status programme label]) } do %>
                  <% programmes.each do |programme| %>
                    <% if (programme_vaccine_criteria = vaccine_criteria_for(programme:)).present? %>
                      <%= f.govuk_check_boxes_fieldset :vaccine_criteria,
                                                       legend: {
                                                         text: show_vaccine_criteria_headings? ? "#{programme.name} vaccine type" : nil,
                                                         size: "s",
                                                         class: "nhsuk-u-margin-bottom-0",
                                                       },
                                                       small: true do %>
                        <% programme_vaccine_criteria.each do |vaccine_criteria| %>
                          <%= f.govuk_check_box :vaccine_criteria,
                                                vaccine_criteria,
                                                checked: form.vaccine_criteria&.include?(vaccine_criteria),
                                                label: { text: t(vaccine_criteria, scope: "vaccine_criteria") } %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <%= f.govuk_radio_button :programme_status_group,
                                         status_group,
                                         checked: form.programme_status_group == status_group,
                                         label: { text: t(status_group, scope: %i[status programme label]) } %>
              <% end %>
            <% else %>
              <% statuses = programme_statuses.select { it.starts_with?(status_group) }.sort %>

              <% if statuses.count > 1 %>
                <%= f.govuk_radio_button :programme_status_group,
                                         status_group,
                                         checked: form.programme_status_group == status_group,
                                         label: { text: t(status_group, scope: %i[status programme label]) } do %>
                  <%= f.govuk_check_boxes_fieldset :programme_statuses, legend: nil, small: true do %>
                    <% statuses.each do |status| %>
                      <%= f.govuk_check_box :programme_statuses,
                                            status,
                                            checked: form.programme_statuses&.include?(status),
                                            label: { text: t(status, scope: %i[status programme details]) } %>
                    <% end %>
                  <% end %>
                <% end %>
              <% elsif statuses.count > 0 %>
                <%= f.govuk_radio_button :programme_status_group,
                                         status_group,
                                         checked: form.programme_status_group == status_group,
                                         label: { text: t(status_group, scope: %i[status programme label]) } %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% if vaccination_statuses.any? %>
        <%= f.govuk_radio_buttons_fieldset :vaccination_status,
                                           legend: { text: "Programme status", size: "s" },
                                           small: true do %>
          <%= f.govuk_radio_button :vaccination_status, "", checked: form.vaccination_status.blank?, label: { text: "Any" } %>

          <% vaccination_statuses.each do |status| %>
            <%= f.govuk_radio_button :vaccination_status,
                                     status,
                                     checked: form.vaccination_status == status,
                                     label: { text: t(status, scope: %i[status vaccination label]) } %>
          <% end %>
        <% end %>
      <% end %>

      <% if consent_statuses.any? %>
        <%= f.govuk_check_boxes_fieldset :consent_statuses,
                                         legend: { text: "Consent status", size: "s" },
                                         small: true do %>
          <% consent_statuses.each do |status| %>
            <%= f.govuk_check_box :consent_statuses,
                                  status,
                                  checked: form.consent_statuses&.include?(status),
                                  label: { text: t(status, scope: %i[status consent label]) } %>
          <% end %>
        <% end %>
      <% end %>

      <% if triage_statuses.any? %>
        <%= f.govuk_radio_buttons_fieldset :triage_status,
                                           legend: { text: "Triage status", size: "s" },
                                           small: true do %>
          <%= f.govuk_radio_button :triage_status, "", checked: form.triage_status.blank?, label: { text: "Any" } %>
          <% triage_statuses.each do |status| %>
            <%= f.govuk_radio_button :triage_status,
                                     status,
                                     checked: form.triage_status == status,
                                     label: { text: t(status, scope: %i[status triage label]) } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if patient_specific_direction_statuses.any? %>
      <%= f.govuk_radio_buttons_fieldset :patient_specific_direction_status,
                                         legend: { text: "PSD status", size: "s" },
                                         small: true do %>
        <%= f.govuk_radio_button :patient_specific_direction_status, "", checked: form.patient_specific_direction_status.blank?, label: { text: "Any" } %>

        <% patient_specific_direction_statuses.each do |status| %>
          <%= f.govuk_radio_button :patient_specific_direction_status,
                                   status,
                                   checked: form.patient_specific_direction_status == status,
                                   label: { text: t(status, scope: %i[status patient_specific_direction label]) } %>
        <% end %>
      <% end %>
    <% end %>

    <% if year_groups.any? %>
      <%= f.govuk_check_boxes_fieldset :year_groups,
                                       legend: { text: "Year group", size: "s" },
                                       small: true do %>
        <% year_groups.each do |year_group| %>
          <%= f.govuk_check_box :year_groups,
                                year_group,
                                checked: form.year_groups&.include?(year_group),
                                label: { text: format_year_group(year_group) } %>
        <% end %>
      <% end %>
    <% end %>

    <%= govuk_details(summary_text: "Advanced filters", open: open_details?) do %>
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">Date of birth</legend>
          <div class="nhsuk-date-input">
            <div class="nhsuk-date-input__item">
              <%= f.govuk_number_field :date_of_birth_day,
                                       value: form.date_of_birth_day,
                                       label: { text: "Day" },
                                       width: 2 %>
            </div>
            <div class="nhsuk-date-input__item">
              <%= f.govuk_number_field :date_of_birth_month,
                                       value: form.date_of_birth_month,
                                       label: { text: "Month" },
                                       width: 2 %>
            </div>
            <div class="nhsuk-date-input__item">
              <%= f.govuk_number_field :date_of_birth_year,
                                       value: form.date_of_birth_year,
                                       label: { text: "Year" },
                                       width: 4 %>
            </div>
          </div>
        </fieldset>
      </div>

      <%= f.govuk_check_boxes_fieldset :show_only,
                                       multiple: false,
                                       legend: { text: "Show only", size: "s" },
                                       small: true do %>
        <%= f.govuk_check_box :archived,
                              1, 0,
                              checked: form.archived,
                              multiple: false,
                              link_errors: true,
                              label: { text: "Archived records" } %>

        <%= f.govuk_check_box :missing_nhs_number,
                              1, 0,
                              checked: form.missing_nhs_number,
                              multiple: false,
                              link_errors: true,
                              label: { text: "Children missing an NHS number" } %>

        <% if !Flipper.enabled?(:programme_status, current_team) && show_aged_out_of_programmes %>
          <%= f.govuk_check_box :aged_out_of_programmes,
                                1, 0,
                                checked: form.aged_out_of_programmes,
                                multiple: false,
                                link_errors: true,
                                label: { text: "Children aged out of programmes" } %>
        <% end %>
      <% end %>

      <% if show_buttons_in_details? %>
        <div class="nhsuk-button-group">
          <%= f.govuk_submit "Update results", secondary: true, class: "app-button--small" %>
          <%= govuk_button_link_to "Clear filters", clear_filters_path, secondary: true, class: "app-button--small" %>
        </div>
      <% end %>
    <% end %>

    <% unless show_buttons_in_details? %>
      <div class="nhsuk-button-group">
        <%= f.govuk_submit "Update results", secondary: true, class: "app-button--small" %>
        <%= govuk_button_link_to "Clear filters", clear_filters_path, secondary: true, class: "app-button--small" %>
      </div>
    <% end %>
  <% end %>
<% end %>
