<% return if discrepancies.blank? %>

<%= render AppDetailsComponent.new(expander: true, sticky: true) do |c| %>
  <% c.with_summary do %>
    <%= pluralize(discrepancies.count, "NHS number") %> updated
  <% end %>

  <%= govuk_table(html_attributes: { class: "nhsuk-table-responsive" }) do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Child record") %>
        <% row.with_cell(text: "NHS number (upload)") %>
        <% row.with_cell(text: "NHS number (Spine)") %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% discrepancies.each do |changeset| %>
        <% patient = changeset.patient %>

        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Child record</span>
            <span>
              <% if can_link_to?(patient) %>
                <%= link_to patient.full_name, patient_path(patient) %>
              <% else %>
                <%= patient.full_name %>
              <% end %>
            </span>
          <% end %>

          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Uploaded NHS number</span>
            <%= format_nhs_number(changeset.uploaded_nhs_number) %>
          <% end %>

          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">PDS NHS number</span>
            <%= format_nhs_number(changeset.pds_nhs_number) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>