<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-u-font-weight-bold nhsuk-u-padding-top-3">
    Filter results
  </legend>
  <div class="nhsuk-form-group">
    <label class="nhsuk-label nhsuk-label--s" for="filter-<%= @tab_id %>-name">
      By name
    </label>
    <input class="nhsuk-input" id="filter-<%= @tab_id %>-name" name="name" type="search" autocomplete="off">
  </div>
  <div class="nhsuk-form-group app-visually-hidden-until-desktop">
    <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-0" for="filter-<%= @tab_id %>-dob">
      By date of birth
    </label>
    <div class="nhsuk-hint nhsuk-u-font-size-16" id="filter-<%= @tab_id %>-dob-hint">
      e.g. 2005 or 01/03/2014
    </div>
    <input class="nhsuk-input" id="filter-<%= @tab_id %>-dob" name="dob" type="search" aria-describedby="filter-<%= @tab_id %>-dob-hint" autocomplete="off">
  </div>
  <% if @filter_actions %>
    <div class="nhsuk-form-group app-visually-hidden-until-desktop">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
          By action needed
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="filter-<%= @tab_id %>-action" name="action" type="checkbox" value="Get consent">
            <label class="govuk-label govuk-checkboxes__label" for="filter-<%= @tab_id %>-action">
              Get consent
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="filter-<%= @tab_id %>-action-3" name="action" type="checkbox" value="Triage">
            <label class="govuk-label govuk-checkboxes__label" for="filter-<%= @tab_id %>-action-3">
              Triage
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="filter-<%= @tab_id %>-action-4" name="action" type="checkbox" value="Vaccinate">
            <label class="govuk-label govuk-checkboxes__label" for="filter-<%= @tab_id %>-action-4">
              Vaccinate
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  <% end %>
</fieldset>
<button class="nhsuk-button nhsuk-button--secondary app-button--small" type="reset">
  Reset filters
</button>
