<nav <%= tag.attributes @attributes %>>
  <ul class="app-secondary-navigation__list">
    <% items.each do |item| %>
      <li class="app-secondary-navigation__list-item">
        <% if item.selected %>
          <%= link_to item.href,
                      class: "app-secondary-navigation__link",
                      aria: { current: true },
                      data: { turbo: true, turbo_action: "replace" } do %>
            <strong class="app-secondary-navigation__current">
              <%= item %>
            </strong>
          <% end %>
        <% else %>
          <%= link_to item.href,
                      class: "app-secondary-navigation__link",
                      data: { turbo: true, turbo_action: "replace" } do %>
            <%= item %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
