<div class="nhsuk-table__panel-with-heading-tab">
  <h3 class="nhsuk-table__heading-tab"><%= heading %></h3>
  <%= govuk_table(html_attributes: { class: "nhsuk-table-responsive" }) do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Full name") %>
        <% row.with_cell(text: "NHS number") %>
        <% row.with_cell(text: "Date of birth") %>
        <% row.with_cell(text: "Outcome") %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% patients.each do |patient| %>
        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Full name</span>
            <%= govuk_link_to patient.full_name, href_for(patient:) %>
          <% end %>

          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">NHS number</span>
            <%= helpers.format_nhs_number(patient.nhs_number) %>
          <% end %>

          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Date of birth</span>
            <%= patient.date_of_birth.to_fs(:long) %>
          <% end %>

          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Outcome</span>
            <%= outcome_for(patient:) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
