<%= render AppConsentStatusComponent.new(patient_session:) %>

<% if patient_session.no_consent? %>
  <p class="app-status">
    No response yet
  </p>
<% end %>

<% if patient_session.consents.present? %>
  <% consents_grouped_by_parent.each do |summary, consents| %>
    <%= render AppDetailsComponent.new(summary:, open: open_consents?) do %>
      <%= render AppConsentSummaryComponent.new(**grouped_consents(consents)) %>

      <% if consents.any?(&:response_refused?) %>
        <p><%= contact_parent_or_guardian_link(consents) %></p>
      <% elsif consents.any?(&:response_not_provided?) %>
        <%= govuk_button_link_to(
          "Get consent",
          session_patient_manage_consent_path(
            session,
            patient,
            consents.first.id,
            :agree,
            section: @section,
            tab: @tab
          ),
          secondary: true
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <%= if display_health_questions?
    render AppDetailsComponent.new(
      summary: "Responses to health questions",
      open: open_health_questions?,
      expander: true
    ) do
      render AppHealthQuestionsComponent.new(consents: @patient_session.consents)
    end
  end %>
<% else %>
  <p>
    <%= form_for :consent,
      url: session_patient_manage_consents_path(session, patient_id: patient.id, section: @section, tab: @tab),
      method: :post,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_submit "Get consent", name: "consent", value: "phone" %>

      <% if display_gillick_consent_button? %>
        <%= f.govuk_submit "Assess Gillick competence", secondary: true,
          name: "consent", value: "self_consent" %>
      <% end %>
    <% end %>
  </p>
<% end %>
