<%= form_with(
     model: @vaccination_record,
     url:,
     method: :post,
     class: "nhsuk-card",
     builder: GOVUKDesignSystemFormBuilder::FormBuilder,
   ) do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      Did they get the <%= campaign_name %> vaccine?
    </h2>

    <%= f.govuk_radio_buttons_fieldset(:administered, legend: nil) do %>
      <%= f.govuk_radio_button(
            :administered, true,
            label: { text: t("vaccinations.form.label.#{@vaccination_record.vaccine.type.downcase}") },
            link_errors: true,
            checked: @vaccination_record.persisted? && @vaccination_record.administered?,
          ) do %>
        <%= f.govuk_collection_radio_buttons(
              :delivery_site,
              vaccination_common_delivery_sites,
              :value,
              :label,
              legend: {
                text: "Where did they get it?",
                hidden: true,
              },
              bold_labels: false,
            ) %>
      <% end %>
      <%= f.govuk_radio_button(
            :administered,
            false,
            label: { text: "No, they did not get it" },
            checked: @vaccination_record.persisted? && @vaccination_record.not_administered?,
          ) %>
    <% end %>

    <%= f.hidden_field :delivery_method, value: :intramuscular %>

    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
