<dl class="nhsuk-summary-list app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value" data-testid="full-name">
      <%= @patient.full_name %>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value" data-testid="dob">
      <%= @patient.dob&.to_fs(:nhsuk_date) %> (<%= aged %>)
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      NHS Number
    </dt>
    <dd class="nhsuk-summary-list__value" data-testid="nhs-number">
      <%= @patient.nhs_number %>
    </dd>
  </div>

  <% if @patient.parent_name.present? %>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        <%= parent_guardian_or_other.capitalize %>
      </dt>
      <dd class="nhsuk-summary-list__value" data-testid="parent-info">
        <%= @patient.parent_name %>
        <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
          <% if @patient.parent_phone.present? %>
            Phone: <%= @patient.parent_phone %>
          <% end %>
          <% if @patient.parent_email.present? %>
            <br />
            Email: <%= @patient.parent_email %>
          <% end %>
        </div>

        <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
          (Details from <%= @patient.parent_info_source %>)
        </div>

      </dd>
    </div>
  <% end %>

  <% if Settings.features.fhir_server_integration %>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Vaccination history
      </dt>
      <dd class="nhsuk-summary-list__value">
        <%= link_to "Record available",
           history_session_patient_vaccinations_path(
             session_id: @session.id,
             id: (@patient.id || ":id")
           ) %>
      </dd>
    </div>
  <% end %>
</dl>
