<%= render AppConsentStatusComponent.new(patient_session:) %>

<% if patient_session.no_consent? %>
  <p class="app-status">
    No response yet
  </p>
<% end %>

<% if patient_session.consents.present? %>
  <% consents = patient_session.consents.order(:recorded_at) %>
  <%= govuk_table do |table| %>
    <%= table.with_head do |head| %>
      <%= head.with_row do |row| %>
        <%= row.with_cell(text: 'Name') %>
        <%= row.with_cell(text: 'Response date') %>
        <%= row.with_cell(text: 'Decision') %>
      <% end %>
    <% end %>

    <%= table.with_body do |body| %>
      <% patient_session.consents.order(recorded_at: :desc).each do |consent| %>
        <%= body.with_row do |row| %>
          <%= row.with_cell do %>
            <%= govuk_link_to consent.parent_name, details_session_patient_manage_consents_path(consent, session_id: session.id, patient_id: patient.id, section:, tab:) %>
            <br>
            <span class="nhsuk-u-font-size-16"><%= consent.human_enum_name(:parent_relationship).humanize %></span>
          <% end %>
          <%= row.with_cell(text: consent.recorded_at.to_fs(:app_date_time)) %>
          <%= row.with_cell(text: consent.human_enum_name(:response).humanize) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if consents.any?(&:response_refused?) %>
    <p><%= contact_parent_or_guardian_link(consents) %></p>
  <% elsif consents.any?(&:response_not_provided?) %>
    <%= govuk_button_link_to(
      "Get consent",
      session_patient_manage_consent_path(
        session,
        patient,
        consents.first.id,
        :agree,
        section: @section,
        tab: @tab
      ),
      secondary: true
    ) %>
  <% end %>
<% else %>
  <p>
    <%= form_for :consent,
      url: session_patient_manage_consents_path(session, patient_id: patient.id, section: @section, tab: @tab),
      method: :post,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_submit "Get consent", name: "consent", value: "phone" %>

      <% if display_gillick_consent_button? %>
        <%= f.govuk_submit "Assess Gillick competence", secondary: true,
          name: "consent", value: "self_consent" %>
      <% end %>
    <% end %>
  </p>
<% end %>
