<%= if patient_session.state.in? %w[
                                  vaccinated
                                  unable_to_vaccinate
                                ]
     render AppOutcomeBannerComponent.new(
       patient_session:,
       current_user:,
     )
   else
     render AppSimpleStatusBannerComponent.new(patient_session:)
   end %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Child details" } %>
  <%= render AppPatientDetailsComponent.new(patient) %>
<% end %>

<% if gillick_assessment_applicable? %>
  <%= render AppCardComponent.new do |c| %>
    <% c.with_heading { "Gillick assessment" } %>
    <% if gillick_assessment_recorded? %>
      <%= govuk_summary_list(
            classes: %w[app-summary-list--no-bottom-border
                        nhsuk-u-margin-bottom-0],
          ) do |summary_list| %>
        <%= summary_list.with_row do |row| %>
          <%= row.with_key { "Are they Gillick competent?" } %>
          <%= row.with_value {
                patient_session.gillick_assessment.gillick_competent ?
                  "Yes, they are Gillick competent" :
                  "No"
              } %>
        <% end %>
        <%= summary_list.with_row do |row| %>
          <%= row.with_key { "Details of your assessment" } %>
          <%= row.with_value { patient_session.gillick_assessment.notes } %>
        <% end %>
      <% end %>
    <% else %>
      <p class="nhsuk-body">
        <%= govuk_link_to("Give your assessment",
                          new_session_patient_gillick_assessment_path(
              session_id: session.id,
              patient_id: patient.id,
              section: @section,
              tab: @tab,
            )) %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Consent" } %>
  <%= render AppConsentComponent.new(patient_session:, section:, tab:) %>
<% end %>

<% if display_health_questions? %>
  <%= render AppCardComponent.new do |c| %>
    <% c.with_heading { "All answers to health questions" } %>
    <%= render AppHealthQuestionsComponent.new(
          consents: @patient_session.consents.recorded,
        ) %>
  <% end %>
<% end %>

<% if @patient_session.triage.any? %>
  <%= render AppCardComponent.new do |c| %>
    <% c.with_heading { "Triage notes" } %>
    <%= render AppTriageNotesComponent.new(patient_session:) %>
  <% end %>
<% end %>

<% if @patient_session.next_step == :triage %>
  <%= render AppCardComponent.new do %>
    <%= render AppTriageFormComponent.new(
          patient_session:,
          url: session_patient_triage_path(
            session,
            patient,
            @triage,
            section: @section,
            tab: @tab,
          ),
          triage: @triage,
          legend: :bold,
        ) %>
  <% end %>
<% end %>

<%= render AppVaccinateFormComponent.new(
      patient_session:,
      vaccination_record: @vaccination_record,
      section: @section,
      tab: @tab,
    ) %>
