<div class="nhsuk-form-group app-search-input">
  <label class="<%= label_classes %>" for="<%= id %>"><%= label.text %></label>
  <div class="nhsuk-input-wrapper">
    <input id="<%= id %>" class="nhsuk-input app-search-input__input" value="<%= value %>" autocomplete="off" autocapitalize="none" placeholder="<%= placeholder %>" spellcheck="false" type="search" name="<%= name %>">
    <button class="nhsuk-button app-button--icon nhsuk-button--small app-search-input__button" data-module="nhsuk-button" type="submit">
      <svg class="nhsuk-icon nhsuk-icon--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" role="img" aria-label="<%= icon.text %>">
        <title><%= icon.text %></title>
        <path d="m20.7 19.3-4.1-4.1a7 7 0 1 0-1.4 1.4l4 4.1a1 1 0 0 0 1.5 0c.4-.4.4-1 0-1.4ZM6 11a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"></path>
      </svg>
    </button>
  </div>
</div>