<nav aria-label="Secondary menu" <%= tag.attributes(@attributes) %>>
  <ul class="app-secondary-navigation__list">
    <% items.each do |item| %>
      <li class="app-secondary-navigation__list-item">
        <%= link_to item.href,
                    class: "app-secondary-navigation__link",
                    aria: { current: item.selected || nil },
                    data: { turbo: true, turbo_action: "replace" } do %>
          <% if item.selected %>
            <strong class="app-secondary-navigation__current">
              <%= item %>
            </strong>
          <% else %>
            <%= item %>
          <% end %>

          <% if item.ticked %>
            <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
              <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
            </svg>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<h2 class="nhsuk-u-visually-hidden">
  <%= selected_item_text %>
</h2>
