<% events_by_day.each do |day, events| %>
  <h2 class="nhsuk-heading-xs nhsuk-u-secondary-text-color
             nhsuk-u-font-weight-normal">
    <%= day.to_fs(:long) %>
  </h2>

  <% events.each do |event| %>
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading nhsuk-heading-s">
          <%= event[:title] %>
        </h3>
        <% if event[:notes].present? %>
          <blockquote>
            <p class="nhsuk-body"><%= event[:notes] %></p>
          </blockquote>
        <% end %>
        <p class="nhsuk-body-s nhsuk-u-margin-0 nhsuk-u-secondary-text-color">
          <%= event[:time].to_fs(:long) %>
          <% if event[:by] %> · <%= event[:by] %><% end %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
