<%= render AppConsentStatusComponent.new(patient_session:, programme:) %>

<% if consent_status.no_response? %>
  <% if latest_consent_request %>
    <p class="nhsuk-body">
      No-one responded to our requests for consent.
    </p>

    <p class="nhsuk-body">
      A request was sent on <%= latest_consent_request.sent_at.to_fs(:long) %>.
    </p>
  <% else %>
    <p class="nhsuk-body">
      No requests have been sent.
    </p>
  <% end %>
<% end %>

<% if can_send_consent_request? %>
  <%= govuk_button_to "Send consent request",
                      send_request_session_patient_programme_consents_path(
                        session, patient, programme
                      ),
                      secondary: true %>
<% end %>

<%= govuk_button_to "Get consent response",
                    session_patient_programme_consents_path(
                      session, patient, programme
                    ),
                    secondary: true %>

<%= render AppConsentTableComponent.new(patient_session:, programme:) %>
