<%= form_with(
     model: @vaccination_record,
     url:,
     method: :post,
     class: "nhsuk-card",
     builder: GOVUKDesignSystemFormBuilder::FormBuilder,
   ) do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      Did they get the <%= programme.name %> vaccine?
    </h2>

    <%= f.govuk_radio_buttons_fieldset(:administered, legend: nil) do %>
      <%= f.govuk_radio_button(
            :administered, true,
            label: { text: t(programme.type, scope: "vaccinations.form.label") },
            link_errors: true,
          ) do %>
        <%= f.govuk_collection_radio_buttons(
              :delivery_site,
              common_delivery_sites_options,
              :value,
              :label,
              legend: {
                text: "Where did they get it?",
                hidden: true,
              },
              bold_labels: false,
            ) %>
      <% end %>
      <%= f.govuk_radio_button(
            :administered,
            false,
            label: { text: "No, they did not get it" },
          ) %>
    <% end %>

    <%= f.hidden_field :delivery_method, value: delivery_method %>
    <%= f.hidden_field :dose_sequence, value: dose_sequence %>
    <%= f.hidden_field :programme_id, value: programme.id %>
    <%= f.hidden_field :vaccine_id, value: vaccine.id %>

    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
