<%= render AppCardComponent.new do |card| %>
  <% card.with_heading(level: 2) { "Details" } %>

  <%= helpers.govuk_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key { "Uploaded by" } %>
      <%= row.with_value { import.uploaded_by.full_name } %>
    <% end %>

    <% if import.show_approved_reviewers? %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key { "Approved by" } %>
        <%= row.with_value { approved_reviewers_text } %>
      <% end %>
    <% end %>

    <% if import.show_cancelled_reviewer? %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key { cancelled_reviewer_label } %>
        <%= row.with_value { cancelled_reviewer_text } %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key { "File" } %>
      <%= row.with_value { import.csv_filename } %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key { "Type" } %>
      <%= row.with_value { import.type_label } %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key { "Status" } %>
      <%= row.with_value { render AppImportStatusComponent.new(import:) } %>
    <% end %>

    <% if import.is_a?(ClassImport) %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key { "School" } %>
        <%= row.with_value { import.location.name } %>
      <% end %>

      <%= summary_list.with_row do |row| %>
        <%= row.with_key { "Year groups" } %>
        <%= row.with_value { import.year_groups.map { helpers.format_year_group(it) }.to_sentence } %>
      <% end %>
    <% end %>

    <% if import.records_count && import.status == "processed" %>
      <% if import.is_a?(ImmunisationImport) && import.type == "national_reporting" %>
        <%= summary_list.with_row do |row| %>
          <%= row.with_key { "Import summary" } %>
          <%= row.with_value { render AppImportStatisticsComponent.new(import: import) } %>
        <% end %>
      <% elsif import.records_count.positive? %>
        <%= summary_list.with_row do |row| %>
          <%= row.with_key { "Records" } %>
          <%= row.with_value { import.records_count.to_s } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if Flipper.enabled?(:import_bulk_remove_parents) &&
        import.is_a?(PatientImport) &&
        import.parent_relationships.present? %>
    <% if import.removing_parent_relationships? %>
      <p class="nhsuk-u-secondary-text-colour">Parent-child relationships are currently being removed from this import</p>
    <% elsif import.processed? && import.parent_relationships.any? %>
      <p>
        <%= link_to "Remove all parent-child relationships from import", imports_bulk_remove_parents_path(import.class.name.underscore, import.id) %>
      </p>
    <% end %>
  <% end %>
<% end %>
