<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: vaccinations_back_link_path,
        name: "vaccination page",
      ) %>
<% end %>

<% content_for :page_title, "Which batch did you use?" %>

<%= form_with model: @vaccination_record, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset(:batch_id,
                                     caption: { text: @patient.full_name, size: "l" },
                                     legend: { size: "l", tag: "h1", text: "Which batch did you use?" }) do %>
    <% @batches.each do |batch| %>
      <% label = proc do %>
        <span class="app-u-monospace"><%= batch.name %></span>
        (expires <%= batch.expiry.to_fs(:long) %>)
      <% end %>
      <%= f.govuk_radio_button(:batch_id, batch.id, label:) do %>
        <% if @vaccination_record.draft? %>
          <%= f.govuk_check_box(
                :todays_batch,
                batch.id,
                label: { text: "Default to this batch for this session" },
              ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.govuk_submit "Continue" %>
<% end %>
