<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: vaccinations_back_link_path,
        name: "vaccination page",
      ) %>
<% end %>

<%= h1 "Check and confirm" %>

<% if @vaccination_record.administered? %>
  <%= render AppCardComponent.new do %>
    <%= render AppVaccinationRecordSummaryComponent.new(
          @vaccination_record,
          current_user:,
          change_links: {
            batch: wizard_path(:batch),
            delivery_site: wizard_path(:"delivery-site"),
            delivery_method: wizard_path(:delivery_method),
            location: @vaccination_record.wizard_steps.include?(:location) ? wizard_path(:location) : nil,
            outcome: session_patient_path(
              @session,
              @patient,
              section: "vaccinations",
              tab: "vaccinate",
            ),
          },
          show_notes: false,
        ) %>
  <% end %>
<% else %>
  <%= render AppWarningCalloutComponent.new(heading: "Vaccination was not given") do %>
    <%= render AppVaccinationRecordSummaryComponent.new(
          @vaccination_record,
          current_user:,
          change_links: {
            outcome: session_patient_path(
              @session,
              @patient,
              section: "vaccinations",
              tab: "vaccinate",
            ),
          },
          show_notes: false,
        ) %>
  <% end %>
<% end %>

<%= form_with model: @vaccination_record,
              url: wizard_path,
              method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <%= f.govuk_text_area :notes,
                            label: {
                              text: "Add notes",
                              size: "m",
                              class: "nhsuk-u-margin-bottom-3",
                            },
                            hint: {
                              text: "For example, if the child had a reaction to the vaccine",
                            },
                            rows: 5 %>
    </div>
  </div>

  <%= f.govuk_submit "Confirm" %>
<% end %>
