<% patient = @vaccination_record.patient %>

<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: programme_vaccination_record_path(@programme, @vaccination_record),
        name: patient.full_name,
      ) %>
<% end %>

<%= form_with model: @vaccination_record, url: programme_vaccination_record_edit_date_and_time_path(@programme, @vaccination_record), method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <span class="nhsuk-caption-l"><%= patient.full_name %></span>
  <%= h1 "When was the vaccination given?" %>

  <%= f.govuk_date_field :administered_at,
                         legend: { text: "Date" },
                         hint: { text: "For example, 27 3 2017" } %>

  <% form_group_class = ["nhsuk-form-group", @vaccination_record.errors[:administered_at].present? ? "nhsuk-form-group--error" : nil].compact %>
  <% date_input_class = ["nhsuk-date-input__input", @vaccination_record.errors[:administered_at].present? ? "nhsuk-input--error" : nil].compact %>

  <%= tag.div(class: form_group_class) do %>
    <%= f.govuk_fieldset legend: { text: "Time" }, hint: { text: "For example, 13 15" } do %>
      <div class="nhsuk-date-input">
        <div class="nhsuk-date-input__item">
          <%= f.govuk_text_field :"administered_at(4i)", class: date_input_class, label: { text: "Hour", class: "nhsuk-date-input__label" }, value: @vaccination_record.administered_at&.hour, width: 2 %>
        </div>

        <div class="nhsuk-date-input__item">
          <%= f.govuk_text_field :"administered_at(5i)", class: date_input_class, label: { text: "Minute", class: "nhsuk-date-input__label" }, value: @vaccination_record.administered_at&.min, width: 2 %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit %>
  </div>
<% end %>
