<% page_title = "Create a pilot cohort" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(
    items: [
      { text: 'Home', href: dashboard_path },
      { text: 'Manage pilot', href: manage_pilot_path },
      { text: page_title } ]) %>
<% end %>

<%= h1 page_title, size: "xl" %>

<p class="nhsuk-body">Creating the pilot cohort involves six steps:</p>

<ol class="nhsuk-list nhsuk-list--number">
  <li>
    <a
      class="nhsuk-link"
      href="#1-download-the-list-of-interested-parents-from-mavis"
      >Download the list of parents interested in the pilot</a
    >
  </li>
  <li>
    <a
      class="nhsuk-link"
      href="#2-identify-up-to-100-eligible-children-to-participate"
      >Identify up to 100 children eligible to take part in the pilot</a
    >
  </li>
  <li>
    <a
      class="nhsuk-link"
      href="#3-tell-us-which-parents-are-taking-part-in-the-pilot-and-which-are-not"
      >Tell us which parents are taking part in the pilot and which are not</a
    >
  </li>
  <li>
    <a
      class="nhsuk-link"
      href="#4-create-the-cohort-list-for-those-who-are-taking-part"
      >Create the cohort list for those who are taking part</a
    >
  </li>
  <li>
    <a class="nhsuk-link" href="#5-upload-the-cohort-list"
      >Upload the cohort list into Mavis</a
    >
  </li>

  <li>
    <a class="nhsuk-link" href="#6-schedule-the-school-sessions"
      >Schedule the school sessions</a
    >
  </li>
</ol>

<h2
  class="nhsuk-heading-l"
  id="1-download-the-list-of-interested-parents-from-mavis"
>
  1. Download the list of interested parents from Mavis
</h2>

<p class="nhsuk-body">
  You can see how many people have expressed their interest in joining the pilot
  from each school in
  <%= link_to "Parents interested in the pilot", pilot_registrations_path %>.
</p>
<p class="nhsuk-body">
  When you have more than 110 responses overall, and a suitable number from each
  school, you can download the data as a CSV to see the full list of interested
  parents.
</p>

<h2
  class="nhsuk-heading-l"
  id="2-identify-up-to-100-eligible-children-to-participate"
>
  2. Identify up to 100 eligible children to participate
</h2>

<p class="nhsuk-body">
  As we’re not allowed to see children’s personal information, we need you to
  check the eligibility of those who sign up.
</p>
<p class="nhsuk-body">
  The CSV will be sorted in order of sign-ups, so the first person to sign up is
  at the top of the list. We are only authorised to run the pilot with a certain
  number of children per SAIS team, so we need to identify the first 100
  eligible parents who signed up. (You can break this down by school however you
  need to.)
</p>
<p class="nhsuk-body">Children are eligible for the pilot if:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>
    <p class="nhsuk-body">
      they are part of the cohort you had planned to vaccinate at the
      participating school according to your existing process (so children at
      other schools or in other year groups are not eligible)
    </p>
  </li>
  <li><p class="nhsuk-body">they have not already had the vaccine</p></li>
  <li>
    <p class="nhsuk-body">
      their parent/guardian has a completed consent form according to your
      current process (it does not matter whether the response was to give or
      refuse consent)
    </p>
  </li>
</ul>

<h2
  class="nhsuk-heading-l"
  id="3-tell-us-which-parents-are-taking-part-in-the-pilot-and-which-are-not"
>
  3. Tell us which parents are taking part in the pilot and which are not
</h2>

<p class="nhsuk-body">
  Once you’ve identified 100 eligible children overall, copy their parents’
  names and email addresses (not their children’s details) into a separate file,
  labelled ‘Participants’.
</p>
<p class="nhsuk-body">
  Create another file for the names and email addresses of parents who will not
  be participating, labelled ‘Not participating’.
</p>
<p class="nhsuk-body">
  Email both files to us, so that we can contact both groups confirming whether
  or not they can participate in the pilot.
</p>
<p class="nhsuk-body">
  You should send both files to: <%= govuk_mail_to t("service.email") %>
</p>

<h2
  class="nhsuk-heading-l"
  id="4-create-the-cohort-list-for-those-who-are-taking-part"
>
  4. Create the cohort list for those who are taking part
</h2>

<p class="nhsuk-body">
  Mavis is built to keep track of all the children in the cohort. It links
  consent responses to the right child, and shows which children don’t have
  consent responses yet.
</p>
<p class="nhsuk-body">
  In future, we plan to get cohort data by integrating with other systems you
  use, but for the pilot, you will need to manually upload the cohort list for
  the children taking part in the pilot.
</p>
<p class="nhsuk-body">
  One of our key goals for the pilot is to test whether we can accurately match
  the consent responses we receive from parents to your existing records.
</p>
<p class="nhsuk-body">
  To make this matching possible, you need to create a cohort list for children
  taking part in the pilot. This should be a spreadsheet in the CSV format we’ve
  provided – the same as the download from step 1).
</p>
<p class="nhsuk-body">
  You need to use your own records to populate children’s NHS numbers if they’re
  missing. If you have a different name, date of birth or address for a child
  in your existing records, you need to update the CSV so it matches your
  existing records.
</p>

<h2 class="nhsuk-heading-l" id="5-upload-the-cohort-list">
  5. Upload the cohort list
</h2>

<p class="nhsuk-body">
  Once you’ve finalised the participants details, you can upload the cohort list
  by going to
  <%= govuk_link_to "Upload the cohort list",
                                href: new_pilot_cohort_path %>,
  then selecting the right file and uploading it.
</p>
<p class="nhsuk-body">
  Mavis will reject the file if it is not formatted correctly. If you have any
  issues at this stage, ring <%= Rails.application.credentials.dig(:service, :support_phone_number) %>
  and we can help. If it’s not urgent, email <%= govuk_mail_to t("service.email") %>.
</p>

<h2 class="nhsuk-heading-l" id="6-schedule-the-school-sessions">
  6. Schedule the school sessions
</h2>

<p class="nhsuk-body">
  Now the cohort list is uploaded, you can create school vaccination sessions and
  add the right children to each.
</p>

<p class="nhsuk-body">
  To create a session immediately after uploading the cohort list, you can follow
  the link to Add a new school session from the confirmation page. If you’re
  starting from the home page, navigate to School sessions and then the green
  button Add a new session.
</p>

<p class="nhsuk-body">
  Add the details of the school session, which means selecting the school and
  adding the date and time.
</p>

<p class="nhsuk-body">
  The next screen asks you to Choose cohort for this session. This list is
  prepopulated with the cohort you uploaded for the school. You can check
  that the details match what you entered in the spreadsheet.
</p>

<p class="nhsuk-body">
  If the list is not correct, email <%= govuk_mail_to t("service.email") %>
  and we can help.
</p>

<p class="nhsuk-body">
  If this is correct, leave all the children selected and continue.
</p>

<p class="nhsuk-body">
  Next, you’ll need to enter dates for sending out consent requests as well
  as reminders to those who haven’t responded. You’ll also need to set a final
  deadline for responses. Enter the dates we have agreed in the schedule.
</p>

<p class="nhsuk-body">
  Finally, you will need to check your answers and confirm.
</p>

<p class="nhsuk-body">
  When you’ve completed the process, you’ll be able to see the dashboard
  for the school session.
</p>

<h2 class="nhsuk-heading-l">
  Get in touch
</h2>

<p class="nhsuk-body">
  If it’s not urgent, email <%= govuk_mail_to t("service.email") %>.
  If it is urgent, ring us on
  <%= Rails.application.credentials.dig(:service, :support_phone_number) %>.
</p>
