<% page_title = "Parents interested in the pilot" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'Manage pilot', href: manage_pilot_path },
    { text: page_title }
  ]) %>
<% end %>

<%= h1 page_title %>

<%= govuk_button_link_to "Download data for registered parents (CSV)",
  download_pilot_registrations_path, download: "registered_parents.csv" %>

<% @schools.each do |school| %>
  <%= render AppCardComponent.new(heading: school.name) do %>
    <% if school.registration_open %>
      <p>
        <%= govuk_link_to close_registration_school_path(school) do %>
          Close pilot to new participants at this school
          <span class="nhsuk-u-visually-hidden">(<%= school.name %>)</span>
        <% end %>
      </p>
    <% end %>

    <% if school.registrations.empty? %>
      <p>No parents have registered their interest in the pilot yet.</p>
    <% else %>
      <%= govuk_table do |table|
        table.with_caption(
          text: pluralize(school.registrations.size, "response"),
          classes: 'nhsuk-u-font-size-19')

        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(text: 'Name')
            row.with_cell(text: 'Email Address')
            row.with_cell(text: 'Phone number')
          end
        end

        table.with_body do |body|
          school.registrations.each do |response|
            body.with_row do |row|
              row.with_cell(text: response.parent_name)
              row.with_cell(text: response.parent_email)
              row.with_cell(text: response.parent_phone)
            end
          end
        end
      end %>
    <% end %>
  <% end %>
<% end %>
