<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: back_link_path,
        name: "previous page",
      ) %>
<% end %>

<% page_title = "Check and confirm answers" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Consent" } %>
  <%= govuk_summary_list(
        classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      ) do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Decision" }
          row.with_value { @consent.human_enum_name(:response).humanize }
          row.with_action(text: "Change", href: wizard_path(:agree), visually_hidden_text: "decision")
        end
      
        unless @consent.via_self_consent?
          summary_list.with_row do |row|
            row.with_key { "Response method" }
            row.with_value { @consent.human_enum_name(:route).humanize }
            row.with_action(text: "Change", href: wizard_path(:route), visually_hidden_text: "response method")
          end
        end
      
        if @consent.reason_for_refusal.present?
          summary_list.with_row do |row|
            row.with_key { "Reason for refusal" }
            row.with_value { @consent.human_enum_name(:reason_for_refusal) }
          end
        end
      
        if @consent.reason_for_refusal_notes.present?
          summary_list.with_row do |row|
            row.with_key { "Refusal details" }
            row.with_value { @consent.reason_for_refusal_notes }
          end
        end
      end %>
<% end %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Child" } %>
  <%= govuk_summary_list(
        classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      ) do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Full name" }
          row.with_value { @consent.patient.full_name }
        end
      
        summary_list.with_row do |row|
          row.with_key { "Date of birth" }
          row.with_value { @consent.patient.date_of_birth.to_fs(:long) }
        end
      
        if @consent.consent_form.present?
          summary_list.with_row do |row|
            row.with_key { "GP surgery" }
            row.with_value {
              if @consent.consent_form.gp_response_yes?
                @consent.consent_form.gp_name
              elsif @consent.consent_form.gp_response_no?
                "Not registered"
              elsif @consent.consent_form.gp_response_dont_know?
                "Not known"
              end
            }
          end
        end
      
        summary_list.with_row do |row|
          row.with_key { "School" }
          row.with_value { @consent.patient.location.name }
        end
      end %>
<% end %>

<% if @consent.draft_parent.present? %>
  <%= render AppCardComponent.new do |c| %>
    <% c.with_heading { "Parent or guardian" } %>
    <%= govuk_summary_list(
          classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
        ) do |summary_list|
          summary_list.with_row do |row|
            row.with_key { "Name" }
            row.with_value { @consent.draft_parent.name }
          end
        
          summary_list.with_row do |row|
            row.with_key { "Relationship" }
            row.with_value { @consent.draft_parent.relationship_label.humanize }
          end
        
          if @consent.draft_parent.email.present?
            summary_list.with_row do |row|
              row.with_key { "Email address" }
              row.with_value { @consent.draft_parent.email }
            end
          end
        
          summary_list.with_row do |row|
            row.with_key { "Phone number" }
            row.with_value { @consent.draft_parent.phone.presence || "Not provided" }
          end
        
          if @consent.draft_parent.contact_method.present?
            summary_list.with_row do |row|
              row.with_key { "Phone contact method" }
              row.with_value { @consent.draft_parent.phone_contact_method_description }
            end
          end
        end %>
  <% end %>
<% end %>

<% if @consent.response_given? %>
  <%= render AppCardComponent.new do |c| %>
    <% c.with_heading { "Health questions" } %>
    <%= render AppHealthQuestionsComponent.new(consents: [@consent]) %>
  <% end %>
<% end %>

<% if @consent.response_given? && @triage.status.present? %>
  <%= render AppCardComponent.new do |c| %>
    <% c.with_heading { "Triage" } %>
    <%= govuk_summary_list classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0" do |summary_list|
          summary_list.with_row do |row|
            row.with_key { "Status" }
            row.with_value { @triage.status.humanize }
            row.with_action(text: "Change", href: wizard_path(:triage), visually_hidden_text: "triage status")
          end
        
          summary_list.with_row do |row|
            row.with_key { "Triage notes" }
            if @triage.notes.present?
              row.with_value { @triage.notes }
              row.with_action(text: "Change", href: wizard_path(:triage), visually_hidden_text: "triage notes")
            else
              row.with_value { @triage.notes.presence || govuk_link_to("Enter triage notes", wizard_path(:triage)) }
            end
          end
        end %>
  <% end %>
<% end %>

<%= govuk_button_to "Confirm", wizard_path, method: :put, prevent_double_click: true %>
