<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: back_link_path,
        name: "patient page",
      ) %>
<% end %>

<% page_title = "Details for parent or guardian" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= form_for @parent, url: wizard_path, method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_text_field :name, label: { text: "Full name" } %>

  <%= f.govuk_radio_buttons_fieldset(:relationship,
                                     legend: { size: "s",
                                               text: "Relationship to the child" }) do %>
    <%= f.govuk_radio_button :relationship, "mother",
                             label: { text: "Mum" }, link_errors: true %>
    <%= f.govuk_radio_button :relationship, "father",
                             label: { text: "Dad" } %>
    <%= f.govuk_radio_button :relationship, "guardian",
                             label: { text: "Guardian" } %>
    <%= f.govuk_radio_button :relationship, "other",
                             label: { text: "Other" } do %>
      <p>They need parental responsibility to give consent.</p>
      <%= f.govuk_text_field :relationship_other,
                             label: { text: "Relationship to the child" },
                             hint: { text: "For example, carer" } %>
      <%= f.govuk_radio_buttons_fieldset(:parental_responsibility,
                                         legend: { size: "s",
                                                   text: "Do they have parental responsibility?" },
                                         hint: { text: "This means they have legal rights and duties relating to the child" }) do %>
        <%= f.govuk_radio_button :parental_responsibility, "yes",
                                 label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :parental_responsibility, "no",
                                 label: { text: "No" } %>
      <% end %>

    <% end %>
  <% end %>

  <%= f.govuk_text_field :email, label: { text: "Email address" } %>

  <%= f.govuk_text_field :phone, label: { text: "Phone number" } %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
