<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: back_link_path,
        name: "consent page",
      ) %>
<% end %>

<% page_title = "Health questions" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= form_with model: @consent, url: wizard_path do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <% @consent.health_answers.each_with_index do |health_answer, index| %>
    <%= f.fields_for "question_#{index}", health_answer do |ff| %>
      <%= ff.govuk_radio_buttons_fieldset(:question,
                                          legend: { size: "s", text: health_answer.question },
                                          hint: { text: health_answer.hint }) do %>
        <%= ff.govuk_radio_button :response, "yes",
                                  label: { text: "Yes" },
                                  link_errors: true do %>
          <%= ff.govuk_text_area :notes,
                                 label: { text: "Give details" } %>
        <% end %>
        <%= ff.govuk_radio_button :response, "no",
                                  label: { text: "No" } %>
      <% end %>
    <% end %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
