<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<% title = t("consents.reason_for_refusal_notes.title.#{@consent.reason_for_refusal}") %>
<% content_for :page_title, title %>

<%= h1 title %>

<%= form_for @consent, url: wizard_path, method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_text_area :reason_for_refusal_notes,
                        label: { text: "Give details" + (@consent.reason_notes_required? ?
                          "" :
                          " (optional)") } %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
