<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: back_link_path,
        name: "consent page",
      ) %>
<% end %>

<% page_title = "Is it safe to vaccinate?" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= render AppTriageFormComponent.new(
      patient_session: @patient_session,
      url: wizard_path,
      method: :put,
      triage: @triage,
      legend: :hidden,
    ) %>
