<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: back_link_path,
        name: "consent page",
      ) %>
<% end %>

<% page_title = "Is it safe to vaccinate?" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= form_for @triage, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_collection_radio_buttons :status,
                                       triage_form_status_options,
                                       :first,
                                       :second,
                                       legend: { text: "Outcome" } %>

  <%= f.govuk_text_area :notes, label: { text: "Triage notes (optional)" },
                                rows: 5 %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
