<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: back_link_path,
        name: "consent page",
      ) %>
<% end %>

<% page_title = "Is it safe to vaccinate?" %>

<%= form_for @triage, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 page_title: do %>
    <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
      <%= @patient.full_name %>
    </span>
    <%= page_title %>
  <% end %>

  <%= f.govuk_radio_buttons_fieldset(
        :status, legend: { size: "m", text: "Outcome" },
      ) do %>
    <%= f.govuk_radio_button(
          :status, :ready_to_vaccinate,
          label: { text: Triage.human_enum_name(:status, :ready_to_vaccinate) },
          link_errors: true,
        ) %>
    <%= f.govuk_radio_divider %>
    <%= f.govuk_radio_button(
          :status, :do_not_vaccinate,
          label: { text: Triage.human_enum_name(:status, :do_not_vaccinate) },
        ) %>
    <%= f.govuk_radio_button(
          :status, :delay_vaccination,
          label: { text: Triage.human_enum_name(:status, :delay_vaccination) },
        ) %>
    <%= f.govuk_radio_button(
          :status, :needs_follow_up,
          label: { text: Triage.human_enum_name(:status, :needs_follow_up) },
        ) %>
  <% end %>

  <%= f.govuk_text_area :notes, label: { text: "Triage notes (optional)" },
                                rows: 5 %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
