<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: back_link_path,
        name: "patient page",
      ) %>
<% end %>

<% page_title = "Who are you trying to get consent from?" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= form_for @consent, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset(:new_or_existing_parent, legend: nil) do %>
    <% @parent_options.each.with_index do |parent, i| %>
      <%= f.govuk_radio_button :new_or_existing_parent, parent.id,
                               label: { text: "#{parent.name} (#{parent.relationship_label})" },
                               hint: { text: parent.phone },
                               link_errors: i == 0 %>
    <% end %>
    <%= f.govuk_radio_divider %>
    <%= f.govuk_radio_button :new_or_existing_parent, "new",
                             label: { text: "Add a new parental contact" } %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
