<h1 class="nhsuk-heading-l" id="<%= dom_id patient %>">
  <%= patient.full_name %>
</h1>

<div class="nhsuk-card" id="consent">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      Consent
    </h2>

    <% if @consent_response.present? %>
      <%= render "patient_triage_consent_response", consent_response: @consent_response %>
    <% else %>
      <p>
        No response given
      </p>
    <% end %>
  </div>
</div>

<%= render AppPatientCardComponent.new(patient: @patient, session: @session) %>

<% if @consent_response&.health_questions.present? %>
<div class="nhsuk-card" id="health-questions">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      Health questions
    </h2>

    <%= render AppHealthQuestionsComponent.new(consent_response: @consent_response) %>
  </div>
</div>
<% end %>

<%= render "patient_triage_card", session: @session, patient: @patient, triage: @triage %>
