<dl class="nhsuk-summary-list app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      <%= consent_response.consent_given? ? "Given by" : "Refused by" %>
    </dt>
    <dd class="nhsuk-summary-list__value">
      <%= parent_relationship(consent_response) %>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      <%= parent_relationship(consent_response) %>
    </dt>
    <dd class="nhsuk-summary-list__value">
      <%= consent_response.parent_name %>
      <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
        <% if consent_response.parent_phone.present? %>
          Telephone: <%= consent_response.parent_phone %>
          <%= tag.br if consent_response.parent_email.present? %>
        <% end %>
        <% if consent_response.parent_email.present? %>
          Email: <%= consent_response.parent_email %>
        <% end %>
      </div>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date
    </dt>
    <dd class="nhsuk-summary-list__value">
      <%= consent_response.created_at.to_date %>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Type of consent
    </dt>
    <dd class="nhsuk-summary-list__value">
      <%= ConsentResponse.human_enum_name("route", consent_response.route) %>
    </dd>
  </div>

  <% if consent_response.consent_refused? %>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Reason for refusal
      </dt>
      <dd class="nhsuk-summary-list__value">
        <%= ConsentResponse.human_enum_name(
              "reason_for_refusal",
              consent_response.reason_for_refusal
            ) %>
      </dd>
    </div>
  <% end %>
</dl>
