<% if flash[:success].present? %>
  <%= render AppFlashSuccessComponent.new(flash[:success]) %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
               href: triage_session_path(@session),
               name: "triage page"
             ) %>
<% end %>

<%= h1 @patient.full_name, id: dom_id(@patient), class: "nhsuk-heading-l" %>

<%= render AppStatusBannerComponent.new(patient_session: @patient_session) %>

<%= render AppPatientCardComponent.new(patient: @patient, session: @session) %>

<% if @consent.present? %>
  <%= render AppConsentCardComponent.new(
    session: @session,
    patient: @patient,
    consent: @consent,
    route: 'triage') %>
<% end %>

<% if @consent&.response_given? %>
  <div class="nhsuk-card" id="health-questions">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Health questions
      </h2>

      <%= render AppHealthQuestionsComponent.new(consent: @consent) %>
    </div>
  </div>

  <%= render "patient_triage_card", session: @session, patient: @patient, triage: @triage %>
<% end %>

<% if @consent.nil? %>
  <%= render AppConsentCardComponent.new(
    session: @session,
    patient: @patient,
    consent: @consent,
    route: 'triage') %>
<% end %>
