<% if flash[:success].present? %>
  <%= render AppFlashSuccessComponent.new(flash[:success]) %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
               href: triage_session_path(@session),
               name: "triage page"
             ) %>
<% end %>

<h1 class="nhsuk-heading-l" id="<%= dom_id @patient %>">
  <%= @patient.full_name %>
</h1>

<%= render "vaccinations/banners" %>

<% if @consent_response.present? %>
  <%= render AppConsentCardComponent.new session: @session, patient: @patient, consent_response: @consent_response %>
<% end %>

<%= render AppPatientCardComponent.new(patient: @patient, session: @session) %>

<% if @consent_response&.health_questions.present? %>
  <div class="nhsuk-card" id="health-questions">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Health questions
      </h2>

      <%= render AppHealthQuestionsComponent.new(consent_response: @consent_response) %>
    </div>
  </div>

  <%= render "patient_triage_card", session: @session, patient: @patient, triage: @triage %>
<% end %>

<% if @consent_response.nil? %>
  <%= render AppConsentCardComponent.new session: @session, patient: @patient, consent_response: @consent_response %>
<% end %>
