<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: consents_back_link_path,
        name: "previous page",
      ) %>
<% end %>

<% page_title = "Check and confirm answers" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= render AppCardComponent.new do |card| %>
  <% card.with_heading { "Consent" } %>
  <%= render AppConsentSummaryComponent.new(@consent, change_links: {
                                                        response: wizard_path(:agree),
                                                        route: wizard_path(:route),
                                                      }) %>
<% end %>

<%= render AppCardComponent.new do |card| %>
  <% card.with_heading { "Child" } %>
  <%= render AppConsentPatientSummaryComponent.new(@consent) %>
<% end %>

<% if @parent.present? %>
  <%= render AppCardComponent.new do |card| %>
    <% card.with_heading { "Parent or guardian" } %>
    <%= render AppParentSummaryComponent.new(@parent, @parent_relationship, change_links: {
                                                                              name: wizard_path(:who),
                                                                              relationship: wizard_path(:who),
                                                                              email: wizard_path(:"parent-details"),
                                                                              phone: wizard_path(:"parent-details"),
                                                                            }) %>
  <% end %>
<% end %>

<% if @consent.response_given? %>
  <%= render AppCardComponent.new do |card| %>
    <% card.with_heading { "Health questions" } %>
    <%= render AppHealthQuestionsComponent.new(consents: [@consent]) %>
  <% end %>
<% end %>

<% if @consent.response_given? && @triage&.status.present? %>
  <%= render AppCardComponent.new do |card| %>
    <% card.with_heading { "Triage" } %>
    <%= govuk_summary_list classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0" do |summary_list|
          summary_list.with_row do |row|
            row.with_key { "Status" }
            row.with_value { @triage.status.humanize }
            row.with_action(text: "Change", href: wizard_path(:triage), visually_hidden_text: "triage status")
          end
        
          summary_list.with_row do |row|
            row.with_key { "Triage notes" }
            if @triage.notes.present?
              row.with_value { @triage.notes }
              row.with_action(text: "Change", href: wizard_path(:triage), visually_hidden_text: "triage notes")
            else
              row.with_value { @triage.notes.presence || govuk_link_to("Enter triage notes", wizard_path(:triage)) }
            end
          end
        end %>
  <% end %>
<% end %>

<%= govuk_button_to "Confirm", wizard_path, method: :put, prevent_double_click: true %>
