<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: backlink_path,
        name: "previous page",
      ) %>
<% end %>

<%= form_with model: @consent, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 t(@consent.reason_for_refusal, scope: %i[consents reason_for_refusal_notes title]) %>

  <%= f.govuk_text_area :reason_for_refusal_notes,
                        label: { text: "Give details" + (@consent.reason_notes_required? ?
                          "" :
                          " (optional)") } %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
