<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: consents_back_link_path,
        name: "patient page",
      ) %>
<% end %>

<% page_title = "Who are you trying to get consent from?" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= form_with model: @consent, url: wizard_path, method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_radio_buttons_fieldset(:new_or_existing_parent, legend: nil) do %>
    <% if @parent_options.present? %>
      <% @parent_options.each.with_index do |parent, i| %>
        <%= f.govuk_radio_button :new_or_existing_parent, parent.id,
                                 label: { text: parent.label_to(patient: @patient) },
                                 hint: { text: parent.contact_label },
                                 link_errors: i == 0 %>
      <% end %>

      <%= f.govuk_radio_divider %>
    <% end %>

    <%= f.govuk_radio_button :new_or_existing_parent, "new",
                             label: { text: "Add a new parental contact" },
                             link_errors: @parent_options.empty? %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
