<%= h1 t("imports.index.title"), size: "xl" %>

<%= govuk_button_to "Upload records", imports_path, secondary: true, class: "nhsuk-u-margin-bottom-4" %>

<%= render AppImportsNavigationComponent.new(active: :issues, team: current_team) %>

<% if @import_issues.any? %>
  <div class="nhsuk-table__panel-with-heading-tab">
    <h3 class="nhsuk-table__heading-tab">
      <%= pluralize(@import_issues.count, "uploaded record") %>
      <%= @import_issues.count == 1 ? "needs" : "need" %> review
    </h3>
    <%= render AppImportReviewIssuesSummaryComponent.new(records: @import_issues, show_actions: true) %>
  </div>
<% else %>
  <p>No issues to review.</p>
<% end %>
