<%= h1 t("imports.index.title"), size: "xl" %>

<div class="nhsuk-u-reading-width">
    <p>Use this page to upload and import child, class list and vaccination records.</p>
    <p>After import, files move to the <strong>Completed imports</strong> tab.</p>
    <p>Any close matches to resolve will appear in the <strong>Issues</strong> tab.</p>
    <p>Upload times can vary. Refresh the page to see the latest status.</p>
    <%= govuk_button_to "Upload records", imports_path, secondary: true, class: "nhsuk-u-margin-bottom-4" %>
</div>

<%= render AppImportsNavigationComponent.new(active: :issues, team: current_team) %>

<% if @import_issues.any? %>
  <div class="nhsuk-table__panel-with-heading-tab">
    <h3 class="nhsuk-table__heading-tab">
      <%= pluralize(@import_issues.count, "uploaded record") %>
      <%= @import_issues.count == 1 ? "needs" : "need" %> review
    </h3>
    <%= render AppImportReviewIssuesSummaryComponent.new(records: @import_issues, review_screen: false) %>
  </div>
<% else %>
  <p>No issues to review.</p>
<% end %>
