<%= render "imports/header" %>

<%= render AppImportsNavigationComponent.new(active: :issues, team: current_team) %>

<% if @import_issues.any? %>
  <%= render AppCardComponent.new(feature: true) do |card| %>
    <% card.with_heading do %>
      <%= pluralize(@import_issues.count, "uploaded record") %>
      <%= @import_issues.count == 1 ? "needs" : "need" %> review
    <% end %>

    <%= render AppImportReviewIssuesSummaryComponent.new(records: @import_issues, review_screen: false) %>
  <% end %>
<% else %>
  <p>No issues to review.</p>
<% end %>
