<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("imports.index.title"), href: imports_path },
                                          { text: "Import issues", href: imports_issues_path },
                                        ]) %>
<% end %>

<% title = "Uploaded #{@type} record duplicates #{@existing_or_deleted.with_indefinite_article} record" %>

<span class="nhsuk-caption-l"><%= @patient.full_name %></span>
<%= h1 title, page_title: "#{@patient.full_name} – #{title}" %>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <%= render AppCardComponent.new(feature: true) do |c| %>
      <% c.with_heading(level: 2) { "Uploaded record" } %>
      <% if @type == "child" %>
        <%= render AppChildSummaryComponent.new(@patient.with_pending_changes) %>
      <% else %>
        <%= render AppVaccinationRecordSummaryComponent.new(
              @vaccination_record.with_pending_changes, current_user:,
            ) %>
      <% end %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-one-half">
    <%= render AppCardComponent.new(feature: true) do |c| %>
      <% c.with_heading(level: 2) { "#{@existing_or_deleted.capitalize} record" } %>
      <% if @type == "child" %>
        <%= render AppChildSummaryComponent.new(@patient) %>
      <% else %>
        <%= render AppVaccinationRecordSummaryComponent.new(
              @vaccination_record, current_user:,
            ) %>
      <% end %>
    <% end %>
  </div>
</div>

<%= form_with(
      model: @form,
      url: imports_issue_path(@record, type: params[:type]),
      method: :patch,
      class: "nhsuk-u-full-width",
    ) do |f| %>
  <% if !@form.can_apply? %>

    <h1 class="nhsuk-heading-m">You cannot keep the incoming changes</h1>

    <p>The existing record was imported automatically from an external source, such as a GP practice, meaning that Mavis is not the primary source for this vaccination record.</p>

    <%= f.hidden_field :apply_changes, value: "discard" %>
    <%= f.govuk_submit "Discard incoming changes" %>
  <% else %>
    <% content_for(:before_content) { f.govuk_error_summary } %>

    <%= f.govuk_collection_radio_buttons :apply_changes,
                                         @form.apply_changes_options,
                                         :itself,
                                         ->(option) { I18n.t(option, scope: "import_duplicate_form.options.label.#{@existing_or_deleted}", type: @type) },
                                         ->(option) { I18n.t(option, scope: "import_duplicate_form.options.hint.#{@existing_or_deleted}") },
                                         bold_labels: false,
                                         small: true %>

    <%= f.govuk_submit "Resolve duplicate" %>
  <% end %>
<% end %>
