<% content_for :before_main do %>
  <%= govuk_back_link(href: session_record_path(@session)) %>
<% end %>

<% programme_name_and_method = if @programme.has_multiple_vaccine_methods?
       "#{@programme.name_in_sentence} #{Vaccine.human_enum_name(:vaccine_method, @vaccine_method).downcase}"
     else
       "#{@programme.name_in_sentence}"
     end %>

<% page_title = "Select a default #{programme_name_and_method} batch for this session" %>
<% content_for :page_title, page_title %>

<%= form_with model: @todays_batch, url: batch_session_record_path(@session, @programme), method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset :batch_id,
                                     caption: { text: @session.location.name, size: "l" },
                                     legend: { size: "l", tag: "h1", text: page_title } do %>
    <% @batches.each_with_index do |batch, index| %>
      <% label = proc do %>
        <span class="app-u-monospace"><%= batch.name %></span>
        (<%= batch.vaccine.brand %>)
      <% end %>

      <% hint = proc do %>
        <% if (expiry = batch.expiry) %>
          Expires <%= expiry.to_fs(:long) %>
        <% end %>
      <% end %>

      <%= f.govuk_radio_button :id, batch.id, label:, hint:, link_errors: index.zero? %>
    <% end %>
  <% end %>

  <%= f.govuk_submit "Continue" %>
<% end %>
