<%= render "sessions/header" %>

<% if @session.today? %>
  <div class="nhsuk-grid-row">
    <div class="app-grid-column-filters">
      <%= render AppPatientSearchFormComponent.new(
            @form,
            url: session_record_path(@session),
            current_team:,
            programmes: @session.programmes,
            year_groups: @session.year_groups,
            show_vaccine_criteria: true,
          ) %>
    </div>

    <div class="app-grid-column-results">
      <%= render AppSessionNeedsReviewComponent.new(@session) %>

      <%= render AppVaccinationsSummaryTableComponent.new(current_user:, session: @session, request_session: session) %>

      <%= render AppSearchResultsComponent.new(@pagy, label: "children") do %>
        <% @patients.each do |patient| %>
          <%= render AppPatientSessionSearchResultCardComponent.new(
                patient:,
                session: @session,
                context: :record,
                programmes: @form.programmes,
              ) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="nhsuk-body">You can record vaccinations when a session is in progress.</p>
<% end %>
