<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("sessions.index.title"), href: sessions_path },
                                          { text: @session.location.name, href: session_path(@session) },
                                        ]) %>
<% end %>

<%= render "sessions/header" %>

<% if @todays_batches.any? %>
  <%= govuk_inset_text html_attributes: { class: "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4" } do %>
    <span class="nhsuk-visually-hidden">Information:</span>

    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
      Default batches
    </h2>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <% @todays_batches.each do |programme, batch| %>
        <li>
          <%= batch.vaccine.brand %> (<%= programme.name %>): <span class="app-u-monospace"><%= batch.name %></span>
          <a class="nhsuk-link nhsuk-u-margin-left-2" href="<%= batch_session_record_path(@session, programme) %>">Change default batch<span class="nhsuk-u-visually-hidden"> for <%= batch.vaccine.brand %></span></a>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @session.today? %>
  <div class="nhsuk-grid-row">
    <div class="app-grid-column-filters">
      <%= render AppSearchComponent.new(
            form: @form,
            url: session_record_path(@session),
            year_groups: @session.year_groups,
            vaccine_methods: @session.vaccine_methods.then { it.length > 1 ? it : [] },
          ) %>
    </div>

    <div class="app-grid-column-results">
      <%= render AppSearchResultsComponent.new(@pagy) do %>
        <% @patient_sessions.each do |patient_session| %>
          <%= render AppPatientSessionSearchResultCardComponent.new(
                patient_session, context: :record, programmes: @session.programmes,
              ) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="nhsuk-body">You can record vaccinations when a session is in progress.</p>
<% end %>
