<%= render "sessions/header" %>

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    <%= render AppPatientSearchFormComponent.new(
          @form,
          url: session_triage_path(@session),
          current_team:,
          programmes: @session.programmes,
          triage_statuses: @statuses,
          year_groups: @session.year_groups,
        ) %>
  </div>

  <div class="app-grid-column-results">
    <%= render AppSessionNeedsReviewComponent.new(@session) %>

    <%= render AppSearchResultsComponent.new(@pagy, label: "children") do %>
      <% @patients.each do |patient| %>
        <%= render AppPatientSessionSearchResultCardComponent.new(
              patient:,
              session: @session,
              context: :triage,
              programmes: @form.programmes,
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
