<% page_title = "Register your interest in the NHS school vaccinations pilot" %>

<%= form_for(@registration_form, url: school_registration_path) do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 page_title:, size: "xl" do %>
    <span class="nhsuk-caption-xl"><%= @school.name %></span>
    <%= page_title %>
  <% end %>

  <p class="nhsuk-body-m">
    This pilot is for parents of children who are due to get their HPV
    vaccination this year.
  </p>

  <p class="nhsuk-body-m">
    Taking part involves responding to a request for consent through a digital
    service, and then completing a follow-up survey. It should take 15 to 30
    minutes of your time.
  </p>

  <p class="nhsuk-body-m">
    To register your interest, complete the fields below.
  </p>

  <%= f.govuk_fieldset legend: { text: "About you", size: "l" } do %>

    <%= f.govuk_text_field :parent_name,
                           label: { text: "Your name", size: "s" },
                           class: "nhsuk-input--width-20" %>

    <%= f.govuk_radio_buttons_fieldset :parent_relationship,
                                       legend: {
                                         size: 's',
                                         text: 'Your relationship to the child'
                                       } do %>
      <%= f.govuk_radio_button :parent_relationship, "mother",
                               label: { text: 'Mum' }, link_errors: true %>
      <%= f.govuk_radio_button :parent_relationship, "father",
                               label: { text: "Dad" } %>
      <%= f.govuk_radio_button :parent_relationship, "guardian",
                               label: { text: "Guardian" } %>
      <%= f.govuk_radio_button :parent_relationship, "other",
                               label: { text: "Other" } do %>
        <%= f.govuk_text_field :parent_relationship_other,
                               label: { text: "Relationship to the child" },
                               hint: { text: "For example, carer" } %>
      <% end %>
    <% end %>

    <%= f.govuk_text_field :parent_email,
                           label: { text: "Email address", size: "s" } %>

    <%= f.govuk_text_field :parent_phone,
                           label: {
                             text: "Phone number (optional)",
                             size: "s"
                           },
                           class: "nhsuk-input--width-10" %>

  <% end %>

  <%= f.govuk_fieldset legend: { text: "About your child", size: "l" } do %>

    <p class="nhsuk-body-m">
      We need your child’s details to check your eligibility to take part in
      the pilot.
    </p>

    <%= f.govuk_text_field :first_name,
                           label: { text: "First name", size: "s" },
                           class: "nhsuk-input--width-20" %>

    <%= f.govuk_text_field :last_name,
                           label: { text: "Last name", size: "s" },
                           class: "nhsuk-input--width-20" %>

    <%= f.govuk_radio_buttons_fieldset :use_common_name,
                                       legend: {
                                         size: "s",
                                         text: "Do they use a different name in school?"
                                       } do %>
      <%= f.govuk_radio_button :use_common_name,
                               true,
                               label: { text: "Yes" },
                               link_errors: true do %>
        <%= f.govuk_text_field :common_name, label: { text: "Preferred name" } %>
      <% end %>
      <%= f.govuk_radio_button :use_common_name, false, label: { text: 'No' } %>
    <% end %>

    <%= f.govuk_date_field :date_of_birth,
                           date_of_birth: true,
                           legend: { text: "Date of birth", size: "s" },
                           hint: { text: 'For example, 27 3 2017' },
                           link_errors: true %>

    <%= f.govuk_fieldset legend: { text: "Address", size: "s" } do %>
      <p class="nhsuk-hint">
        If your child lives at more than one address, enter the address registered with the GP.
      </p>

      <%= f.govuk_text_field :address_line_1,
                             label: { text: 'Address line 1' } %>

      <%= f.govuk_text_field :address_line_2,
                             label: { text: 'Address line 2 (optional)' } %>

      <%= f.govuk_text_field :address_town,
                             label: { text: 'Town or city' } %>

      <%= f.govuk_text_field :address_postcode,
                             label: { text: 'Postcode' },
                             class: 'nhsuk-input--width-10' %>
    <% end %>

    <%= f.govuk_text_field :nhs_number,
                           label: { text: "NHS number (optional)", size: "s" },
                           class: "nhsuk-input--width-10" %>
  <% end %>

  <%= govuk_inset_text do %>
    <h3 class="nhsuk-heading-m">
      What you’ll get for taking part in the pilot
    </h3>

    <p class="nhsuk-body">
      We’ll send you a £30 high street shopping voucher once you’ve:
    </p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>submitted a response through our digital service</li>
      <li>completed a survey about your experience</li>
    </ul>

    <p class="nhsuk-body">
      You need to do both these things to qualify for a voucher.
    </p>

    <p class="nhsuk-body">
      Vouchers are limited to one per household. If you have more than one child
      eligible for the HPV vaccination, you should only submit a consent
      response for one of your children.
    </p>

    <h3 class="nhsuk-heading-m">
      Follow-up research
    </h3>

    <p class="nhsuk-body">
      Once you’ve completed the survey, you might be asked to take part in some
      follow-up research. There are separate incentives for this, and there’s no
      obligation to take part.
    </p>

    <h3>Your personal information </h3>

    <p class="nhsuk-body">
      Your contact details will be shared with NHS England so they can contact
      you and send you a high street shopping voucher. You can find out more
      about how NHS England will protect your personal information in their
      <%= govuk_link_to "privacy notice", :privacy_policy %>.
    </p>

    <h3 class="nhsuk-heading-m">
      If you’re not chosen to take part in the pilot
    </h3>

    <p class="nhsuk-body">
      NHS England will delete your contact details within two months of the last pilot vaccination session taking place.
    </p>
  <% end %>

  <%= f.govuk_check_boxes_fieldset :conditions_for_taking_part_met,
                                   multiple: false,
                                   legend: { text: "What you agree to" },
                                   id: 'registration-conditions-for-taking-part-met-field-error' do %>
    <%= f.govuk_check_box :terms_and_conditions_agreed,
                          1,
                          0,
                          multiple: false,
                          label: { text: "I agree to take part in the pilot" } %>
    <%= f.govuk_check_box :data_processing_agreed,
                          1,
                          0,
                          multiple: false,
                          label: {
                            text: "I agree to share my contact details with NHS England for the purpose of administering payments and electronic communications"
                          } %>
    <%= f.govuk_check_box :consent_response_confirmed,
                          1,
                          0,
                          multiple: false,
                          label: {
                            text: "I confirm I’ve responded to the school’s regular request for consent for my child’s HPV vaccination"
                          },
                          hint: {
                            text: "You can only take part in the pilot if you’ve done this"
                          } %>
    <%= f.govuk_check_box :user_research_observation_agreed,
                          1,
                          0,
                          multiple: false,
                          label: {
                            text: "I agree to my child’s vaccination session being observed"
                          } %>
  <% end %>

  <%= f.govuk_submit "Register your interest", secondary: true %>
<% end %>
