<%= h1 t("imports.index.title"), size: "xl" %>

<%= govuk_button_to "Import records", imports_path, secondary: true, class: "nhsuk-u-margin-bottom-4" %>

<%= render AppImportsNavigationComponent.new(active: :notices, team: current_team) %>

<% if @notices.present? %>
  <%= render AppNoticesTableComponent.new(@notices) %>
<% else %>
  <p class="nhsuk-body"><%= t(".no_results") %></p>
<% end %>
