<%= h1 t("imports.index.title"), size: "xl" %>

<div class="nhsuk-u-reading-width">
    <p>Use this page to upload and import child, class list and vaccination records.</p>
    <p>After import, files move to the <strong>Completed imports</strong> tab.</p>
    <p>Any close matches to resolve will appear in the <strong>Issues</strong> tab.</p>
    <p>Upload times can vary. Refresh the page to see the latest status.</p>
    <%= govuk_button_to "Upload records", imports_path, secondary: true, class: "nhsuk-u-margin-bottom-4" %>
</div>

<%= render AppImportsNavigationComponent.new(active: :notices, team: current_team) %>

<% if @notices.present? %>
  <%= render AppNoticesTableComponent.new(@notices) %>
<% else %>
  <p class="nhsuk-body"><%= t(".no_results") %></p>
<% end %>
