<% content_for :before_main do %>
  <%= govuk_back_link(href: edit_patient_path(@patient)) %>
<% end %>

<%= form_with model: [@patient, @parent_relationship], url: patient_parent_relationships_path(@patient) do |f| %>
  <%= f.govuk_error_summary %>

  <% page_title = "Add parent or guardian" %>

    <%= h1 page_title do %>
    <span class="nhsuk-caption-l">
        <%= @patient.full_name %>
    </span>
    <%= page_title %>
    <% end %>

  <%= render "fields", f: %>

  <%= f.govuk_submit "Save" %>
<% end %>
