<%= render "patient_sessions/header" %>

<div class="nhsuk-grid-row">
  <div class="app-grid-column-patient-record" data-module="app-sticky">
    <%= render AppPatientSummaryComponent.new(@patient) %>
  </div>

  <div class="app-grid-column-patient-session">
    <%= render AppPatientSessionConsentComponent.new(@patient_session, programme: @programme) %>

    <%= render AppPatientSessionTriageComponent.new(@patient_session, programme: @programme, current_user:, triage_form: @triage_form) %>

    <%= render AppPatientSessionRecordComponent.new(@patient_session, programme: @programme, current_user:, vaccinate_form: @vaccinate_form) %>

    <%= render AppPatientSessionOutcomeComponent.new(@patient_session, programme: @programme) %>
  </div>
</div>
