<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: session_patient_path(id: @patient.id),
        name: "patient page",
      ) %>
<% end %>

<% page_title = "Edit Gillick competence" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= render "guidance" %>

<%= form_with model: @gillick_assessment, url: session_patient_gillick_assessment_path do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= render "form_fields", f: %>

  <%= f.govuk_submit "Update your assessment" %>
<% end %>
