<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: session_patient_path(id: @patient.id),
        name: "patient page",
      ) %>
<% end %>

<% page_title = "Assessing Gillick competence" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<p>Can the young person tell you:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>which vaccination they will have and how many doses they need</li>
  <li>which disease the vaccination protects against</li>
  <li>what could happen if they got the disease</li>
  <li>how the injection will be given</li>
  <li>which side effects they might experience</li>
</ul>

<p>Before you make your assessment, you should give the young person a chance
to ask questions.</p>

<%= govuk_button_to "Give your assessment", session_patient_gillick_assessment_path(
      session_id: @session.id,
      patient_id: @patient.id,
      section: params[:section],
      tab: params[:tab],
    ), class: "nhsuk-u-margin-top-6" %>
