<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
    href: session_patient_triage_path(@session, @patient),
    name: "triage page",
  ) %>
<% end %>

<h1 class="nhsuk-heading-l">Who are you trying to get consent from?</h1>

<%= form_for @draft_consent_response,
  url: session_patient_consent_responses_path(@session, @patient),
  method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_text_field :parent_name, label: { text: 'Full name' } %>

  <%= f.govuk_text_field :parent_phone, label: { text: 'Telephone number' } %>

  <%= f.govuk_radio_buttons_fieldset(:parent_relationship,
    legend: { size: 's',
              text: 'Relationship to the child' }) do %>
    <%= f.govuk_radio_button :parent_relationship, "mother",
      label: { text: 'Mum' }, link_errors: true %>
    <%= f.govuk_radio_button :parent_relationship, "father",
      label: { text: "Dad" } %>
    <%= f.govuk_radio_button :parent_relationship, "guardian",
      label: { text: 'Guardian' } %>
    <%= f.govuk_radio_button :parent_relationship, "other",
      label: { text: 'Other' } do %>
      <p>They need parental responsibility to give consent.</p>
      <%= f.govuk_text_field :parent_relationship_other,
        label: { text: 'Relationship to the child' },
        hint: { text: 'For example, carer' } %>
    <% end %>
  <% end %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
