<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("imports.index.title"), href: imports_path },
                                        ]) %>
<% end %>

<%= h1 "Upload (#{import.created_at.to_fs(:long)})" %>

<%= render AppImportSummaryComponent.new(import: import) %>

<% if import.rows_are_invalid? || import.changesets_are_invalid? %>
  <%= render AppImportErrorsComponent.new(errors: import.errors) do %>
    <p class="nhsuk-u-reading-width">
      The records cannot be uploaded due to errors in the CSV file.

      <% if import.changesets_are_invalid? %>
        This may include errors identified after Mavis added a missing NHS number or replaced an incorrect NHS number.
      <% end %>  
    </p>

    <%= render AppImportFormatDetailsComponent.new(import:) %>
  <% end %>
<% end %>

<% if import.low_pds_match_rate? %>
  <%= render AppImportErrorsComponent.new(title: "Too many records could not be matched") do %>
    <p class="nhsuk-u-reading-width">
      The records could not be imported as an unusually low number of records were matched to PDS (spine).
      PDS successfully matched
      <% if import.pds_match_rate.positive? %>only <% end %>
      <%= import.changesets.with_pds_match.count %> records,
      a <%= import.pds_match_rate %>% match rate.
    </p>
    <p class="nhsuk-u-reading-width">
      Review your file and try uploading it again.
    </p>

    <%= render AppImportFormatDetailsComponent.new(import:) %>
  <% end %>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary" data-module="app-sticky">
      <span class="nhsuk-details__summary-text">
        <%= import.changesets.without_pds_match.count %> unmatched records
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <%= render AppImportPDSUnmatchedSummaryComponent.new(changesets: import.changesets.without_pds_match) %>
    </div>
  </details>
<% end %>

<% if import.in_review? %>
  <%= render AppImportReviewComponent.new(
        import:,
        new_records: @new_records,
        auto_matched_records: @auto_matched_records,
        import_issues: @import_issues,
        school_moves: @school_moves,
      ) %>
<% end %>

<% if import.processed? || import.partially_processed? %>

  <% if @cancelled.present? %>
    <h3 class="nhsuk-u-reading-width">
      Records not imported
    </h3>
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary" data-module="app-sticky">
        <span class="nhsuk-details__summary-text">
          <%= pluralize(@cancelled.count, "record") %> not imported
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <%= render AppImportReviewRecordsSummaryComponent.new(changesets: @cancelled) %>
      </div>
    </details>
  <% end %>

  <% if @nhs_discrepancies.present? %>
    <h3 class="nhsuk-u-reading-width">
      NHS numbers updated from PDS
    </h3>
    <p class="nhsuk-hint">
      <%= pluralize(@nhs_discrepancies.count, "incorrect NHS number") %>
      updated with <%= @nhs_discrepancies.count == 1 ? "that" : "those" %> found on Spine.
      Update your original data source if necessary.
    </p>
    <%= render AppPatientPDSDiscrepancyTableComponent.new(discrepancies: @nhs_discrepancies, current_user:) %>
    <% end %>

  <% if @duplicates.present? %>
    <h3 class="nhsuk-u-reading-width">
      Close matches to existing records - needs review
    </h3>
    <p class="nhsuk-hint">
      <%= pluralize(@duplicates.count,
                    "record") %> flagged with upload issues for review
    </p>
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary" data-module="app-sticky">
        <span class="nhsuk-details__summary-text">
          <%= pluralize(@duplicates.count,
                        "upload issue") %>
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <%= render AppImportReviewIssuesSummaryComponent.new(import:, records: @duplicates, show_actions: true) %>
      </div>
    </details>
  <% end %>

  <% if @patients.present? %>
    <h3 class="nhsuk-u-reading-width">
      Imported records
    </h3>
    <%= render AppPatientTableComponent.new(@patients, current_user:, count: @pagy.count) %>
  <% end %>

  <% if @vaccination_records.present? %>
    <h3 class="nhsuk-u-reading-width">
      Imported records
    </h3>
    <%= render AppVaccinationRecordTableComponent.new(@vaccination_records, current_user:, count: @pagy.count) %>
  <% end %>

  <%= render AppPaginationComponent.new(pagy: @pagy) %>
<% end %>
