<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("imports.index.title"), href: imports_path },
                                        ]) %>
<% end %>

<%= h1 "Upload (#{import.created_at.to_fs(:long)})" %>

<%= render AppImportSummaryComponent.new(import: import) %>

<% if import.rows_are_invalid? || import.changesets_are_invalid? %>
  <%= render AppImportErrorsComponent.new(errors: import.errors) do %>
    <p class="nhsuk-u-reading-width">
      The records cannot be uploaded due to errors in the CSV file.

      <% if import.changesets_are_invalid? %>
        This may include errors identified after Mavis added a missing NHS number or replaced an incorrect NHS number.
      <% end %>  
    </p>

    <%= render AppImportFormatDetailsComponent.new(import:) %>
  <% end %>
<% end %>

<% if import.low_pds_match_rate? %>
  <%= render AppImportErrorsComponent.new(title: "Too many records could not be matched") do %>
    <p class="nhsuk-u-reading-width">
      The records could not be imported as an unusually low number of records were matched to PDS (spine).
      PDS successfully matched
      <% if import.pds_match_rate.positive? %>only <% end %>
      <%= import.changesets.with_pds_match.count %> records,
      a <%= import.pds_match_rate %>% match rate.
    </p>
    <p class="nhsuk-u-reading-width">
      Review your file and try uploading it again.
    </p>

    <%= render AppImportFormatDetailsComponent.new(import:) %>
  <% end %>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary" data-module="app-sticky">
      <span class="nhsuk-details__summary-text">
        <%= import.changesets.without_pds_match.count %> unmatched records
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <%= render AppImportPDSUnmatchedSummaryComponent.new(changesets: import.changesets.without_pds_match) %>
    </div>
  </details>
<% end %>

<% if import.in_review? %>
  <%= render AppImportReviewComponent.new(
        import:,
        new_records: @new_records,
        auto_matched_records: @auto_matched_records,
        import_issues: @import_issues,
        school_moves: @school_moves,
      ) %>
<% end %>

<% if import.processed? || import.partially_processed? %>

  <% if @cancelled.present? %>
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary" data-module="app-sticky">
        <span class="nhsuk-details__summary-text">
          <%= @cancelled.count %> records not imported
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <%= render AppImportReviewRecordsSummaryComponent.new(changesets: @cancelled) %>
      </div>
    </details>
  <% end %>

  <% if @nhs_discrepancies.present? %>
      <%= render AppPatientPDSDiscrepancyTableComponent.new(discrepancies: @nhs_discrepancies, current_user:) %>
    <% end %>

  <% if @duplicates.present? %>
    <div class="nhsuk-table__panel-with-heading-tab">
      <h3 class="nhsuk-table__heading-tab">
        <%= pluralize(@duplicates.count,
                      "record") %> with import issues to review
      </h3>
      <%= govuk_table(html_attributes: {
                        class: "nhsuk-table-responsive",
                      }) do |table| %>
        <% table.with_head do |head| %>
          <% head.with_row do |row| %>
            <% row.with_cell(text: "Child record") %>
            <% row.with_cell(text: "Issue to review") %>
            <% row.with_cell(text: "Actions") %>
          <% end %>
        <% end %>

        <% table.with_body do |body| %>
          <% @duplicates.each do |record| %>
            <% body.with_row do |row| %>
              <% row.with_cell do %>
                <span class="nhsuk-table-responsive__heading">Child record</span>
                <%= record.respond_to?(:patient) ?
                      record.patient.full_name :
                      record.full_name %>
              <% end %>

              <% row.with_cell do %>
                <span class="nhsuk-table-responsive__heading">
                  Issue to review
                </span>
                <% patient_name = record.respond_to?(:patient) ? record.patient.full_name : record.full_name %>
                <%= @issues_text&.dig(patient_name) || "A field in a duplicate record does not match a previously uploaded record" %>
              <% end %>

              <% row.with_cell do %>
                <span class="nhsuk-table-responsive__heading">Actions</span>
                <%= link_to imports_issue_path(
                      record,
                      type: record.is_a?(VaccinationRecord) ?
                        "vaccination-record" :
                        "patient",
                    ) do %>
                  Review
                  <span class="nhsuk-u-visually-hidden">
                    <%= record.respond_to?(:patient) ?
                          record.patient.full_name :
                          record.full_name %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @patients.present? %>
    <%= render AppPatientTableComponent.new(@patients, current_user:, count: @pagy.count) %>
  <% end %>

  <% if @vaccination_records.present? %>
    <%= render AppVaccinationRecordTableComponent.new(@vaccination_records, current_user:, count: @pagy.count) %>
  <% end %>

  <%= render AppPaginationComponent.new(pagy: @pagy) %>
<% end %>
