<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: @back_link,
        name: "#{@section.pluralize} page",
      ) %>
<% end %>

<%= h1 page_title: @patient.full_name do %>
  <span class="nhsuk-caption-l"><%= patient_school(@patient) %></span>
  <%= @patient.full_name %>
<% end %>

<%= render AppSecondaryNavigationComponent.new do |nav|
      nav.with_item(href: session_patient_path(id: @patient.id), text: "Child record")
      nav.with_item(href: session_patient_log_path, text: "Activity log", selected: true)
    end %>

<%= render AppActivityLogComponent.new(@patient_session) %>
