<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(@back_link_path, name: "session") %>
<% end %>

<%= h1 page_title: @patient.initials do %>
  <span class="nhsuk-caption-l"><%= patient_school(@patient) %></span>
  <%= @patient.full_name %>
<% end %>

<%= render "patient_sessions/secondary_navigation" %>

<%= render AppActivityLogComponent.new(patient_session: @patient_session) %>
