<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(@back_link_path, name: "session") %>
<% end %>

<%= h1 page_title: @patient.initials do %>
  <span class="nhsuk-caption-l"><%= patient_school(@patient) %></span>
  <%= @patient.full_name %>
<% end %>

<ul class="app-action-list">
  <% if (session_attendance = @patient_session.register.today) %>
    <li class="app-action-list__item">
      <% if session_attendance.attending %>
        <%= govuk_tag(text: "Attending today’s session") %>
      <% elsif session_attendance.attending == false %>
        <%= govuk_tag(text: "Absent from today’s session", colour: "red") %>
      <% else %>
        <%= govuk_tag(text: "Not registered yet", colour: "blue") %>
      <% end %>
    </li>
    <li class="app-action-list__item">
      <% if policy(session_attendance).edit? %>
        <%= link_to(
              "Update attendance",
              edit_session_patient_attendance_path(patient_id: @patient.id)
            ) %>
      <% end %>
    </li>
  <% end %>

  <li class="app-action-list__item">
    <% if @patient_session.can_record_as_already_vaccinated?(programme: @programme) %>
      <%= link_to(
            "Record as already vaccinated",
            session_patient_record_already_vaccinated_path(programme_type: @programme),
          ) %>
    <% end %>
  </li>
</ul>

<%= render "patient_sessions/secondary_navigation" %>

<%= render AppPatientPageComponent.new(
      patient_session: @patient_session,
      programme: @programme,
      vaccinate_form: @vaccinate_form,
      triage: @triage,
      current_user:,
    ) %>
