<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        session_section_tab_path(@session),
        name: "#{@section.pluralize} page",
      ) %>
<% end %>

<%= h1 page_title: @patient.initials do %>
  <span class="nhsuk-caption-l"><%= patient_school(@patient) %></span>
  <%= @patient.full_name %>
<% end %>

<% if (session_attendance = @patient_session.todays_attendance) %>
  <ul class="app-action-list">
    <li class="app-action-list__item">
      <% if session_attendance.attending %>
        <%= govuk_tag(text: "Attending today’s session") %>
      <% elsif session_attendance.attending == false %>
        <%= govuk_tag(text: "Absent from today’s session", colour: "red") %>
      <% else %>
        <%= govuk_tag(text: "Not registered yet", colour: "blue") %>
      <% end %>
    </li>
    <li class="app-action-list__item">
      <% if policy(session_attendance).edit? %>
        <%= link_to(
              "Update attendance",
              edit_session_patient_attendance_path(patient_id: @patient.id)
            ) %>
      <% end %>
    </li>
  </ul>
<% end %>

<%= render AppSecondaryNavigationComponent.new do |nav|
      nav.with_item(
        href: session_patient_path(id: @patient.id),
        text: "Child record",
        selected: true,
      )
      nav.with_item(
        href: session_patient_log_path(patient_id: @patient.id),
        text: "Activity log",
      )
    end %>

<%= render AppPatientPageComponent.new(
      patient_session: @patient_session,
      programme: @programme,
      vaccinate_form: @vaccinate_form,
      triage: @triage,
      section: @section,
      tab: @tab,
      current_user:,
    ) %>
