<%= h1 t(".title"), size: "xl" %>

<% @vaccines.each do |vaccine| %>
  <%= render AppCardComponent.new do |c| %>
    <% c.with_heading { link_to(vaccine_heading(vaccine), vaccine_path(vaccine)) } %>
    <p class="nhsuk-body-s nhsuk-secondary-text-color">
      <%= vaccine.supplier %>,
      GTIN: <span class="app-u-monospace"><%= vaccine.gtin %></span>
    </p>

    <p>
      <%= link_to "Add a batch", new_vaccine_batch_path(vaccine) %>
    </p>

    <% if vaccine.batches.any? %>
      <%= govuk_table do |table| %>
        <%= table.with_head do |head| %>
          <%= head.with_row do |row| %>
            <%= row.with_cell(text: "Batch") %>
            <%= row.with_cell(text: "Entered date") %>
            <%= row.with_cell(text: "Expiry date") %>
            <%= row.with_cell(text: "Actions") %>
          <% end %>
        <% end %>

        <%= table.with_body do |body| %>
          <% vaccine.batches.order(:name).each do |batch| %>
            <% body.with_row do |row| %>
              <% row.with_cell(text: batch.name) do %>
                <%= batch.name %>
                <% if batch.id == @todays_batch_id %>
                  <br>
                  <span class="nhsuk-caption-m">
                    (Your default)
                  </span>
                <% end %>
              <% end %>
              <% row.with_cell(text: batch.created_at.to_fs(:nhsuk_date)) %>
              <% row.with_cell(text: batch.expiry.to_fs(:nhsuk_date)) %>
              <% row.with_cell do %>
                <%= link_to "Change", edit_vaccine_batch_path(vaccine, batch) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
