<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
    href: assessing_gillick_session_patient_consents_path(@session, @patient),
    name: "assessing gillick competence page",
  ) %>
<% end %>

<%= form_for @patient_session,
  url: update_gillick_session_patient_consents_path(@session, @patient),
  method: :put do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.govuk_radio_buttons_fieldset(:gillick_competent,
    legend: { size: 'l',
              tag: 'h1',
              text: 'Are they Gillick competent?' }) do %>
    <%= f.govuk_radio_button :gillick_competent, true,
      label: { text: 'Yes, they are Gillick competent' }, link_errors: true %>
    <%= f.govuk_radio_button :gillick_competent, false,
      label: { text: "No" } %>
  <% end %>

  <%= f.govuk_text_area :gillick_competence_notes,
    label: { text: 'Give details of your assessment' },
    rows: 10 %>

  <div class="nhsuk-u-margin-top-6">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
