<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: session_patient_path(id: @consent.patient.id),
        name: "patient page",
      ) %>
<% end %>

<%= h1 "Consent response from #{@consent.name}" %>

<ul class="app-action-list">
  <% if @consent.can_withdraw? %>
    <li class="app-action-list__item">
      <%= link_to "Withdraw consent", withdraw_session_patient_consent_path %>
    </li>
  <% end %>
</ul>

<%= render AppCardComponent.new do |card| %>
  <% card.with_heading { "Consent" } %>
  <%= render AppConsentSummaryComponent.new(@consent) %>
<% end %>

<%= render AppCardComponent.new do |card| %>
  <% card.with_heading { "Child" } %>
  <%= render AppConsentPatientSummaryComponent.new(@consent) %>
<% end %>

<% if @consent.parent.present? %>
  <%= render AppCardComponent.new do |card| %>
    <% card.with_heading { "Parent or guardian" } %>
    <%= render AppParentSummaryComponent.new(@consent.parent, @consent.parent_relationship) %>
  <% end %>
<% end %>

<% if @consent.response_given? %>
  <%= render AppCardComponent.new do |card| %>
    <% card.with_heading { "Answers to health questions" } %>
    <%= render AppHealthQuestionsComponent.new(consents: [@consent]) %>
  <% end %>
<% end %>
