<%= h1 "Your team is not using this service yet" %>

<p>
  The following team is not currently set up to use Mavis:
</p>

<%= govuk_inset_text do %>
  <%= @cis2_info.organisation_name %><br />
  (<%= @cis2_info.organisation_code %>)
<% end %>

<p>You'll be able to use Mavis once your team has been onboarded.</p>

<% if @cis2_info.has_other_roles %>
  <%= govuk_button_to "Change role", user_cis2_omniauth_authorize_path, params: { change_role: true } %>
<% end %>
