<% content_for :before_main do %>
  <%= govuk_back_link(href: @return_to) %>
<% end %>

<% page_title = "Are you sure you want to archive this vaccination record?" %>

<%= h1 page_title do %>
  <span class="nhsuk-caption-l">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<p>
  <% if current_team.has_national_reporting_access? %>
    This vaccination record may be removed from other NHS systems.
  <% else %>
    Archived records may also be removed from other NHS systems, such as GP records. If the child’s parents were
    previously told the vaccination was given, they’ll get a correction message explaining that it was not given.
  <% end %>
</p>

<%= form_with url: vaccination_record_path, method: :delete do |f| %>
  <%= f.hidden_field :return_to, value: @return_to %>
  <div class="nhsuk-button-group">
    <%= f.govuk_submit "Yes, archive this vaccination record", warning: true %>
    <%= govuk_link_to "No, return to patient", @return_to %>
  </div>
<% end %>
