<% content_for :page_title, "#{@programme.name} – #{t("vaccination_records.index.title")}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("programmes.index.title"), href: programmes_path },
                                          { text: @programme.name, href: programme_path(@programme) },
                                        ]) %>
<% end %>

<h1 class="nhsuk-heading-l"><%= @programme.name %></h1>

<%= render AppProgrammeNavigationComponent.new(@programme, organisation: current_user.selected_organisation, active: :vaccination_records) %>

<%= govuk_button_link_to "Import vaccination records", new_programme_immunisation_import_path, class: "app-button--secondary" %>

<%= render AppVaccinationRecordTableComponent.new(@vaccination_records, count: @pagy.count) %>

<%= govuk_pagination(pagy: @pagy) %>

<% content_for :after_main do %>
  <%= render(AppDevToolsComponent.new) do %>
    <%= govuk_button_to "Download DPS export", export_dps_programme_vaccination_records_path(@programme) %>
    <%= govuk_button_to "Reset DPS export for programme", reset_dps_export_programme_vaccination_records_path(@programme) %>
  <% end %>
<% end %>
