<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: @breadcrumb_items) %>
<% end %>

<%= h1 @patient.full_name %>

<%= render AppPatientCardComponent.new(@patient, current_team:) %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Vaccination details" } %>
  <%= render AppVaccinationRecordSummaryComponent.new(@vaccination_record, current_user:) %>

  <div class="nhsuk-button-group">
    <% if policy(@vaccination_record).edit? %>
      <%= govuk_button_to "Edit vaccination record",
                          vaccination_record_path(@vaccination_record),
                          method: :put, secondary: true %>
    <% end %>

    <% if policy(@vaccination_record).destroy? %>
      <%= link_to "Archive vaccination record", destroy_vaccination_record_path(@vaccination_record) %>
    <% end %>
  </div>
<% end %>
