<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: patient_path(@patient),
        name: @patient.full_name,
      ) %>
<% end %>

<% page_title = "Edit child record" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l"><%= @patient.full_name %></span>
  <%= page_title %>
<% end %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Record details" } %>
  <%= render AppPatientSummaryComponent.new(@patient, show_preferred_name: true, show_address: true, show_parent_or_guardians: true) %>
<% end %>

<%= govuk_button_link_to "Continue", patient_path(@patient) %>
