<%= h1 t(".title"), size: "xl" %>

<%= render AppDetailsComponent.new(summary: "Filter children", expander: true, open: @filter_name.present?) do %>
  <%= form_with url: patients_path,
                data: { module: "autosubmit", turbo: "true" },
                role: "search" do |f| %>
    <div class="nhsuk-form-group">
      <%= f.label :name, "Name", class: "nhsuk-label" %>
      <%= f.search_field :name, value: @filter_name, class: "nhsuk-input",
                                "data-autosubmit-target": "field",
                                "data-action": "autosubmit#submit",
                                "data-turbo-permanent": "true" %>
    </div>

    <div class="app-button-group nhsuk-u-margin-bottom-0">
      <%= f.govuk_submit "Update children",
                         "data-autosubmit-target": "filter",
                         "data-turbo-permanent": "true" %>

      <% if @filter_name.present? %>
        <%= govuk_button_link_to "Clear filters", patients_path, secondary: true, data: { turbo: "false" } %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @patients.count.zero? %>
  <div class="app-patients">
    <p class="app-patients__no-results nhsuk-caption-m">No children</p>
  </div>
<% else %>
  <% heading = @filter_name.present? ?
       "#{I18n.t("children", count: @pagy.count)} matching \"#{@filter_name}\"" :
       nil %>
  <%= render AppPatientTableComponent.new(@patients,
                                          count: @pagy.count,
                                          heading:) %>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
