<%= h1 t(".title"), size: "xl" %>

<%= render AppDetailsComponent.new(summary: "Filter children", expander: true, open: @filtered) do %>
  <%= form_with url: patients_path,
                data: { module: "autosubmit", turbo: "true" },
                role: "search" do |f| %>
    <div class="nhsuk-form-group">
      <%= f.label :name, "Name", class: "nhsuk-label" %>
      <%= f.search_field :name, value: @filter_name, class: "nhsuk-input",
                                "data-autosubmit-target": "field",
                                "data-action": "autosubmit#submit",
                                "data-turbo-permanent": "true" %>
    </div>

    <%= f.govuk_check_boxes_fieldset :missing_nhs_number, multiple: false, legend: nil do %>
      <%= f.govuk_check_box :missing_nhs_number, 1, 0, multiple: false, link_errors: true, label: { text: "Missing NHS number" },
                                                       "data-autosubmit-target": "field",
                                                       "data-action": "autosubmit#submit",
                                                       "data-turbo-permanent": "true" %>
    <% end %>

    <div class="app-button-group nhsuk-u-margin-bottom-0">
      <%= f.govuk_submit "Update children",
                         "data-autosubmit-target": "filter",
                         "data-turbo-permanent": "true" %>

      <% if @filtered.present? %>
        <%= govuk_button_link_to "Clear filters", patients_path, secondary: true, data: { turbo: "false" } %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @pagy.count.zero? %>
  <div class="app-patients">
    <p class="app-patients__no-results nhsuk-caption-m">No children</p>
  </div>
<% else %>
  <%= render AppPatientTableComponent.new(@patients, heading: @heading) %>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
