<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("patients.index.title"), href: patients_path },
                                          { text: @patient.full_name, href: patient_path(@patient) },
                                        ]) %>
<% end %>

<% page_title = "NHS number lookup history" %>
<%= h1 page_title: do %>
  <span class="nhsuk-caption-l"><%= @patient.full_name %></span>
  <%= page_title %>
<% end %>

<p class="nhsuk-u-reading-width">The following timeline shows how this child's NHS number was found by searching the NHS Patient Demographics Service (PDS)</p>

<%= render AppTimelineComponent.new(@timeline_items) %>

<h2 class="nhsuk-heading-m">Terms used in this lookup</h2>

<p class="nhsuk-u-reading-width">A fuzzy search finds text that matches a term closely as well as exactly. 
  For example, a fuzzy search can identify Jon Smith even if the term entered was John Smith.</p>

<p class="nhsuk-u-reading-width">A wildcard searches for unknown parts of text. For example, if you only 
  have part of a postcode: CV1, you can use a wildcard to search all records with a postcode 
  that includes CV1.</p>

<p class="nhsuk-u-reading-width">History refers to the child’s history, for example if they have changed 
  their name or address.</p>
