<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: @back_link,
        name: "#{@section.pluralize} page",
      ) %>
<% end %>

<%= h1 page_title: @patient.full_name do %>
  <span class="nhsuk-caption-l"><%= patient_school(@patient) %></span>
  <%= @patient.full_name %>
<% end %>

<%= render AppSecondaryNavigationComponent.new do |nav|
      nav.with_item(
        href: session_patient_path(id: @patient.id),
        text: "Child record",
        selected: true,
      )
      nav.with_item(
        href: session_patient_log_path(patient_id: @patient.id),
        text: "Activity log",
      )
    end %>

<%= render AppPatientPageComponent.new(
      patient_session: @patient_session,
      vaccination_record: @draft_vaccination_record,
      triage: @triage,
      section: @section,
      tab: @tab,
      current_user:,
    ) %>
