<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: "Home", href: programmes_path },
                                          { text: t("patients.index.title"), href: patients_path },
                                        ]) %>
<% end %>

<%= h1 page_title: @patient.initials do %>
  <%= @patient.full_name %>
<% end %>

<%= render AppSecondaryNavigationComponent.new do |nav|
      nav.with_item(href: patient_path(@patient), text: "Child record", selected: true)
      nav.with_item(href: log_patient_path(@patient), text: "Activity log")
    end %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Child record" } %>
  <%= render AppPatientSummaryComponent.new(@patient, show_preferred_name: true, show_address: true, show_parent_or_guardians: true) %>
<% end %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Cohorts" } %>

  <% if (cohort = @patient.cohort) %>
    <%= govuk_table(html_attributes: {
                      class: "nhsuk-table-responsive",
                    }) do |table| %>
      <% table.with_head do |head| %>
        <% head.with_row do |row| %>
          <% row.with_cell(text: "Name") %>
          <% row.with_cell(text: "Actions") %>
        <% end %>
      <% end %>

      <% table.with_body do |body| %>
        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Name</span>
            <%= format_year_group(cohort.year_group) %>
          <% end %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Actions</span>
            <%= form_with model: @patient do |f| %>
              <%= f.hidden_field :cohort_id, value: "" %>
              <%= f.govuk_submit "Remove from cohort", class: "app-button--secondary-warning app-button--small" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="nhsuk-body">No cohorts</p>
  <% end %>
<% end %>
