<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("patients.index.title"), href: patients_path },
                                        ]) %>
<% end %>

<%= render "patients/header" %>

<%= render AppSecondaryNavigationComponent.new do |nav|
      nav.with_item(href: patient_path(@patient), text: "Child record", selected: true)
      nav.with_item(href: log_patient_path(@patient), text: "Activity log")
    end %>

<%= render AppPatientCardComponent.new(@patient, current_team:) do %>
  <% if @patient.not_archived?(team: current_user.selected_team) %>
    <div class="app-button-group">
      <%= govuk_button_link_to "Edit child record", edit_patient_path(@patient), secondary: true %>
      <%= govuk_button_link_to "Archive child record", new_patient_archive_path(@patient), class: "app-button--secondary-warning" %>
    </div>
  <% end %>
<% end %>

<%= render AppCardComponent.new(section: true) do |card| %>
  <%= render AppPatientProgrammesTableComponent.new(@patient, programmes: policy_scope(Programme)) %>
<% end %>

<%= render AppCardComponent.new(section: true) do |card| %>
  <% card.with_heading { "Sessions" } %>
  <%= render AppPatientSessionTableComponent.new(@patient_sessions) %>

  <% unless @in_generic_clinic %>
    <%= govuk_button_to "Invite to community clinic", invite_to_clinic_patient_path(@patient), secondary: true %>
  <% end %>
<% end %>

<%= render AppCardComponent.new(section: true) do |card| %>
  <% card.with_heading { "Vaccinations" } %>
  <%= render AppPatientVaccinationTableComponent.new(
        @patient, academic_year: AcademicYear.current, show_caption: false,
      ) %>
<% end %>
