<% content_for :page_title, "#{@programme.name} – #{t(".title")}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("programmes.index.title"), href: programmes_path },
                                        ]) %>
<% end %>

<%= render "programmes/heading" %>

<%= render AppProgrammeNavigationComponent.new(@programme, @academic_year, active: :overview) %>

<%= govuk_button_to "Download vaccination report", programme_reports_path(@programme, @academic_year), secondary: true, class: "nhsuk-u-margin-bottom-5" %>

<%= render AppProgrammeStatsComponent.new(@programme, academic_year: @academic_year, patient_ids: @patient_ids) %>

<h2 class="nhsuk-heading-m">Cohorts</h2>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <% @patient_count_by_year_group.each do |year_group, patient_count| %>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      <%= render AppCardComponent.new(link_to: patient_count > 0 ? programme_patients_path(@programme, @academic_year, year_groups: [year_group]) : nil) do |card| %>
        <% card.with_heading { format_year_group(year_group) } %>
        <% card.with_description { t("children", count: patient_count) } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render AppConsentRefusedTableComponent.new(
      @consents,
      vaccine_may_contain_gelatine: @programme.vaccine_may_contain_gelatine?,
    ) %>
