<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(edit_session_path(@session), name: "edit session") %>
<% end %>

<%= h1 "When will sessions be held?" %>

<%= form_with model: @draft_session_dates, url: session_dates_path(@session), method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <div class="app-add-another">
    <ol class="nhsuk-list app-add-another__list">
      <%= f.fields_for :session_dates do |date_f| %>
        <li class="app-add-another__list-item">
          <% if date_f.object.persisted? && date_f.object.session_attendances.any? %>
            <h2 class="nhsuk-heading-m">
              <%= date_f.object.value.to_fs(:long) %>
            </h2>
            <p class="nhsuk-u-secondary-text-color">
              Children have attended this session. It cannot be changed.
            </p>
          <% else %>
            <%= date_f.govuk_date_field :value,
                                        legend: { size: "m", text: "Session date" },
                                        hint: { text: "For example, 27 3 2024" } %>

            <!-- DEBUG: object=<%= date_f.object.inspect %>, persisted=<%= date_f.object&.persisted? %>, length=<%= @draft_session_dates.session_dates.length %> -->
            <% if date_f.object.persisted? || @draft_session_dates.session_dates.length > 1 %>
              <%= f.govuk_submit "Delete",
                                 name: "delete_date",
                                 value: date_f.index,
                                 warning: true,
                                 class: "app-add-another__delete app-button--small" %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ol>

    <%= f.govuk_submit "Add another date", name: "add_another", secondary: true, class: "app-add-another__add" %>
  </div>

  <div class="app-button-group">
    <%= f.govuk_submit "Continue" %>
  </div>
<% end %>
