<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: vaccinations_back_link_path,
        name: "vaccination page",
      ) %>
<% end %>

<%= h1 "Check and confirm" %>

<% if @draft_vaccination_record.administered? %>
  <%= render AppCardComponent.new do %>
    <%= render AppVaccinationCheckAndConfirmComponent.new(@draft_vaccination_record) %>
  <% end %>
<% else %>
  <%= render AppWarningCalloutComponent.new(heading: "Vaccination was not given") do %>
    <%= render AppVaccinationCheckAndConfirmComponent.new(@draft_vaccination_record) %>
  <% end %>
<% end %>

<%= form_with model: @draft_vaccination_record,
              url: wizard_path,
              method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <%= f.govuk_text_area :notes,
                            label: {
                              text: "Add notes",
                              size: "m",
                              class: "nhsuk-u-margin-bottom-3",
                            },
                            hint: {
                              text: "For example, if the child had a reaction to the vaccine",
                            },
                            rows: 5 %>
    </div>
  </div>

  <%= f.govuk_submit "Confirm" %>
<% end %>
