<%= content_for :page_title, "#{@programme.name} – #{t("patients.index.title")}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(
        items: [
          { text: t("programmes.index.title"), href: programmes_path },
          { text: @programme.name, href: programme_path(@programme) },
        ],
      ) %>
<% end %>

<h1 class="nhsuk-heading-l"><%= @programme.name %></h1>

<%= render AppProgrammeNavigationComponent.new(@programme,
                                               organisation: current_user.selected_organisation,
                                               active: :patients) %>

<%= govuk_button_link_to "Import child records",
                         new_programme_cohort_import_path(@programme),
                         class: "app-button--secondary" %>

<%= render AppSessionPatientTableComponent.new(
      caption: t("children", count: @pagy.count),
      columns: %i[name dob year_group outcome],
      params:,
      patient_sessions: @patient_sessions,
      programme: @programme,
      section: :patients,
      year_groups: @programme.year_groups,
    ) %>

<div class="nhsuk-u-margin-top-6">
  <%= govuk_pagination(pagy: @pagy) %>
</div>
