<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
    href: pilot_registrations_path,
    name: "parents interested in pilot"
  ) %>
<% end %>

<% page_title = @school.name %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l"><%= page_title %></span>
  Are you sure you want to close the pilot to new participants at this school?
<% end %>

<p>Once it’s closed, it cannot be reopened.</p>

<%= govuk_button_to "Yes, close the pilot to new participants",
                    close_registration_school_path(@school),
                    class: "app-button--warning" %>

<p><%= govuk_link_to "No, return to list of participants", pilot_registrations_path %></p>
