
<% page_title = @school.name %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'Manage schools' },
    { text: page_title }
  ]) %>
<% end %>

<%= h1 page_title:, class: "nhsuk-heading-l" do %>
  <%= page_title %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @school.address %>,
    <%= @school.town %>.
    <%= @school.postcode %>
  </span>
<% end %>

<%= render AppTabComponent.new(title: "School", classes: "nhsuk-tabs") do |slot|
  unmatched_count = @unmatched_consent_responses.count

  slot.with_tab(
    id: "unmatched-consent-responses",
    label: "Unmatched consent responses (#{unmatched_count})",
    classes: "nhsuk-tabs__panel",
  ) do
    govuk_table(classes: "app-table--dense") do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "Parent or guardian")
          row.with_cell(text: "Child")
          row.with_cell(text: "Date of birth")
          row.with_cell(text: "Response")
        end
      end

      table.with_body do |body|
        @unmatched_consent_responses.each do |consent_form|
          body.with_row do |row|
            row.with_cell(text: govuk_link_to(consent_form.parent_name, consent_form))
            row.with_cell(text: consent_form.full_name)
            row.with_cell(text: consent_form.date_of_birth&.to_fs(:nhsuk_date_short_month))
            row.with_cell(text: consent_form.human_enum_name(:response))
          end
        end
      end
    end
  end
end
%>
