<%= h1 "Select a role" %>

<%= form_with url: users_teams_path, method: :post do |f| %>
  <% @teams.each do |team| %>
    <%= f.button type: :submit,
                 name: :team_id,
                 value: team.id,
                 class: "nhsuk-card nhsuk-card--clickable app-card--button nhsuk-u-margin-bottom-3" do %>
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-2">
          <%= team.name %> (<%= team.organisation.ods_code %>)
        </h2>

        <% if current_user.is_admin? %>
          <p class="nhsuk-card__description">Administrator</p>
        <% elsif current_user.is_nurse? %>
          <p class="nhsuk-card__description">Nurse</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
