<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: edit_programme_immunisation_import_path(@programme,
                                                      @immunisation_import),
        name: @programme.name,
      ) %>
<% end %>

<% title = "Review duplicate vaccination record" %>

<span class="nhsuk-caption-l"><%= @patient.full_name %></span>
<%= h1 title, page_title: "#{@patient.full_name} – #{title}" %>

<%= render AppWarningCalloutComponent.new(heading: "This record needs reviewing", description: "A field in a duplicate record does not match that in a previously uploaded record.") %>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <%= render AppCardComponent.new(colour: "blue") do |c| %>
      <% c.with_heading { "Duplicate record" } %>
      <h3 class="nhsuk-heading-s">Duplicate child record</h3>
      <%= render AppPatientSummaryComponent.new(
            patient: @patient.with_pending_changes,
          ) %>
      <h3 class="nhsuk-heading-s">Duplicate vaccination record</h3>
      <%= render AppVaccinationRecordSummaryComponent.new(
            @vaccination_record.with_pending_changes
          ) %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-one-half">
    <%= render AppCardComponent.new(colour: "blue") do |c| %>
      <% c.with_heading { "Previously uploaded record" } %>
      <h3 class="nhsuk-heading-s">Previously uploaded child record</h3>
      <%= render AppPatientSummaryComponent.new(
            patient: @patient,
          ) %>
      <h3 class="nhsuk-heading-s">Previously uploaded vaccination record</h3>
      <%= render AppVaccinationRecordSummaryComponent.new(
            @vaccination_record
          ) %>
    <% end %>
  </div>
</div>

<%= form_with(
      model: @form,
      url: programme_immunisation_import_duplicate_path(@programme,
                                                        @immunisation_import,
                                                        @vaccination_record),
      method: :put,
      class: "nhsuk-u-width-one-half",
    ) do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_collection_radio_buttons :apply_changes, %i[apply discard], :itself, nil %>

  <%= f.govuk_submit "Resolve duplicate" %>
<% end %>
