<%= content_for :page_title, "#{@programme.name} – #{t(".title")}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("programmes.index.title"), href: programmes_path },
                                          { text: @programme.name, href: programme_overview_path(@programme, @academic_year) },
                                        ]) %>
<% end %>

<%= render "programmes/heading" %>

<%= render AppProgrammeNavigationComponent.new(@programme, @academic_year, active: :patients) %>

<%= govuk_button_link_to "Import child records",
                         new_cohort_import_path,
                         secondary: true %>

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    <%= render AppSearchComponent.new(
          form: @form,
          url: programme_patients_path(@programme),
          programme_statuses: Patient::VaccinationStatus.statuses.keys,
          consent_statuses: Patient::ConsentStatus.statuses.keys,
          triage_statuses: %w[required delay_vaccination do_not_vaccinate safe_to_vaccinate],
          year_groups: @year_groups,
        ) %>
  </div>

  <div class="app-grid-column-results">
    <%= render AppSearchResultsComponent.new(@pagy) do %>
      <% @patients.each do |patient| %>
        <%= render AppPatientSearchResultCardComponent.new(
              patient,
              link_to: patient_path(patient),
              programme: @programme,
              triage_status: @form.triage_status,
              show_year_group: true,
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
