<%= content_for :page_title, "#{@programme.name} – #{t(".title")}" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("programmes.index.title"), href: programmes_path },
                                          { text: @programme.name, href: programme_overview_path(@programme, @academic_year) },
                                        ]) %>
<% end %>

<%= render "programmes/heading" %>

<%= render AppProgrammeNavigationComponent.new(@programme, @academic_year, active: :patients) %>

<%= govuk_button_link_to "Import child records",
                         import_programme_patients_path,
                         secondary: true %>

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    <%= render AppPatientSearchFormComponent.new(
          @form,
          url: programme_patients_path(@programme),
          consent_statuses: %w[no_response given refused conflicts],
          triage_statuses: %w[required invite_to_clinic delay_vaccination do_not_vaccinate safe_to_vaccinate],
          vaccination_statuses: Patient::VaccinationStatus.statuses.keys,
          year_groups: @year_groups,
        ) %>
  </div>

  <div class="app-grid-column-results">
    <%= render AppSearchResultsComponent.new(@pagy, label: "children") do %>
      <% @patients.each do |patient| %>
        <%= render AppPatientSearchResultCardComponent.new(
              patient,
              link_to: patient_path(patient),
              programme: @programme,
              academic_year: @academic_year,
              show_triage_status: @form.triage_status.present?,
              show_year_group: patient.show_year_group?(team: current_team),
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
