<% content_for :before_main do %>
  <%= govuk_back_link(href: @back_link_path) %>
<% end %>

<%= form_with model: @draft_vaccination_record, url: wizard_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <span class="nhsuk-caption-l"><%= @patient.full_name %></span>
  <%= h1 "When was the #{@programme.name_in_sentence} vaccination given?" %>

  <%= f.govuk_date_field :performed_at_date,
                         legend: { text: "Date" },
                         hint: { text: "For example, 27 3 2017" } %>

  <%= f.govuk_time_field :performed_at_time,
                         omit_second: true,
                         legend: { text: "Time" },
                         hint: { text: "For example, 13 15" } %>

  <%= f.govuk_submit %>
<% end %>
