<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: draft_vaccinations_back_link_path,
        name: "vaccination page",
      ) %>
<% end %>

<% page_title = "Tell us how the vaccination was given" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= form_with model: @draft_vaccination_record, url: wizard_path, method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_collection_radio_buttons(
        :delivery_method,
        vaccination_delivery_methods_for(@draft_vaccination_record.vaccine),
        :first,
        :second,
        legend: {
          text: "How was the vaccination given?",
        },
        bold_labels: false,
      ) %>

  <%= f.govuk_collection_radio_buttons(
        :delivery_site,
        vaccination_delivery_sites_for(@draft_vaccination_record.vaccine),
        :first,
        :second,
        legend: {
          text: "Site",
        },
        bold_labels: false,
      ) %>

  <%= f.govuk_submit "Continue" %>
<% end %>
