<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(@back_link_path) %>
<% end %>

<% page_title = "How was the #{@programme.name_in_sentence} vaccination given?" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l">
    <%= @patient.full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= form_with model: @draft_vaccination_record, url: wizard_path, method: :put do |f| %>
  <% content_for(:before_content) { f.govuk_error_summary } %>

  <%= f.govuk_collection_radio_buttons :delivery_method,
                                       available_delivery_methods_for(@draft_vaccination_record.programme),
                                       :first,
                                       :second,
                                       legend: { text: "Method" } %>

  <%= f.govuk_collection_radio_buttons :delivery_site,
                                       available_delivery_sites_for(@draft_vaccination_record.programme),
                                       :first,
                                       :second,
                                       legend: { text: "Site" } %>

  <%= f.govuk_submit "Continue" %>
<% end %>
