<% content_for :before_main do %>
  <%= govuk_back_link(href: @back_link_path) %>
<% end %>

<% title = "Where was the #{@programme.name_in_sentence} vaccination offered?" %>
<% content_for :page_title, title %>

<% if @draft_vaccination_record.bulk_upload_user_and_record? %>
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">Location</span>
    <%= @patient.full_name %>
  </h1>

  <%= form_with url: wizard_path, method: :get, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |search_form| %>
    <%= render AppSearchInputComponent.new(name: :q, value: @location_query, label: { text: "Search for a school" }) %>
  <% end %>

  <% if @location_query.present? %>
    <%= form_with model: @draft_vaccination_record, url: wizard_path, method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <%# Used to preserve the current location if the user doesn't select a new one %>
      <%= f.hidden_field :location_id, value: @draft_vaccination_record.location_id %>

      <%= render AppSearchResultsComponent.new(@pagy, label: "schools", heading: "School search results") do %>
        <%= f.govuk_radio_buttons_fieldset :location_id,
                                           legend: { text: "Select a school", size: "s", class: "nhsuk-u-visually-hidden" } do %>
          <% @locations.each do |location| %>
            <%= f.govuk_radio_button :location_id, location.id,
                                     label: { text: location_display_name(location, show_urn: true) },
                                     hint: { text: format_address_single_line(location) } %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  <% else %>
    <%= render AppDetailsComponent.new(summary: "School not known or home-schooled") do %>
      <%= form_with model: @draft_vaccination_record, url: wizard_path, method: :put do |f| %>
        <%= f.govuk_radio_buttons_fieldset :location_id,
                                           legend: { text: "Select an option", size: "s", class: "nhsuk-u-visually-hidden" } do %>
          <%= f.govuk_radio_button :location_id, "unknown",
                                   label: { text: "Unknown school" } %>
          <%= f.govuk_radio_button :location_id, "home_educated",
                                   label: { text: "Home-schooled" } %>
        <% end %>
        <%= f.govuk_submit "Continue", class: "nhsuk-u-margin-bottom-0" %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= form_with model: @draft_vaccination_record, url: wizard_path, method: :put do |f| %>
    <%= f.govuk_error_summary %>

    <%= f.govuk_radio_buttons_fieldset :location_id,
                                       caption: { text: @patient.full_name, size: "l" },
                                       legend: { size: "l", tag: "h1",
                                                 text: title } do %>

      <% @locations.each do |location| %>
        <%= f.govuk_radio_button :location_id, location.id,
                                 label: { text: location.name },
                                 hint: { text: format_address_single_line(location) } %>
      <% end %>
    <% end %>

    <%= f.govuk_submit "Continue" %>
  <% end %>
<% end %>
