<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: session_parent_interface_consent_form_edit_path(@session, @consent_form, :school),
        name: "edit school page",
      ) %>
<% end %>

<%= h1 "You cannot give or refuse consent through this service" %>

<p>This service is being piloted with a small number of schools. It’s only for
parents whose children attend participating schools.</p>

<p>
  If you have any questions, please contact the local health team by calling
  <%= @session.programme.team.phone %>, or email
  <a class="nhsuk-link" href="mailto:<%= @session.programme.team.email %>">
    <%= @session.programme.team.email %></a>.
</p>
