<% if @consent_form.contact_injection? %>
  <%= render "confirmation_injection" %>
<% elsif @consent_form.consent_refused? %>
  <%= render "confirmation_refused" %>
<% elsif @consent_form.needs_triage? %>
  <%= render "confirmation_needs_triage" %>
<% else %>
  <%= render "confirmation_agreed" %>
<% end %>

<p>We’ve sent a confirmation to <%= @consent_form.parent.email %>.</p>
