<%= h1 t("consent_forms.start.title") %>

<% @session.programmes.each do |programme| %>
  <h2 class="nhsuk-heading-m">
    <%= t("consent_forms.start.vaccines.#{programme.type}.title") %>
  </h2>

  <% t("consent_forms.start.vaccines.#{programme.type}.description").each do %>
    <p><%= it %></p>
  <% end %>
<% end %>

<%= form_with url: url_for(action: :create) do |f| %>
  <%= hidden_field_tag :session_slug, @session.slug %>
  <%= hidden_field_tag :programme_type, @programme.type %>
  <%= f.govuk_submit "Start now" %>
<% end %>
