<%= h1 t("consent_forms.start.title.#{@programme.type}") %>

<% t("consent_forms.start.paragraphs.#{@programme.type}").each do |paragraph| %>
  <p class="nhsuk-u-margin-bottom-6">
    <%= paragraph %>
  </p>
<% end %>

<%= form_with url: url_for(action: :create) do |f| %>
  <%= hidden_field_tag :session_id, @session.id %>
  <%= hidden_field_tag :programme_type, @programme.type %>
  <%= f.govuk_submit "Start now" %>
<% end %>
