<%= h1 t("consent_forms.start.title"), size: "xl" %>

<% @programmes.each do |programme| %>
  <%= render "parent_interface/consent_forms/start/#{programme.type}" %>
<% end %>

<h2 class="nhsuk-heading-m">Give or refuse consent</h2>

<%= form_with url: url_for(action: :create) do |f| %>
  <%= hidden_field_tag :session_slug, @session.slug %>
  <%= hidden_field_tag :programme_types, @programmes.map(&:type).join("-") %>
  <%= f.govuk_submit "Start now", role: "link" %>
<% end %>

<h3 class="nhsuk-heading-s">Other ways to give consent</h3>

<p>
  The quickest way to give or refuse consent is online, using this service. This
  will take less than 5 minutes.
</p>

<p>
  If you cannot use the service, you can respond over the phone using the number
  given in the consent request you got by email.
</p>
