<% page_title = "Upload the cohort list" %>
<% content_for(:page_title, page_title) %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'Manage pilot', href: manage_pilot_path },
    { text: page_title }
  ]) %>
<% end %>

<% if @team.remaining_cohort_size.zero? %>
  <%= h1 page_title %>
  <%= govuk_inset_text do %>
    <span class="nhsuk-visually-hidden">Information: </span>

    <p>
      Your current cohort has <%= pluralize(@team.cohort_size, "child") %>.
      You have reached the maximum number of children for this pilot.
    </p>
  <% end %>
<% else %>
  <%= form_for @cohort_list, url: pilot_cohort_path do |f| %>
    <%= f.govuk_error_summary %>

    <%= f.govuk_file_field :csv,
      label: { text: page_title, tag: 'h1', size: 'l' } do %>
      <%= govuk_inset_text do %>
        <span class="nhsuk-visually-hidden">Information: </span>

        <p>
          <% if @team.cohort_size.zero? %>
            Your current cohort is empty.
          <% else %>
            Your current cohort has <%= pluralize(@team.cohort_size, "child") %>.
          <% end %>
          You can upload <%= @team.remaining_cohort_size %> more.
        </p>
      <% end %>
    <% end %>

    <%= f.govuk_submit 'Upload the cohort list' %>
  <% end %>
<% end %>
