<% content_for :before_main do %>
  <%= govuk_back_link(href: consent_form_path(@consent_form)) %>
<% end %>

<%= form_with model: @consent_form, url: archive_consent_form_path, method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <% page_title = "Archive response" %>
  <%= h1 page_title: do %>
    <span class="nhsuk-caption-l">
      Consent response from <%= @consent_form.parent_full_name %>
    </span>
    <%= page_title %>
  <% end %>

  <p class="nhsuk-body">The unmatched response will be hidden. This operation cannot be undone.</p>

  <%= f.govuk_text_area :notes, label: { text: "Notes", size: "m" } %>

  <%= f.govuk_submit "Archive response", warning: true %>
<% end %>
