<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
    href: session_consent_form_edit_path(@session, @consent_form, :consent),
    name: "edit consent page",
  ) %>
<% end %>

<%= h1 "Check and confirm answers", class: "nhsuk-heading-l" %>

<h2 class="nhsuk-heading-m">Consent</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <%= govuk_summary_list classes: 'app-summary-list--no-bottom-border' do |summary_list|
      summary_list.with_row do |row|
        row.with_key { "Do you agree?" }
        row.with_value { @consent_form.consent_given? ? "Yes" : "No" }
        row.with_action(text: "Change",
          href: session_consent_form_edit_path(@session, @consent_form, :consent),
          visually_hidden_text: "consent")
      end
    end %>
  </div>
</div>

<h2 class="nhsuk-heading-m">About your child</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <%= govuk_summary_list classes: 'app-summary-list--no-bottom-border' do |summary_list|
      summary_list.with_row do |row|
        row.with_key { "Child's name" }
        row.with_value { @consent_form.full_name }
        row.with_action(text: "Change",
          href: session_consent_form_edit_path(@session, @consent_form, :name),
          visually_hidden_text: "child's name")
      end

      if @consent_form.use_common_name
        summary_list.with_row do |row|
          row.with_key { "Also known as" }
          row.with_value { @consent_form.common_name }
          row.with_action(text: "Change",
            href: session_consent_form_edit_path(@session, @consent_form, :name),
            visually_hidden_text: "common name")
        end
      end

      summary_list.with_row do |row|
        row.with_key { "Date of birth" }
        row.with_value { @consent_form.date_of_birth.to_fs(:nhsuk_date) }
        row.with_action(
          text: "Change",
          href: session_consent_form_edit_path(@session, @consent_form, "date-of-birth"),
          visually_hidden_text: "date of birth"
        )
      end

      summary_list.with_row do |row|
        row.with_key { "School" }
        row.with_value { @consent_form.session.location.name }
        row.with_action(
          text: "Change",
          href: session_consent_form_edit_path(@session, @consent_form, :school),
          visually_hidden_text: "school"
        )
      end
    end %>
  </div>
</div>

<h2 class="nhsuk-heading-m">About you</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <%= govuk_summary_list classes: 'app-summary-list--no-bottom-border' do |summary_list|
      summary_list.with_row do |row|
        row.with_key { "Your name" }
        row.with_value { @consent_form.parent_name }
        row.with_action(text: "Change",
          href: session_consent_form_edit_path(@session, @consent_form, :parent),
          visually_hidden_text: "your name")
      end

      summary_list.with_row do |row|
        row.with_key { "Relationship" }
        row.with_value { @consent_form
          .human_enum_name(:parent_relationship)
          .capitalize }
        row.with_action(text: "Change",
          href: session_consent_form_edit_path(@session, @consent_form, :parent),
          visually_hidden_text: "your relationship")
      end

      summary_list.with_row do |row|
        row.with_key { "Email address" }
        row.with_value { @consent_form.parent_email }
        row.with_action(text: "Change",
          href: session_consent_form_edit_path(@session, @consent_form, :parent),
          visually_hidden_text: "your email")
      end

      if @consent_form.parent_phone.present?
        summary_list.with_row do |row|
          row.with_key { "Telephone number" }
          row.with_value { @consent_form.parent_phone }
          row.with_action(text: "Change",
            href: session_consent_form_edit_path(@session, @consent_form, :parent),
            visually_hidden_text: "your phone")
        end

        summary_list.with_row do |row|
          row.with_key { "Telephone contact method" }
          row.with_value { contact_method_for(@consent_form) }
          row.with_action(text: "Change",
            href: session_consent_form_edit_path(@session, @consent_form, :parent),
            visually_hidden_text: "your phone contact method")
        end
      end
    end %>
  </div>
</div>

<%= govuk_button_to "Confirm", url_for(action: :record), method: :put %>
