<% content_for :before_main do %>
  <% if @session %>
    <%= render AppBreadcrumbComponent.new(items: [
                                            { text: t("dashboard.index.title"), href: dashboard_path },
                                            { text: t("sessions.index.title"), href: sessions_path },
                                            { text: @session.location.name, href: session_path(@session) },
                                          ]) %>
  <% end %>
<% end %>

<%= h1 t(".title"), size: "xl" %>

<% if @consent_forms.any? %>
  <%= render AppCardComponent.new(feature: true) do |card| %>
    <% card.with_heading(level: 2) do %>
      <%= pluralize(@pagy.count, "unmatched consent response") %>
    <% end %>

    <%= govuk_table(html_attributes: { class: "nhsuk-table-responsive" }) do |table| %>
      <%= table.with_head do |head|
            head.with_row do |row|
              row.with_cell(text: "Response")
              row.with_cell(text: "Response date")
              row.with_cell(text: "Decision")
              row.with_cell(text: "Actions")
            end
          end %>

      <%= table.with_body do |body| %>
        <% @consent_forms.each do |consent_form| %>
          <%= body.with_row do |row| %>
            <%= row.with_cell do %>
              <span class="nhsuk-table-responsive__heading">Response</span>
              <span>
                <%= link_to consent_form.parent_relationship.label_with_parent, consent_form_path(consent_form) %>
                <br>
                <span class="nhsuk-u-secondary-text-colour nhsuk-u-font-size-16">
                  for <%= consent_form.full_name %>
                </span>
              </span>
            <% end %>

            <%= row.with_cell do %>
              <span class="nhsuk-table-responsive__heading">Response date</span>
              <%= consent_form.recorded_at.to_date.to_fs(:long) %>
            <% end %>

            <%= row.with_cell do %>
              <span class="nhsuk-table-responsive__heading">Decision</span>
              <%= consent_form.human_enum_name(:response) %>
            <% end %>

            <%= row.with_cell do %>
              <span class="nhsuk-table-responsive__heading">Decision</span>
              <%= render AppActionListComponent.new do |action_list| %>
                <% action_list.with_item(text: "Match", href: search_consent_form_path(consent_form)) %>
                <% action_list.with_item(text: "Archive", href: archive_consent_form_path(consent_form)) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render AppPaginationComponent.new(pagy: @pagy) %>
<% else %>
  <p class="nhsuk-body">There are currently no unmatched consent responses.</p>
<% end %>
