<% content_for :before_main do %>
  <%= govuk_back_link(href: search_consent_form_path(@consent_form)) %>
<% end %>

<% page_title = "Link consent response with child record?" %>

<%= h1 page_title: do %>
  <span class="nhsuk-caption-l">
    Consent response from <%= @consent_form.parent_full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= render AppCompareConsentFormAndPatientComponent.new(
      consent_form: @consent_form,
      patient: @patient,
    ) %>

<%= govuk_button_to "Link response with record", match_consent_form_path(@consent_form, @patient) %>
