<% content_for :before_main do %>
  <%= govuk_back_link(href: consent_form_path(@consent_form)) %>
<% end %>

<% page_title = "Create a new child record from this consent response?" %>
<%= h1 page_title: do %>
  <span class="nhsuk-caption-l">
    Consent response from <%= @consent_form.parent_full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= render AppPatientCardComponent.new(@patient, current_team:) %>

<%= render AppConsentFormCardComponent.new(@consent_form) %>

<%= render AppHealthAnswersCardComponent.new(@consent_form) %>

<%= govuk_button_to "Create a new record from response",
                    patient_consent_form_path(@consent_form) %>
