<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(consent_form_path, name: "consent page") %>
<% end %>

<% page_title = "Search for a child record to match with #{@consent_form.full_name}" %>
<%= h1 page_title: do %>
  <%= page_title %>
<% end %>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third app-grid-column--sticky">
    <%= render AppCardComponent.new(heading_level: 2, colour: "blue") do |card| %>
      <% card.with_heading { "Consent response" } %>

      <%= govuk_summary_list(classes: %w[nhsuk-u-margin-bottom-4 nhsuk-summary-list--no-border app-summary-list--full-width]) do |summary_list|
            summary_list.with_row do |row|
              row.with_key { "Full name" }
              row.with_value { @consent_form.full_name }
            end
            summary_list.with_row do |row|
              row.with_key { "Date of birth" }
              row.with_value { patient_date_of_birth(@consent_form) }
            end
            summary_list.with_row do |row|
              row.with_key { "Postcode" }
              row.with_value { @consent_form.address_postcode }
            end
            summary_list.with_row do |row|
              row.with_key { "School" }
              row.with_value { patient_school(@consent_form) }
            end
            summary_list.with_row do |row|
              row.with_key { "Parent" }
              row.with_value { format_parent_with_relationship(@consent_form.parent_relationship, include_phone: false) }
            end
          end %>

      <p class="nhsuk-body">
        <%= link_to "View full consent response", consent_form_path(@consent_form) %>
      </p>

      <%= govuk_button_link_to "Create new record", patient_consent_form_path(@consent_form), secondary: true %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-two-thirds">
    <%= render AppPatientSearchFormComponent.new(
          @form,
          url: search_consent_form_path(@consent_form),
          heading_level: 2,
          show_aged_out_of_programmes: true,
        ) %>

    <%= render AppSearchResultsComponent.new(@pagy, label: "children") do %>
      <% @patients.each do |patient| %>
        <%= render AppPatientSearchResultCardComponent.new(
              patient,
              link_to: match_consent_form_path(@consent_form, patient),
              show_parents: true,
              show_postcode: true,
              show_school: true,
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
