<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: session_consents_unmatched_responses_path(@consent_form.session.id),
        name: "school page",
      ) %>
<% end %>

<% page_title = "Search for a child record" %>
<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    Consent response from <%= @consent_form.parent_name %>
  </span>
  <%= page_title %>
<% end %>

<%= render AppDetailsComponent.new(summary: "Details given in consent response", open: true, expander: true) do %>
  <%= render AppMatchingCriteriaComponent.new(consent_form: @consent_form) %>
<% end %>

<%= render AppCardComponent.new do |c|
      c.with_heading { "Children in this cohort" }
      if @patient_sessions.count > 0
        render AppSessionPatientTableComponent.new(
          patient_sessions: @patient_sessions,
          columns: %i[name postcode dob select_for_matching],
          section: :matching,
          consent_form: @consent_form,
        )
      else
        render AppEmptyListComponent.new
      end
    end %>
