<% content_for :before_main do %>
  <%= govuk_back_link(href: consent_forms_path) %>
<% end %>

<%= h1 "Consent response from #{@consent_form.parent_full_name}" %>

<ul class="app-action-list">
  <li class="app-action-list__item">
    <%= link_to "Match", search_consent_form_path(@consent_form) %>
  </li>
  <li class="app-action-list__item">
    <%= link_to "Create new record", patient_consent_form_path(@consent_form) %>
  </li>
  <li class="app-action-list__item">
    <%= link_to "Archive", archive_consent_form_path(@consent_form) %>
  </li>
</ul>

<%= render AppConsentFormCardComponent.new(@consent_form) %>

<%= render AppParentCardComponent.new(parent_relationship: @consent_form.parent_relationship) %>

<%= render AppCardComponent.new do |card| %>
  <% card.with_heading(level: 2) { "Child" } %>
  <%= render AppChildSummaryComponent.new(@consent_form) %>
<% end %>

<%= render AppHealthAnswersCardComponent.new(@consent_form) %>
