<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: session_consents_unmatched_responses_path(@consent_form.original_session),
        name: "school page",
      ) %>
<% end %>

<% page_title = "Search for a child record" %>
<%= h1 page_title: do %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2">
    Consent response from <%= @consent_form.parent_full_name %>
  </span>
  <%= page_title %>
<% end %>

<%= render AppDetailsComponent.new(summary: "Details given in consent response", open: true, expander: true) do %>
  <%= render AppMatchingCriteriaComponent.new(consent_form: @consent_form) %>
<% end %>

<%= render AppCardComponent.new do |c|
      c.with_heading { "Children in this cohort" }
      render AppSessionPatientTableComponent.new(
        columns: %i[name postcode year_group select_for_matching],
        consent_form: @consent_form,
        patient_sessions: @patient_sessions,
        section: :matching,
        year_groups: @consent_form.original_session.year_groups,
      )
    end %>
