<% content_for :before_main do %>
  <%= govuk_back_link(href: session_patient_programme_consent_path) %>
<% end %>

<%= form_with model: @consent, url: withdraw_session_patient_programme_consent_path, method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <% page_title = "Withdraw consent" %>
  <%= h1 page_title: do %>
    <span class="nhsuk-caption-l">
      Consent response from <%= @consent.name %>
    </span>
    <%= page_title %>
  <% end %>

  <%= f.govuk_radio_buttons_fieldset :reason_for_refusal, legend: { text: "Reason for refusal" } do %>
    <% consent_refusal_reasons(@consent).each_with_index do |refusal_reason, index| %>
      <%= f.govuk_radio_divider if refusal_reason.divider %>

      <%= f.govuk_radio_button :reason_for_refusal, refusal_reason.value,
                               label: { text: refusal_reason.label },
                               link_errors: index.zero? %>
    <% end %>
  <% end %>

  <%= f.govuk_text_area :notes, label: { text: "Notes", size: "m" } %>

  <%= f.govuk_submit "Withdraw consent" %>
<% end %>
