<!DOCTYPE html>
<html lang="en" class="nhsuk-template">
  <head>
    <meta charset="utf-8">
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1, viewport-fit=cover" %>
    <%= tag :meta, name: "theme-color", content: @theme_colour %>
    <%= tag :meta, name: "format-detection", content: "telephone=no" %>

    <title><%= page_title(@service_name) %></title>

    <%= stylesheet_link_tag @assets_name, "data-turbo-track": Rails.env.development? ? "" : "reload" %>
    <%= javascript_include_tag @assets_name, "data-turbo-track": Rails.env.development? ? "" : "reload", type: "module" %>

    <%= icon_link_tag "favicon.ico", rel: "icon", sizes: "48x48" %>
    <%= icon_link_tag "favicon.svg", rel: "icon", sizes: "any", type: "image/svg+xml" %>
    <%= icon_link_tag "icon-mask.svg", rel: "mask-icon", color: @theme_colour %>
    <%= icon_link_tag "#{@assets_name}/icon-180.png", rel: "apple-touch-icon" %>
    <%= manifest_link_tag @assets_name, rel: "manifest" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= yield :head %>

    <%= opengraph_image_tag @service_url, "#{@assets_name}/opengraph-image.png" %>
  </head>

  <body class="nhsuk-template__body">
    <script>
      document.body.className += ' js-enabled' +
         ('noModule' in HTMLScriptElement.prototype
           ? ' nhsuk-frontend-supported'
           : '');
    </script>

    <%= govuk_skip_link %>

    <%= render "layouts/header" %>

    <div class="nhsuk-width-container">
      <%= yield :before_main %>

      <main class="nhsuk-main-wrapper" id="main-content" role="main">
        <%= render(AppFlashMessageComponent.new(flash: flash)) %>

        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>

    <%= yield :after_main %>

    <% if current_user.present? %>
      <%= render "layouts/timeout_warning" %>
    <% end %>

    <footer class="nhsuk-footer" role="contentinfo">
      <div class="nhsuk-width-container">
        <div class="nhsuk-footer__meta">
          <h2 class="nhsuk-u-visually-hidden">Support links</h2>
          <ul class="nhsuk-footer__list">
            <li class="nhsuk-footer__list-item">
              <%= link_to "Accessibility statement", :accessibility_statement, classes: "nhsuk-footer__list-item-link" %>
            </li>
            <% if @privacy_policy_url %>
              <li class="nhsuk-footer__list-item">
                <%= link_to "Privacy policy", @privacy_policy_url, classes: "nhsuk-footer__list-item-link" %>
              </li>
            <% end %>
            <% if @service_guide_url %>
              <li class="nhsuk-footer__list-item">
                <%= link_to "#{t("service.guide.title")} (opens in a new tab)", @service_guide_url, classes: "nhsuk-footer__list-item-link", target: "_blank" %>
              </li>
            <% end %>
          </ul>
          <% if app_version %>
            <p class="nhsuk-body-s nhsuk-u-secondary-text-colour">
              <code><%= app_version %></code>
            </p>
          <% end %>
          <p class="nhsuk-body-s">&copy; NHS England</p>
        </div>
      </div>
    </footer>
  </body>
</html>
