<!DOCTYPE html>
<html lang="en" class="nhsuk-template">
  <head>
    <meta charset="utf-8">
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>

    <title><%= page_title(@service_name) %></title>

    <%= stylesheet_link_tag "accessible-autocomplete.min", "data-turbo-track": Rails.env.development? ? "" : "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.development? ? "" : "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": Rails.env.development? ? "" : "reload", defer: true %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= yield :head %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="nhsuk-template__body<%= ' app-signed-in' if current_user.present? %>">
    <script>
      document.body.className += ' js-enabled' +
         ('noModule' in HTMLScriptElement.prototype
           ? ' govuk-frontend-supported'
           : '');
    </script>

    <a class="nhsuk-skip-link" href="#main-content">Skip to main content</a>

    <%= render "header" %>

    <%= yield :before_main %>

    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper" id="main-content" role="main">
        <%= render(AppFlashMessageComponent.new(flash: flash)) %>

        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>

    <%= yield :after_main %>

    <footer role="contentinfo">
      <div class="nhsuk-footer-container">
        <div class="nhsuk-width-container">
          <h2 class="nhsuk-u-visually-hidden">Support links</h2>
          <div class="nhsuk-footer">
            <ul class="nhsuk-footer__list">
              <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                <%= link_to "Accessibility statement", :accessibility_statement, classes: "nhsuk-footer__list-item-link" %>
              </li>
              <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                <% if @privacy_policy_url %>
                  <%= link_to "Privacy policy", @privacy_policy_url, classes: "nhsuk-footer__list-item-link" %>
                <% end %>
              </li>
              <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                <%= link_to "#{t("guide.show.title")} (opens in a new tab)", t("service.guide"), classes: "nhsuk-footer__list-item-link", target: "_blank" %>
              </li>
            </ul>
            <p class="nhsuk-footer__copyright">&copy; NHS England</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
