<!DOCTYPE html>
<html lang="en" class="nhsuk-template">
  <head>
    <meta charset="utf-8">
    <title><%= page_title(@service_name) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="nhsuk-template__body">
    <script>
      document.body.className += ' js-enabled' +
         ('noModule' in HTMLScriptElement.prototype
           ? ' govuk-frontend-supported'
           : '');
    </script>

    <a class="nhsuk-skip-link" href="#main-content">Skip to main content</a>

    <%= yield :before_main %>

    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper" id="main-content" role="main">
        <%= render(AppFlashMessageComponent.new(flash: flash)) %>

        <%= yield :before_content %>

        <%= yield %>
      </main>
    </div>

    <%= yield :after_main %>
  </body>
</html>
