<%= render "sessions/header" %>

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    <%= render AppPatientSearchFormComponent.new(
          @form,
          url: session_patients_path(@session),
          current_team:,
          programmes: @session.programmes,
          programme_statuses: @programme_statuses,
          registration_statuses: @registration_statuses,
          year_groups: @session.year_groups,
        ) %>
  </div>

  <div class="app-grid-column-results">
    <%= render AppSessionNeedsReviewComponent.new(@session) %>

    <%= render AppSearchResultsComponent.new(@pagy, label: "children") do %>
      <% @patients.each do |patient| %>
        <%= render AppPatientSessionSearchResultCardComponent.new(
              patient:,
              session: @session,
              programmes: @form.programmes,
              return_to: :patients,
              show_notes: true,
              show_programme_status: true,
              show_registration_status: @registration_statuses.present?,
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
